In [1]:
options(jupyter.rich_display = FALSE)

Looping
======

"Looping" (also known as the repetition structure) refers to repeating a block of code as long as a condition is true. It is one of the fundamental structures making up programs, along with _sequential execution_ and _branching_ (decisions).

In this notebook we will describe loops in the general sense, as used in many programming languages. However, in R you don't need to use loops as often as in other languages, mostly because they are hidden inside the functions we call. For example, the `mean()` function takes a vector, adds up all elements by using a loop over it, and returns their mean. All vectorized operations have loops hidden inside them.

The while loop
--------------

Here is a simple example: Print the squares of 1, 2, ... 10.

In [1]:
i <- 1 # initialization
while (i<=10) {  # condition
    cat(i,i^2,"\n")
    i <- i+1  # update
}

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

The general structure of the `while` loop is as follows:

    <initialization>
    while( <condition> ) {
        <statements>
        <update variables>
    }

The `<condition>` is a Boolean expression, usually involving existing variables. First, the condition is evaluated. If true, the block is executed (this is called one _iteration_). When the block is completed, the condition is reevaluated and the block is re-executed if necessary.

In general, we want the condition to become false eventually (except for infinite loops -- see below). So, the variables of the program must be updated within the block to ensure that. Without this update the loop would not terminate.

<h3>Example: Find the sum of elements in a vector</h3>

In [4]:
mydata <- c(1,4,2,5,1,4,6,2,0)
sum <- 0
i <- 1
while (i<=length(mydata)){
    sum <- sum + mydata[i]
    i <- i + 1
}
sum

[1] 25

<h3>Example: Find the maximum element in a vector</h3>

In [5]:
mydata <- c(1,4,2,5,1,4,6,2,0)
max <- mydata[1]
i <- 2
while (i<=length(mydata)){
    if(mydata[i]>max)
        max <- mydata[i]
    i <- i + 1
}
max

[1] 6

<h3>Example: Read numbers from keyboard, store in a vector</h3>

In [6]:
n_data <- as.numeric(readline("How many data points? "))
mydata <- c()
i <- 1
while (i<=n_data){
    x <- as.numeric(readline("Enter a number: "))
    mydata <- c(mydata,x)
    i <- i+1
}
mydata

[1] 4 2 7 8 1

The for loop
-----------
This is an alternative repetition structure. The `for` statement does not take a Boolean condition. Instead, it takes elements from a vector one by one, and runs the loop body with the current element. The loop terminates when the last element is used.

In [7]:
for(i in 1:10) {
    cat(i,i^2,"\n")
}

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In many cases `for` is simpler than `while`, especially when you need to iterate over the elements of a vector. We can rewrite the previous examples with `for` as follows:

In [9]:
mydata <- c(1,4,2,5,1,4,6,2,0)
sum <- 0
for (d in mydata)
    sum <- sum + d
sum

[1] 25

The line `for(d in mydata)` means that `d` is first assigned to `mydata[1]`, then to `mydata[2]`, etc, until all the elements in `mydata` are used up.

Here is the `for` implementation of the code that finds the maximum value in a vector.

In [11]:
mydata <- c(1,4,2,5,1,4,6,2,0)
max <- mydata[1]
for(d in mydata) if(d>max) max <- d
max

[1] 6

Note that by using `for` you don't need to keep track of the element index. This is OK if you are interested in the element values only, but it might not work if the element's location is relevant, such as the following example.

<h3>Example: Find the index of the maximum value in a vector</h3>

In [12]:
mydata <- c(1,4,2,5,1,4,6,2,0)
max <- mydata[1]
maxindex <- 1
i <- 2
while (i<=length(mydata)){
    if(mydata[i]>max){
        maxindex <- i
        max <- mydata[i]
    }
    i = i + 1
}
cat(maxindex, max)

7 6

The break statement
---------------

When the program encounters a `break` statement, it terminates the loop. The remainder of the block is skipped over.

In [13]:
i <- 1
while(i<=10){
    if(i==7)
        break
    cat("i =",i,"\n")
    i <- i+1
}

i = 1
i = 2
i = 3
i = 4
i = 5
i = 6

In [14]:
for(i in 1:10){
    if (i==7)
        break
    cat("i =",i,"\n")
}

i = 1
i = 2
i = 3
i = 4
i = 5
i = 6

<h3>Example: Determine if a given number is prime</h3>

In [19]:
n <- 118876487131
prime <- TRUE # assume prime unless proven otherwise
i <- 2
while (i*i <= n){  # check only up to the square root of n
    if (n%%i == 0){
        prime <- FALSE
        break
    }
    i <- i+1
}
if (!prime) cat(n,"is not prime;",i,"divides it.")

118876487131 is not prime; 61 divides it.

<h3>Example: Read numbers from keyboard, store in a vector</h3>

In [2]:
data <- c()
while (TRUE){
    x <- as.numeric(readline("Enter a number: "))
    if (is.na(x))
        break
    data <- c(data,x)
}
data

Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”

[1]  3  6 -2

The next statement
-----------------

When a `next` statement is encountered, the program returns to the beginning of the loop, skipping over the remaining statements. Caution: If the update statement is located after the `next`, the loop may not terminate.

In [23]:
i<-0
while(i<=10){
    i <- i+1
    if( i%%3==0 )
        next
    cat(i, "")
}

1 2 4 5 7 8 10 11

<h3>Example: Rejecting invalid values at input</h3>

In [3]:
mydata <- c()
while (TRUE){
    x <- as.numeric(readline("Enter a number: "))
    if (is.na(x))
        break
    if(x<0 || x>100){
        print("Invalid range: Must be between 0 and 100.")
        next
    }
    mydata <- c(mydata,x)
}
mydata

[1] "Invalid range: Must be between 0 and 100."
[1] "Invalid range: Must be between 0 and 100."

Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”

[1] 5 3

The repeat loop
------------
Above we set up an _infinite loop_ with `while(TRUE){...}`, and used a `break` statement to end the loop. The `repeat` statement provides the same functionality. It does not take any test for repetition. To terminate it, you must `break` out of it.

In [25]:
i <- -2
repeat {
    i <- i + 3
    cat(i,"")
    if(i>10) break
}

1 4 7 10 13

The `next` statement works in the same way in `repeat` loops.

In [26]:
i <- -2
repeat {
    i <- i + 1
    if (i%%3==0) next
    cat(i,"")
    if(i>10) break
}

-1 1 2 4 5 7 8 10 11

Nested loops
-----------

A loop body can contain anything, including other loops. As an example, consider two vectors, and list all products of numbers where the first factor comes from the first vector, and the second vector comes from the second vector.

In [29]:
a <- 2
b <- 7
cat(a, "*", b, "=", a*b, "\n")

2 * 7 = 14

In [27]:
a <- 2
b_vector <- c(7,8,9)
for (b in b_vector){
    cat(a, "*", b, "=", a*b, "\n")    
}

2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [28]:
a_vector <- c(2,3,4,5,6)
b_vector <- c(7,8,9)
for (a in a_vector){
    for (b in b_vector){
        cat(a, "*", b, "=", a*b, "\n")
    }
}

2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

<h3>Example: List Pythagorean triples </h3>
A _Pythagorean triple_ consists of three integers a,b,c such that $a^2 + b^2 = c^2$ holds. Let us determine all Pythagorean triplets such that $a,b<100$.

In [32]:
for (a in 1:100)
    for(b in a:100)
        for(c in b:150)
            if (a*a + b*b == c*c)
                cat(a,b,c,"\n")

3 4 5
5 12 13
6 8 10
7 24 25
8 15 17
9 12 15
9 40 41
10 24 26
11 60 61
12 16 20
12 35 37
13 84 85
14 48 50
15 20 25
15 36 39
16 30 34
16 63 65
18 24 30
18 80 82
20 21 29
20 48 52
20 99 101
21 28 35
21 72 75
24 32 40
24 45 51
24 70 74
25 60 65
27 36 45
28 45 53
28 96 100
30 40 50
30 72 78
32 60 68
33 44 55
33 56 65
35 84 91
36 48 60
36 77 85
39 52 65
39 80 89
40 42 58
40 75 85
40 96 104
42 56 70
45 60 75
48 55 73
48 64 80
48 90 102
51 68 85
54 72 90
56 90 106
57 76 95
60 63 87
60 80 100
60 91 109
63 84 105
65 72 97
66 88 110
69 92 115
72 96 120
75 100 125
80 84 116

**Question.** We get repetitions such as `3 4 5` and `4 3 5`, which are really not different. How do we remove such repetitions?

<h3>Example: Print a triangle of characters</h3>

In [33]:
for (row in 1:10){
    for (col in 1:row)
        cat("*")
    cat("\n")
}

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
for (row in 1:10){
    for (col in row:10)
        cat("*")
    cat("\n")
}

Further examples
--------------
<h3>Fibonacci sequence</h3>
A _Fibonacci sequence_ starts with 1 and 1, and each new value is the sum of the two previous values. Formally:
$$\begin{eqnarray}
F_1 &=& 1\\
F_2 &=& 1\\
F_{n} &=& F_{n-1} + F_{n-2}
\end{eqnarray}$$

Each number in this sequence is called a _Fibonacci number_. Let us write R code that displays the first 20 Fibonacci numbers.

In [4]:
f1 <- 1
f2 <- 1
cat(f1,"\n")
cat(f2,"\n")

1
1

In [5]:
for (i in 3:20){
    temp <- f1
    f1 <- f2
    f2 <- f2 + temp
    cat(f2,"\n")
}

2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765

<h3>Compound interest</h3>

In [7]:
account_balance <- 10000
interest_rate <- 0.1
years <- 10
balance_vec <- account_balance
for (y in 1:years){
    account_balance <- account_balance * (1+interest_rate)
    balance_vec <- c(balance_vec, account_balance)
    cat("After",y,"years your account balance is",account_balance,"\n")
}

After 1 years your account balance is 11000
After 2 years your account balance is 12100
After 3 years your account balance is 13310
After 4 years your account balance is 14641
After 5 years your account balance is 16105.1
After 6 years your account balance is 17715.61
After 7 years your account balance is 19487.17
After 8 years your account balance is 21435.89
After 9 years your account balance is 23579.48
After 10 years your account balance is 25937.42

In [10]:
balance_vec[10]

[1] 23579.48

<h3>Series sum</h3>
Evaluate the sum $$\sum_{i=1}^{n} 2^{-i} = \frac{1}{2} + \frac{1}{4} +\ldots + \frac{1}{2^n}$$ for given $n$.

In [ ]:
n <- 5
total <- 0
for (i in 1:n) {
    total <- total + 1/2^i
}
total

In [ ]:
n <- 10
total <- 0
for (i in 1:n) {
    total <- total + 1/2^i
}
total

As $n\rightarrow\infty$, the sum must approach 1. To see this, let us wrap another loop around the code to change n.

In [ ]:
for (n in 2:20){
    total <- 0
    for (i in 1:n) {
        total <- total + 1/2^i
    }
    cat("n =",n,", series total =",total,"\n")
}

In [ ]:
n=1000
for (i in 1:n){
    x <- runif(1,-1,1)
    y <- runif(1,-1,1)
    if (x*x + y*y <= 1)
        total <- total + 1
}
total / n