# FUNCTIONS

Thanks to r development team, we have many useful functions that are promptly available.

But what if we want to do sth new and untapped by the existing functions?

Write your own one...

Now, write a simple function that takes a single value and adds 3 to that value

In [3]:
add3 <- function(input)
{
    input + 3
}

The "input" is the argument to the function. It can be any legal object name, and any number of arguments can be "passed" to the function

Note that although you can create one-liner functions w/o curly braces, you need them for multi-line ones

Run that function for let's say 10

In [4]:
add3(10)

[1] 13

Now write a similar function that first adds 3 and then multiplies the result with an arbitrary number between 1 and 10, and execute the function with 10 as input

In [7]:
add3b <- function(input)
{
    output <- input + 3
    rand_num <- sample(10, 1)
    result <- output * rand_num
    return(result)
}

In [8]:
add3b(10)

[1] 130

It is good practice to save intermediary steps into new objects and tell the function which object to return explicitly in the last line

Now put two new lines after return: Get x1000 the result and return it again

In [13]:
add3c <- function(input)
{
    output <- input + 3
    rand_num <- sample(10, 1)
    result <- output * rand_num
    return(result)
    result <- 1000 * result
    return(result)
}

In [14]:
add3c(10)

[1] 65

See, the execution stops at the first "return" line that R encounters, no further lines are interpreted in the function.

**So only the first "return" line that R interpreter encounters is executed and function stops there**

Now return the result and the rand_num together

In [3]:
add3d <- function(input)
{
    output <- input + 3
    rand_num <- sample(10, 1)
    result <- output * rand_num
    return(result, rand_num)
}

In [4]:
add3d(10)

ERROR: Error in return(result, rand_num): multi-argument returns are not permitted

Why did it happen? Only one return line is executed and it can return only ONE object

So how can we get both the result and the rand_num?

In [5]:
add3e <- function(input)
{
    output <- input + 3
    rand_num <- sample(10, 1)
    result <- output * rand_num
    return(c(result, rand_num))
}

In [6]:
add3e(10)

[1] 65  5

Well, then make into a single object by "c" function!

Now check the contents of add3e, output and rand_num

In [7]:
add3e

function(input)
{
    output <- input + 3
    rand_num <- sample(10, 1)
    result <- output * rand_num
    return(c(result, rand_num))
}

In [8]:
output

ERROR: Error in eval(expr, envir, enclos): object 'output' not found

In [9]:
rand_num

ERROR: Error in eval(expr, envir, enclos): object 'rand_num' not found

We see there is the function add3e with its code but output and rand_num do not exist, why???

Because they only exist in the scope of the function that they were defined.

They do not exist outside the function

They are created when the function is executed and deleted when the execution stops

Now first create an object named output with a value 1e6 (shorthand for one million in scientific notation)

Then run the function again and see the content of output

In [10]:
output <- 1e6
add3e(10)
output

[1] 39  3

[1] 1e+06

Although we provided a large value for output, it was disregarded inside the function which also had an output object, then we see that output still exists after the function was executed and with the original value we provided

Objects with the same names can exist in different scopes - called environments - that do not interfere with each other.

For the time being, just now that the objects created inside a function only exist there. And the objects created inside a function do not modify the objects created outside the function and with the same name

Now provide a default value to argument input as 10, and run the function again without any arguments supplied

In [11]:
add3f <- function(input = 10)
{
    output <- input + 3
    rand_num <- sample(10, 1)
    result <- output * rand_num
    return(c(result, rand_num))
}

In [12]:
add3f()

[1] 65  5

See, when you provide a default value to a function, that value is assumed when you don't pass a value explicitly

Now, make the "10" in sample a second argument that you can change, and provide "10" as the default value

In [23]:
add3f <- function(input = 10, sample_max = 10)
{
    output <- input + 3
    rand_num <- sample(sample_max, 1)
    result <- output * rand_num
    return(c(result, rand_num))
}

Note that, we do not quote the parameter names, just as we do not quote created object names

And note we use "=" sign to provide default values to arguments, not "<-" assignment operator

Now run the function w/o any arguments passed

In [24]:
add3f()

[1] 117   9

Now provide 12 to the first argument

In [25]:
add3f(12)

[1] 90  6

In [17]:
add3f(12,)

[1] 15  1

In [18]:
add3f(input=12)

[1] 135   9

They are all accepted

Now provide 20 to the second argument

In [19]:
add3f(,20)

[1] 156  12

In [20]:
add3f(sample_max = 20)

[1] 78  6

Now provide 30 to the first and 50 to the second argument

In [21]:
add3f(30, 50)

[1] 726  22

In [22]:
add3f(input = 30, sample_max = 50)

[1] 132   4

Now provide the arguments in reverse order

In [ ]:
add3f(sample_max = 50, input = 30)

When arguments are passed by their names order is not important

If the names are not provided, order is important, and any skipped arguments should be delimited by commas if they are followed by any arguments for which we pass a value

See: To skip the second one, comma was not necessary:

add3f(10)

To skip the first one, comma is necessary:

add3f(,20)

IT IS GOOD PRACTICE TO PASS ARGUMENTS BY NAME AS MUCH AS POSSIBLE TO MAKE YOUR CODE MORE COMPREHENSIVE AND READABLE

AND PROVIDE SELF-EXPLANATORY ARGUMENT NAMES - JUST LIKE WE RECOMMENDED FOR THE OBJECT NAMES

Now let's write comments to the function, so a newcomer can easily understand what it is meant for:

In [ ]:
# add 3 to input, create an arbitrary number <= sample_max and multiply them
add3f <- function(input = 10, sample_max = 10)
{
    output <- input + 3 # add 3 to input
    rand_num <- sample(sample_max, 1) # get a single random number between 1 and sample_max
    result <- output * rand_num # multiply output and the rand_num
    return(c(result, rand_num)) # return the result and rand_num
}

The curly braces can be combined with the previous or next lines provided they stay between those lines

Like:

add3f <- function(input = 10, sample_max = 10) {

    output <- input + 3

add3f <- function(input = 10, sample_max = 10)

    { output <- input + 3
    

However it is good practice to keep them separate in another line:

Note that, some advanced text editors (like vim) can automatically detect curly braces as blocks and with some tools/extensions easily fold/unfold them to your liking with simple commands, so you can better arrange/view/edit longer codes

Indents in R are not obligatory and they do not alter how the code is interpreted unlike Python in which indents are crucial for how the blocks are interpreted

However good indentation is critical for code readability and editability

Now create a function which takes a matrix, a vector and a single value as arguments

Adds the matrix and vector

And multiplies with the single value

Let the default values be mat_4a, 1:4 and 2

And run it with default values ...

Note that function names must be explanatory (at least to you) just as other objects names should be

# Exercise 1

Create a function that will return the sum of 2 integers.

In [30]:
func_sum <- function(x,y){
  r <- x+y
  return(r)
}
func_sum(3,4)

[1] 7

# Exercise 2

 Create a function to print class of an argument

In [31]:
Class.Finder<-function(arg){
  return(class(arg))
}

value<-c(1,2,3,4,5)
Class.Finder(value)

[1] "numeric"

# Exercise 3

Create a user defined function to accept a name from the user

In [1]:
userread <- function()
{
  str <- readline(prompt="Enter the Name: ")
  return(as.character(str))
}

In [2]:
userread()

Enter the Name: merve

[1] "merve"

# Exercise 4

Create a function that given a vector and an integer will return how many times the integer appears inside the vector.

In [5]:
f.count <- function (v, x) {
  count <- 0
  
  for (i in 1:length(v)) {
    if (v[i] == x) {
      count <- count + 1
    }
  }
  count
}
f.count(c(1:9, rep(10, 100)), 10)

[1] 100

# Exercise 5

Create a function that given an integer will calculate how many divisors it has (other than 1 and itself).
Make the divisors appear by screen.

In [6]:
f.div <- function(n) {
  i <- 2
  counter <- 0
  
  while(i <= n/2) {
    if(n%%i==0) {
      counter <- counter + 1
      cat (i ,"\n")
    }
    i <- i + 1
  }
  counter
}

In [7]:
f.div(13)

[1] 0

In [8]:
f.div(16)

2
4
8

[1] 3

# Exercise 6

Create a function that given a vector will print by screen the mean and the standard deviation,
it will optionally also print the median.

In [41]:
desi <- function(x, med=FALSE) {
  
  mean <- round(mean(x), 1)
  stdv <- round(sd(x), 1)
  cat("Mean is:", mean, ", SD is:", stdv, "\n")
  
  if(med) {
    median <- median(x)
    cat("Median is:", median , "\n")
  }
}
desi(1:10, med=TRUE)

Mean is: 5.5 , SD is: 3
Median is: 5.5

# Exercise 7

Create a function that given a data frame, and a number or character will return the data frame with the character or number changed to NA.

In [42]:
f.na <- function (df, otherna) {
  for(i in 1:ncol (df)) {
    for(j in 1:nrow (df)) {
      if(df[j,i] == otherna) {
        df[j,i] <- NA
      }
    }
  }
  df
}
cars
f.na(cars, 10)

   speed dist
1   4      2
2   4     10
3   7      4
4   7     22
5   8     16
6   9     10
7  10     18
8  10     26
9  10     34
10 11     17
11 11     28
12 12     14
13 12     20
14 12     24
15 12     28
16 13     26
17 13     34
18 13     34
19 13     46
20 14     26
21 14     36
22 14     60
23 14     80
24 15     20
25 15     26
26 15     54
27 16     32
28 16     40
29 17     32
30 17     40
31 17     50
32 18     42
33 18     56
34 18     76
35 18     84
36 19     36
37 19     46
38 19     68
39 20     32
40 20     48
41 20     52
42 20     56
43 20     64
44 22     66
45 23     54
46 24     70
47 24     92
48 24     93
49 24    120
50 25     85

   speed dist
1   4      2
2   4     NA
3   7      4
4   7     22
5   8     16
6   9     NA
7  NA     18
8  NA     26
9  NA     34
10 11     17
11 11     28
12 12     14
13 12     20
14 12     24
15 12     28
16 13     26
17 13     34
18 13     34
19 13     46
20 14     26
21 14     36
22 14     60
23 14     80
24 15     20
25 15     26
26 15     54
27 16     32
28 16     40
29 17     32
30 17     40
31 17     50
32 18     42
33 18     56
34 18     76
35 18     84
36 19     36
37 19     46
38 19     68
39 20     32
40 20     48
41 20     52
42 20     56
43 20     64
44 22     66
45 23     54
46 24     70
47 24     92
48 24     93
49 24    120
50 25     85