WEEK 06 - PS

**LISTS**

What is a list in R?

A special kind of vector, items of which are any kind of R objects!

Let's first create a list:

In [1]:
john <- list("John",35,c("English","French"),TRUE)

names(john) <- c("name","age","speaks","married")

john

$name
[1] "John"

$age
[1] 35

$speaks
[1] "English" "French"

$married
[1] TRUE

Check the attributes, class, length and dimensions of the list

In [2]:
attributes(john)

class(john)

length(john)

$names
[1] "name"    "age"     "speaks"  "married"

[1] "list"

[1] 4

A list is much like a "set" in mathematics: It can include any other object, even other lists

Now first subset this list in different methods

First let's use the usual extract/subset operator "["

In [3]:
john13 <- john[1:3]
john13
class(john13)
length(john13)

$name
[1] "John"

$age
[1] 35

$speaks
[1] "English" "French"

[1] "list"

[1] 3

This is just a sublist, a portion of the original list object

Now let's use the double bracket "[[" to take out a single item of the list

In [4]:
john3<- john[[3]]
john3
class(john3)
length(john3)

[1] "English" "French"

[1] "character"

[1] 2

Compare it with john[3]

In [5]:
john3l <- john[3]
john3l
class(john3l)
length(john3l)

$speaks
[1] "English" "French"

[1] "list"

[1] 1

See a list is a collection of any type of R objects. Double bracket, takes out that single object. It is a character vector in this example and john[[3]] is a character vector with 2 a length of 2

john[3] is just a sublist of the original list. It is still a list of one item (and that item is a character vector of length 2)

Now subset 2:3 items of the list with "[[" operator

In [6]:
john[[2:3]]

ERROR: Error in john[[2:3]]: subscript out of bounds

We can subset only one item at a time with "[[" operator from a list

Now subset the second item with the "$" operator:

In [7]:
john_sp <- john$speaks
john_sp
class(john_sp)
length(john_sp)

[1] "English" "French"

[1] "character"

[1] 2

It works like "[[", takes out an item, not a sublist, but referred to by the object by the name

We can use names with "[[" as well

In [8]:
john_sp <- john[["speaks"]]
john_sp
class(john_sp)
length(john_sp)

[1] "English" "French"

[1] "character"

[1] 2

It is identical to john[[3]]

What about "[" and a name?

In [9]:
john_sp <- john["speaks"]
john_sp
class(john_sp)
length(john_sp)

$speaks
[1] "English" "French"

[1] "list"

[1] 1

It is identical to john[3]

Now create a list of 5 items, each holding values 1 to 5

In [10]:
list15 <- list(1:5)
list15
length(list15)

[[1]]
[1] 1 2 3 4 5

[1] 1

It is not what I wanted??

Any other try?

In [11]:
as.list(1:5)

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

[[4]]
[1] 4

[[5]]
[1] 5

In [12]:
m <- as.list(1:5)
length(m)

[1] 5

That's what I want!

as.list converts the vector and makes each item of the vector into a separate vector that are items of a list

Now let's create a list of 5 items each one being 1. 
Remember the "rep" function:

In [13]:
rep(1,5)

[1] 1 1 1 1 1

But I want to sublists of 1's :

In [14]:
list15 <- rep(list(1), 5)
list15

[[1]]
[1] 1

[[2]]
[1] 1

[[3]]
[1] 1

[[4]]
[1] 1

[[5]]
[1] 1

In [15]:
class(list15[1])
class(list15[[1]])

[1] "list"

[1] "numeric"

Now let's turn on to getting the classes of all items in the list

But it was cumbersome to write the same line with different indices each time

And we cannot use apply here, it doesn't have a margin

Let's use sth similar, that is used for applying over list items:

In [16]:
classes <- lapply(john, class)
classes
class(classes)

$name
[1] "character"

$age
[1] "numeric"

$speaks
[1] "character"

$married
[1] "logical"

[1] "list"

"lapply" iterates through list items and returns a list

But what if I just want a vector?

There are two ways:

1.) list is a special kind of vector, so let's simplify it by unlisting it:

In [17]:
classes <- unlist(lapply(john, class))
classes
class(classes)

       name         age      speaks     married
"character"   "numeric" "character"   "logical"

[1] "character"

2.) Or use a variant that may or may not simplify the result to a vector to our liking:

In [18]:
classes <- sapply(john, class)
classes
class(classes)

       name         age      speaks     married
"character"   "numeric" "character"   "logical"

[1] "character"

In fact we may tell sapply not to simplify - hence the same result as lapply

In [19]:
classes <- sapply(john, class, simplify = F)
classes
class(classes)

$name
[1] "character"

$age
[1] "numeric"

$speaks
[1] "character"

$married
[1] "logical"

[1] "list"

Now let's come to some applications with R

Let's write a very simple function: That takes a vector and returns the sum of the vector items

But we want both of those objects: A vector of multiple values and a single value, and we want them so that they can be accessed separately!

In [20]:
vec_and_sum <- function(vec)
{
    a <- sum(vec)
    return(list(vec, a))
}

In [21]:
result <- vec_and_sum(1:5)
result
result[[1]][2]

[[1]]
[1] 1 2 3 4 5

[[2]]
[1] 15

[1] 2

See we can use any of those two objects in our subsequent code by just subsetting single items from the result list

In [22]:
result[[1]]

[1] 1 2 3 4 5

In [23]:
result[[2]]

[1] 15

We can hold vectors of different lengths w/o recycling

In [24]:
pencils <-  list(A=1:5,B=seq(3,12,2),C=6:3)
pencils

$A
[1] 1 2 3 4 5

$B
[1]  3  5  7  9 11

$C
[1] 6 5 4 3

And we can rearrange the items using basic building blocks

Say, sort the list items according to their total sums

The following code follows these three steps (inside --> out)
- Get the total sums of each list item
- Get their order (in ascending order by default)
- Subset the items of list in that order - hence sort it

In [25]:
pencils[order(sapply(pencils,sum))]

$A
[1] 1 2 3 4 5

$C
[1] 6 5 4 3

$B
[1]  3  5  7  9 11

Let's write a function that reduces 100 TL from the salaries of employees older than 50.

In [26]:
myemployees<-list(age=c(34,45,67,61,45,53,46), married=c(T,F,T,T,F,F,T),
                  salary=c(1500,3500,4000,1500,2100,4200,3000),names=c("a","b","c","d","e","f","g"))
myemployees

$age
[1] 34 45 67 61 45 53 46

$married
[1]  TRUE FALSE  TRUE  TRUE FALSE FALSE  TRUE

$salary
[1] 1500 3500 4000 1500 2100 4200 3000

$names
[1] "a" "b" "c" "d" "e" "f" "g"

In [27]:
my_func<-function(list){
  for (x in 1:length(list$age)){
    if(list$age[x]>50){
      list$salary[x]<- list$salary[x]-100
    }
  }
  return(list)
}

In [28]:
my_func(myemployees)

$age
[1] 34 45 67 61 45 53 46

$married
[1]  TRUE FALSE  TRUE  TRUE FALSE FALSE  TRUE

$salary
[1] 1500 3500 3900 1400 2100 4100 3000

$names
[1] "a" "b" "c" "d" "e" "f" "g"

Now, write an R statement to split this string into two (word by word).

In [29]:
string <- "Grand Opening"
a <- strsplit(string," ")
list(a)
list(a[[1]][1], a[[1]][2])

[[1]]
[[1]][[1]]
[1] "Grand"   "Opening"

[[1]]
[1] "Grand"

[[2]]
[1] "Opening"