**DATA FRAMES**

A "data frame" is a special type of list that has equally sized vectors - that may be of different types - as items 

Now let's create some vectors of equal length and of different types

In [1]:
names <- c("Ian G.", "Ritchie", "Ian P.", "Roger", "Jon", "Steve", "Don", "David")

homework <- c(95, 60, 40, 40, 100, 25, 50, 94)

midterm<-c(80, 62, 38, 20, 74, 56, 18, 67)

final<-c(87, 50, 62, 10, 72, 61, 27, 60)

attendance<-c(T, F, F, F, T, T, T, T)

names
class(names)

homework
class(homework)

midterm
class(midterm)

final
class(final)

attendance
class(attendance)

[1] "Ian G."  "Ritchie" "Ian P."  "Roger"   "Jon"     "Steve"   "Don"
[8] "David"

[1] "character"

[1]  95  60  40  40 100  25  50  94

[1] "numeric"

[1] 80 62 38 20 74 56 18 67

[1] "numeric"

[1] 87 50 62 10 72 61 27 60

[1] "numeric"

[1]  TRUE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE

[1] "logical"

Let's create a data frame with the given information:

In [2]:
results_1 <- data.frame(names, homework, midterm, final, attendance)
results_1

  names   homework midterm final attendance
1 Ian G.   95      80      87     TRUE
2 Ritchie  60      62      50    FALSE
3 Ian P.   40      38      62    FALSE
4 Roger    40      20      10    FALSE
5 Jon     100      74      72     TRUE
6 Steve    25      56      61     TRUE
7 Don      50      18      27     TRUE
8 David    94      67      60     TRUE

Now, let's change the length of a vector

In [3]:
midterm[-1] # excludes 80
midterm_2 <- midterm[-1]
results_2<-data.frame(names, homework, midterm_2, final, attendance)
results_2

[1] 62 38 20 74 56 18 67

ERROR: Error in data.frame(names, homework, midterm_2, final, attendance): arguments imply differing number of rows: 8, 7

Hmm.. Did not recycle vectors of size 8 and 7.

Now let's try a similar thing

In [4]:
midterm_2 <- midterm[1:4]
midterm_2
results_2<- data.frame(names, homework, midterm_2, final, attendance)
results_2

[1] 80 62 38 20

  names   homework midterm_2 final attendance
1 Ian G.   95      80        87     TRUE
2 Ritchie  60      62        50    FALSE
3 Ian P.   40      38        62    FALSE
4 Roger    40      20        10    FALSE
5 Jon     100      80        72     TRUE
6 Steve    25      62        61     TRUE
7 Don      50      38        27     TRUE
8 David    94      20        60     TRUE

**See, when the vector lengths are multiples of one another, R recycles to get a data.frame**

**However when the lengths are not multiples, R throws an error and does not accept to recycle!**

Now let's first create a list and then convert it into a data.frame

In [5]:
results_2 <- list(names = names, homework = homework, midterm = midterm, final = final, attendance = attendance)
results_2
attributes(results_2)
class(results_2)
length(results_2)

$names
[1] "Ian G."  "Ritchie" "Ian P."  "Roger"   "Jon"     "Steve"   "Don"
[8] "David"

$homework
[1]  95  60  40  40 100  25  50  94

$midterm
[1] 80 62 38 20 74 56 18 67

$final
[1] 87 50 62 10 72 61 27 60

$attendance
[1]  TRUE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE

$names
[1] "names"      "homework"   "midterm"    "final"      "attendance"

[1] "list"

[1] 5

Does it have a dimension attribute? (Note that lists doesn't have...)

In [6]:
dim(results_2)

NULL

Before taking a look at the attributes of a data frame, let's create a sample matrix - to see the differences and similarities, and get its length:

In [7]:
a <- matrix(1:40, nrow = 8)
a
length(a)
dim(a)

     [,1] [,2] [,3] [,4] [,5]
[1,] 1     9   17   25   33
[2,] 2    10   18   26   34
[3,] 3    11   19   27   35
[4,] 4    12   20   28   36
[5,] 5    13   21   29   37
[6,] 6    14   22   30   38
[7,] 7    15   23   31   39
[8,] 8    16   24   32   40

[1] 40

[1] 8 5

See, a length of a matrix is the count of all cells, so it is basically (count of rows) * (count of columns)

Now create a data frame with "as.data.frame" function and see its attributes and length.

Not that "stringsAsFactors = F" is supplied so that character values are not automatically converted to categoric variables

In [8]:
results_3 <- as.data.frame(results_2, stringsAsFactors = F)
results_3
attributes(results_3)
class(results_3)
length(results_3)

  names   homework midterm final attendance
1 Ian G.   95      80      87     TRUE
2 Ritchie  60      62      50    FALSE
3 Ian P.   40      38      62    FALSE
4 Roger    40      20      10    FALSE
5 Jon     100      74      72     TRUE
6 Steve    25      56      61     TRUE
7 Don      50      18      27     TRUE
8 David    94      67      60     TRUE

$names
[1] "names"      "homework"   "midterm"    "final"      "attendance"

$row.names
[1] 1 2 3 4 5 6 7 8

$class
[1] "data.frame"

[1] "data.frame"

[1] 5

In [9]:
names(results_3)
colnames(results_3)
rownames(results_3)

[1] "names"      "homework"   "midterm"    "final"      "attendance"

[1] "names"      "homework"   "midterm"    "final"      "attendance"

[1] "1" "2" "3" "4" "5" "6" "7" "8"

For the time being, the stringsAsFactors = F is necessary so that characters are not automatically converted to factor levels. One by one!

It looks like a matrix, does it behave like a matrix?

Length returns number of columns for a data.frame, however for a matrix it gives rows*columns.

So technically a data.frame is closer to a list than it is to a matrix, althogh the appearance resembles a matrix

What else? For example, does it have a dimension attribute?

In [10]:
dim(results_3)

[1] 8 5

So a data frame is a list with dimension attribute. However it still has a length! Just like a list...

Just as a matrix is a vector with a dimension attribute but still has a length, just as a vector!

Let's convert it back to a list

In [11]:
as.list(results_3)

$names
[1] "Ian G."  "Ritchie" "Ian P."  "Roger"   "Jon"     "Steve"   "Don"
[8] "David"

$homework
[1]  95  60  40  40 100  25  50  94

$midterm
[1] 80 62 38 20 74 56 18 67

$final
[1] 87 50 62 10 72 61 27 60

$attendance
[1]  TRUE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE

Now, let's subset a data frame in different ways, and see the class of outputs

In [12]:
results_3[1]

  names
1 Ian G.
2 Ritchie
3 Ian P.
4 Roger
5 Jon
6 Steve
7 Don
8 David

In [13]:
class(results_3[1])

[1] "data.frame"

Since a data frame is a list of equal length vectors with a dimension attribute, we can subset it with single brackets and a single index, just like a list

And the output is a data.frame!

Now let's subset it with 2 indices, just like a matrix

In [14]:
results_3[1,1]

[1] "Ian G."

In [15]:
class(results_3[1,1])

[1] "character"

So when a df is subsetted with two indices, and items from a single column is returned, we get inside the object - the column

How about that:

In [16]:
results_3[1,1:2]

  names  homework
1 Ian G. 95

In [17]:
class(results_3[1,1:2])

[1] "data.frame"

When we subset two columns wtih two indices, the result is still a data.frame!

How about that:

In [18]:
results_3[1][1][1]

  names
1 Ian G.
2 Ritchie
3 Ian P.
4 Roger
5 Jon
6 Steve
7 Don
8 David

You just subset the first column of a data frame that is itself a single column!

In [19]:
class(results_3[1][1])

[1] "data.frame"

Now let's subset with double brackets, just like a list!

In [20]:
results_3[[1]]
class(results_3[[1]])

[1] "Ian G."  "Ritchie" "Ian P."  "Roger"   "Jon"     "Steve"   "Don"
[8] "David"

[1] "character"

So we get inside the object, just like list indexing with double brackets

And we can chain subsetting operators to get into the items, just like in lists:

In [21]:
results_3[[1]][1]
class(results_3[[1]][1])

[1] "Ian G."

[1] "character"

How about subsetting with names

In [22]:
results_3$names[1]
class(results_3$names[1])

[1] "Ian G."

[1] "character"

In [23]:
results_3[["names"]][1]
class(results_3[["names"]][1])

[1] "Ian G."

[1] "character"

What if we cbind a vector?

In [24]:
instruments <- c("vocals", "guitar", "drums", "bass", "hammond organ", "guitar", "hammond organ", "vocals")

In [25]:
results_4 <- cbind(results_3, instruments)
results_4
class(results_4)

  names   homework midterm final attendance instruments
1 Ian G.   95      80      87     TRUE      vocals
2 Ritchie  60      62      50    FALSE      guitar
3 Ian P.   40      38      62    FALSE      drums
4 Roger    40      20      10    FALSE      bass
5 Jon     100      74      72     TRUE      hammond organ
6 Steve    25      56      61     TRUE      guitar
7 Don      50      18      27     TRUE      hammond organ
8 David    94      67      60     TRUE      vocals

[1] "data.frame"

See it retains its data.frame status

Now add a column by assignment

In [26]:
results_4 <- results_3
results_4
results_4$instruments <- instruments
results_4
class(results_4)

  names   homework midterm final attendance
1 Ian G.   95      80      87     TRUE
2 Ritchie  60      62      50    FALSE
3 Ian P.   40      38      62    FALSE
4 Roger    40      20      10    FALSE
5 Jon     100      74      72     TRUE
6 Steve    25      56      61     TRUE
7 Don      50      18      27     TRUE
8 David    94      67      60     TRUE

  names   homework midterm final attendance instruments
1 Ian G.   95      80      87     TRUE      vocals
2 Ritchie  60      62      50    FALSE      guitar
3 Ian P.   40      38      62    FALSE      drums
4 Roger    40      20      10    FALSE      bass
5 Jon     100      74      72     TRUE      hammond organ
6 Steve    25      56      61     TRUE      guitar
7 Don      50      18      27     TRUE      hammond organ
8 David    94      67      60     TRUE      vocals

[1] "data.frame"

Add a column by indexing

In [27]:
results_4 <- results_3
results_4
results_4[6] <- instruments
results_4
class(results_4)
names(results_4)

  names   homework midterm final attendance
1 Ian G.   95      80      87     TRUE
2 Ritchie  60      62      50    FALSE
3 Ian P.   40      38      62    FALSE
4 Roger    40      20      10    FALSE
5 Jon     100      74      72     TRUE
6 Steve    25      56      61     TRUE
7 Don      50      18      27     TRUE
8 David    94      67      60     TRUE

  names   homework midterm final attendance V6
1 Ian G.   95      80      87     TRUE      vocals
2 Ritchie  60      62      50    FALSE      guitar
3 Ian P.   40      38      62    FALSE      drums
4 Roger    40      20      10    FALSE      bass
5 Jon     100      74      72     TRUE      hammond organ
6 Steve    25      56      61     TRUE      guitar
7 Don      50      18      27     TRUE      hammond organ
8 David    94      67      60     TRUE      vocals

[1] "data.frame"

[1] "names"      "homework"   "midterm"    "final"      "attendance"
[6] "V6"

In [28]:
# you should add the name of the last column manually!!!
names(results_4) <- c('names','homework','midterm','final',"attendance","instruments")
results_4
# alternatively,
names(results_4[6]) <- "instruments"
results_4
# or,
names(results_4[[6]]) <- "instruments"
results_4

  names   homework midterm final attendance instruments
1 Ian G.   95      80      87     TRUE      vocals
2 Ritchie  60      62      50    FALSE      guitar
3 Ian P.   40      38      62    FALSE      drums
4 Roger    40      20      10    FALSE      bass
5 Jon     100      74      72     TRUE      hammond organ
6 Steve    25      56      61     TRUE      guitar
7 Don      50      18      27     TRUE      hammond organ
8 David    94      67      60     TRUE      vocals

  names   homework midterm final attendance instruments
1 Ian G.   95      80      87     TRUE      vocals
2 Ritchie  60      62      50    FALSE      guitar
3 Ian P.   40      38      62    FALSE      drums
4 Roger    40      20      10    FALSE      bass
5 Jon     100      74      72     TRUE      hammond organ
6 Steve    25      56      61     TRUE      guitar
7 Don      50      18      27     TRUE      hammond organ
8 David    94      67      60     TRUE      vocals

  names   homework midterm final attendance instruments
1 Ian G.   95      80      87     TRUE      vocals
2 Ritchie  60      62      50    FALSE      guitar
3 Ian P.   40      38      62    FALSE      drums
4 Roger    40      20      10    FALSE      bass
5 Jon     100      74      72     TRUE      hammond organ
6 Steve    25      56      61     TRUE      guitar
7 Don      50      18      27     TRUE      hammond organ
8 David    94      67      60     TRUE      vocals

In [29]:
results_4 <- results_3
results_4
results_4[[6]] <- instruments
results_4
class(results_4)

  names   homework midterm final attendance
1 Ian G.   95      80      87     TRUE
2 Ritchie  60      62      50    FALSE
3 Ian P.   40      38      62    FALSE
4 Roger    40      20      10    FALSE
5 Jon     100      74      72     TRUE
6 Steve    25      56      61     TRUE
7 Don      50      18      27     TRUE
8 David    94      67      60     TRUE

  names   homework midterm final attendance V6
1 Ian G.   95      80      87     TRUE      vocals
2 Ritchie  60      62      50    FALSE      guitar
3 Ian P.   40      38      62    FALSE      drums
4 Roger    40      20      10    FALSE      bass
5 Jon     100      74      72     TRUE      hammond organ
6 Steve    25      56      61     TRUE      guitar
7 Don      50      18      27     TRUE      hammond organ
8 David    94      67      60     TRUE      vocals

[1] "data.frame"

They all work

And to delete

In [30]:
results_5 <- results_4
results_5
results_5[6] <- NULL
results_5

  names   homework midterm final attendance V6
1 Ian G.   95      80      87     TRUE      vocals
2 Ritchie  60      62      50    FALSE      guitar
3 Ian P.   40      38      62    FALSE      drums
4 Roger    40      20      10    FALSE      bass
5 Jon     100      74      72     TRUE      hammond organ
6 Steve    25      56      61     TRUE      guitar
7 Don      50      18      27     TRUE      hammond organ
8 David    94      67      60     TRUE      vocals

  names   homework midterm final attendance
1 Ian G.   95      80      87     TRUE
2 Ritchie  60      62      50    FALSE
3 Ian P.   40      38      62    FALSE
4 Roger    40      20      10    FALSE
5 Jon     100      74      72     TRUE
6 Steve    25      56      61     TRUE
7 Don      50      18      27     TRUE
8 David    94      67      60     TRUE

In [31]:
results_5 <- results_4
results_5
results_5[[6]] <- NULL
results_5

  names   homework midterm final attendance V6
1 Ian G.   95      80      87     TRUE      vocals
2 Ritchie  60      62      50    FALSE      guitar
3 Ian P.   40      38      62    FALSE      drums
4 Roger    40      20      10    FALSE      bass
5 Jon     100      74      72     TRUE      hammond organ
6 Steve    25      56      61     TRUE      guitar
7 Don      50      18      27     TRUE      hammond organ
8 David    94      67      60     TRUE      vocals

  names   homework midterm final attendance
1 Ian G.   95      80      87     TRUE
2 Ritchie  60      62      50    FALSE
3 Ian P.   40      38      62    FALSE
4 Roger    40      20      10    FALSE
5 Jon     100      74      72     TRUE
6 Steve    25      56      61     TRUE
7 Don      50      18      27     TRUE
8 David    94      67      60     TRUE

Now let's subset only vocals from the data frame

In [32]:
results_4 <- cbind(results_3, instruments)
results_4[results_4$instrument == "vocals",c(1,2,3)]

  names  homework midterm
1 Ian G. 95       80
8 David  94       67

And get only attendance values

In [33]:
results_4[results_4$instrument == "vocals","attendance"]

[1] TRUE TRUE

In [34]:
results_4[results_4$instrument == "vocals",]$attendance

[1] TRUE TRUE

In [35]:
results_4[results_4$instrument == "vocals",5]

[1] TRUE TRUE

In [36]:
class(results_4[results_4$instrument == "vocals",][5])

[1] "data.frame"

The last one returns a data.frame, other ones return boolean vectors

And we can subset with explicit boolean vectors - instead of boolean tests - of course

In [37]:
results_4[c(T,F,F,F,F,F,F,T),]

  names  homework midterm final attendance instruments
1 Ian G. 95       80      87    TRUE       vocals
8 David  94       67      60    TRUE       vocals

Let's add a row

In [38]:
glenn <- c("Glenn", 93, 74, 85, TRUE, "bass")
glenn
class(glenn)

[1] "Glenn" "93"    "74"    "85"    "TRUE"  "bass"

[1] "character"

In [39]:
results_6 <- rbind(results_4, glenn)
results_6

  names   homework midterm final attendance instruments
1 Ian G.  95       80      87    TRUE       vocals
2 Ritchie 60       62      50    FALSE      guitar
3 Ian P.  40       38      62    FALSE      drums
4 Roger   40       20      10    FALSE      bass
5 Jon     100      74      72    TRUE       hammond organ
6 Steve   25       56      61    TRUE       guitar
7 Don     50       18      27    TRUE       hammond organ
8 David   94       67      60    TRUE       vocals
9 Glenn   93       74      85    TRUE       bass

In [40]:
class(results_6$homework)

[1] "character"

See, since the numbers in the vector are coerced to characters, the related columns are also coerced to characters

So what should we do, to add a row, without messing up the column types?

In [41]:
glenn_2 <- list("Glenn", 93, 74, 85, TRUE, "bass")
glenn_2

[[1]]
[1] "Glenn"

[[2]]
[1] 93

[[3]]
[1] 74

[[4]]
[1] 85

[[5]]
[1] TRUE

[[6]]
[1] "bass"

In [42]:
results_6 <- rbind(results_4, glenn_2)
results_6

  names   homework midterm final attendance instruments
1 Ian G.   95      80      87     TRUE      vocals
2 Ritchie  60      62      50    FALSE      guitar
3 Ian P.   40      38      62    FALSE      drums
4 Roger    40      20      10    FALSE      bass
5 Jon     100      74      72     TRUE      hammond organ
6 Steve    25      56      61     TRUE      guitar
7 Don      50      18      27     TRUE      hammond organ
8 David    94      67      60     TRUE      vocals
9 Glenn    93      74      85     TRUE      bass

In [43]:
class(results_6$homework)

[1] "numeric"

Since data frame is a list, can we lapply or sapply through it?

In [44]:
lapply(results_6, class)

$names
[1] "character"

$homework
[1] "numeric"

$midterm
[1] "numeric"

$final
[1] "numeric"

$attendance
[1] "logical"

$instruments
[1] "factor"

In [45]:
sapply(results_6, class)

      names    homework     midterm       final  attendance instruments
"character"   "numeric"   "numeric"   "numeric"   "logical"    "factor"

Yes, surely we can!

 Let's create a simple data frame from 3 vectors. 
 Then, Order the entire data frame by the first column.

In [46]:
v <- c(45:41, 30:33)
b <- LETTERS[rep(1:3, 3)]
n <- c(1,6,3,5,2,4,6,9,2)

df <- data.frame(Age = v, Class = b, Grade = n)
df

  Age Class Grade
1 45  A     1
2 44  B     6
3 43  C     3
4 42  A     5
5 41  B     2
6 30  C     4
7 31  A     6
8 32  B     9
9 33  C     2

In [47]:
order(df$Age)
df[order(df$Age), ]

[1] 6 7 8 9 5 4 3 2 1

  Age Class Grade
6 30  C     4
7 31  A     6
8 32  B     9
9 33  C     2
5 41  B     2
4 42  A     5
3 43  C     3
2 44  B     6
1 45  A     1

For another exercise, use the (built-in) dataset VADeaths.
First, make sure the object is a data frame, if not change it to a data frame.

In [48]:
class(VADeaths)
df <- as.data.frame(VADeaths)
class(df)

[1] "matrix"

[1] "data.frame"

Now, create a new variable, named Total, which is the sum of each row.

In [49]:
df$Total <- df[, 1] + df[, 2] + df[, 3] + df[, 4]
df

      Rural Male Rural Female Urban Male Urban Female Total
50-54 11.7        8.7         15.4        8.4          44.2
55-59 18.1       11.7         24.3       13.6          67.7
60-64 26.9       20.3         37.0       19.3         103.5
65-69 41.0       30.9         54.6       35.1         161.6
70-74 66.0       54.3         71.1       50.0         241.4

Finally, change the order of the columns so total is the first variable.

In [50]:
df <- df[, c(5, 1:4)]
df

      Total Rural Male Rural Female Urban Male Urban Female
50-54  44.2 11.7        8.7         15.4        8.4
55-59  67.7 18.1       11.7         24.3       13.6
60-64 103.5 26.9       20.3         37.0       19.3
65-69 161.6 41.0       30.9         54.6       35.1
70-74 241.4 66.0       54.3         71.1       50.0

For our last execise, let's use the (built-in) dataset state.x77. 
Again, make sure the object is a data frame and if not change it to a data frame.

In [51]:
state.x77
class (state.x77)
df <- as.data.frame(state.x77)

               Population Income Illiteracy Life Exp Murder HS Grad Frost
Alabama         3615      3624   2.1        69.05    15.1   41.3     20
Alaska           365      6315   1.5        69.31    11.3   66.7    152
Arizona         2212      4530   1.8        70.55     7.8   58.1     15
Arkansas        2110      3378   1.9        70.66    10.1   39.9     65
California     21198      5114   1.1        71.71    10.3   62.6     20
Colorado        2541      4884   0.7        72.06     6.8   63.9    166
Connecticut     3100      5348   1.1        72.48     3.1   56.0    139
Delaware         579      4809   0.9        70.06     6.2   54.6    103
Florida         8277      4815   1.3        70.66    10.7   52.6     11
Georgia         4931      4091   2.0        68.54    13.9   40.6     60
Hawaii           868      4963   1.9        73.60     6.2   61.9      0
Idaho            813      4119   0.6        71.87     5.3   59.5    126
Illinois       11197      5107   0.9        70.14    10.3   52.6    127
Indiana         5313      4458   0.7        70.88     7.1   52.9    122
Iowa            2861      4628   0.5        72.56     2.3   59.0    140
Kansas          2280      4669   0.6        72.58     4.5   59.9    114
Kentucky        3387      3712   1.6        70.10    10.6   38.5     95
Louisiana       3806      3545   2.8        68.76    13.2   42.2     12
Maine           1058      3694   0.7        70.39     2.7   54.7    161
Maryland        4122      5299   0.9        70.22     8.5   52.3    101
Massachusetts   5814      4755   1.1        71.83     3.3   58.5    103
Michigan        9111      4751   0.9        70.63    11.1   52.8    125
Minnesota       3921      4675   0.6        72.96     2.3   57.6    160
Mississippi     2341      3098   2.4        68.09    12.5   41.0     50
Missouri        4767      4254   0.8        70.69     9.3   48.8    108
Montana          746      4347   0.6        70.56     5.0   59.2    155
Nebraska        1544      4508   0.6        72.60     2.9   59.3    139
Nevada           590      5149   0.5        69.03    11.5   65.2    188
New Hampshire    812      4281   0.7        71.23     3.3   57.6    174
New Jersey      7333      5237   1.1        70.93     5.2   52.5    115
New Mexico      1144      3601   2.2        70.32     9.7   55.2    120
New York       18076      4903   1.4        70.55    10.9   52.7     82
North Carolina  5441      3875   1.8        69.21    11.1   38.5     80
North Dakota     637      5087   0.8        72.78     1.4   50.3    186
Ohio           10735      4561   0.8        70.82     7.4   53.2    124
Oklahoma        2715      3983   1.1        71.42     6.4   51.6     82
Oregon          2284      4660   0.6        72.13     4.2   60.0     44
Pennsylvania   11860      4449   1.0        70.43     6.1   50.2    126
Rhode Island     931      4558   1.3        71.90     2.4   46.4    127
South Carolina  2816      3635   2.3        67.96    11.6   37.8     65
South Dakota     681      4167   0.5        72.08     1.7   53.3    172
Tennessee       4173      3821   1.7        70.11    11.0   41.8     70
Texas          12237      4188   2.2        70.90    12.2   47.4     35
Utah            1203      4022   0.6        72.90     4.5   67.3    137
Vermont          472      3907   0.6        71.64     5.5   57.1    168
Virginia        4981      4701   1.4        70.08     9.5   47.8     85
Washington      3559      4864   0.6        71.72     4.3   63.5     32
West Virginia   1799      3617   1.4        69.48     6.7   41.6    100
Wisconsin       4589      4468   0.7        72.48     3.0   54.5    149
Wyoming          376      4566   0.6        70.29     6.9   62.9    173
               Area
Alabama         50708
Alaska         566432
Arizona        113417
Arkansas        51945
California     156361
Colorado       103766
Connecticut      4862
Delaware         1982
Florida         54090
Georgia         58073
Hawaii           6425
Idaho           82677
Illinois        55748
Indiana         36097
Iowa            55941
Kansas          81787
Kentucky        39650
Louisiana       44930
Maine           30920
Maryland         9891
Massachusetts    7826
Michigan        56817
Minnesota       79289
Mississippi     47296
Missouri        68995
Montana        145587
Nebraska        76483
Nevada         109889
New Hampshire    9027
New Jersey       7521
New Mexico     121412
New York        47831
North Carolina  48798
North Dakota    69273
Ohio            40975
Oklahoma        68782
Oregon          96184
Pennsylvania    44966
Rhode Island     1049
South Carolina  30225
South Dakota    75955
Tennessee       41328
Texas          262134
Utah            82096
Vermont          9267
Virginia        39780
Washington      66570
West Virginia   24070
Wisconsin       54464
Wyoming         97203

[1] "matrix"

Now, find out how many states have an income of less than 4300.

In [52]:
nrow(subset(df, df$Income < 4300))

# alternatively,

df[df$Income < 4300, ]

[1] 20

               Population Income Illiteracy Life Exp Murder HS Grad Frost
Alabama         3615      3624   2.1        69.05    15.1   41.3     20
Arkansas        2110      3378   1.9        70.66    10.1   39.9     65
Georgia         4931      4091   2.0        68.54    13.9   40.6     60
Idaho            813      4119   0.6        71.87     5.3   59.5    126
Kentucky        3387      3712   1.6        70.10    10.6   38.5     95
Louisiana       3806      3545   2.8        68.76    13.2   42.2     12
Maine           1058      3694   0.7        70.39     2.7   54.7    161
Mississippi     2341      3098   2.4        68.09    12.5   41.0     50
Missouri        4767      4254   0.8        70.69     9.3   48.8    108
New Hampshire    812      4281   0.7        71.23     3.3   57.6    174
New Mexico      1144      3601   2.2        70.32     9.7   55.2    120
North Carolina  5441      3875   1.8        69.21    11.1   38.5     80
Oklahoma        2715      3983   1.1        71.42     6.4   51.6     82
South Carolina  2816      3635   2.3        67.96    11.6   37.8     65
South Dakota     681      4167   0.5        72.08     1.7   53.3    172
Tennessee       4173      3821   1.7        70.11    11.0   41.8     70
Texas          12237      4188   2.2        70.90    12.2   47.4     35
Utah            1203      4022   0.6        72.90     4.5   67.3    137
Vermont          472      3907   0.6        71.64     5.5   57.1    168
West Virginia   1799      3617   1.4        69.48     6.7   41.6    100
               Area
Alabama         50708
Arkansas        51945
Georgia         58073
Idaho           82677
Kentucky        39650
Louisiana       44930
Maine           30920
Mississippi     47296
Missouri        68995
New Hampshire    9027
New Mexico     121412
North Carolina  48798
Oklahoma        68782
South Carolina  30225
South Dakota    75955
Tennessee       41328
Texas          262134
Utah            82096
Vermont          9267
West Virginia   24070

The last step is to find out which is the state with the highest income.

In [53]:
df[max(df$Income)==df$Income, ]

       Population Income Illiteracy Life Exp Murder HS Grad Frost Area
Alaska 365        6315   1.5        69.31    11.3   66.7    152   566432

If you need, you may found more exercises here :)
https://www.r-exercises.com/start-here-to-learn-r/