# A Review of the Previous Topics

Let's start with matrices

A typical resident of the country of "Oburistan" consumes a simple basket of goods 
consisting only of life’s essentials: Soda, Pizza, and Hamburger. 
A year’s basket contains 1,000 sodas, 100 pizzas, and 50 hamburgers. 
The price of these goods in each of the past three years is given in the following table:

    >     [Soda] [Pizza] [Hamburger]
    > [2015] 1      8       10    
    > [2016] 1.5    8       10   
    > [2017] 1.5    8.5     11

Task-1: Create a 3x3 matrix called "Oburistan" to store these prices.

First, remember how to create a matrix.

In [1]:
Oburistan <-rbind(c(1,8,10), c(1.5,8,10), c(1.5,8.5,11))
Oburistan

     [,1] [,2] [,3]
[1,] 1.0  8.0  10
[2,] 1.5  8.0  10
[3,] 1.5  8.5  11

In [2]:
Oburistan <-cbind(c(1,1.5,1.5), c(8,8,8.5), c(10,10,11))
Oburistan

     [,1] [,2] [,3]
[1,] 1.0  8.0  10
[2,] 1.5  8.0  10
[3,] 1.5  8.5  11

In [3]:
Oburistan <- matrix(c(1, 8, 10, 1.5, 8, 10, 1.5, 8.5, 11), nrow=3, ncol=3)
Oburistan

     [,1] [,2] [,3]
[1,]  1    1.5  1.5
[2,]  8    8.0  8.5
[3,] 10   10.0 11.0

In [4]:
?matrix

Nope.. which one was the first? row or column?

In [5]:
Oburistan <- matrix(c(1, 8, 10, 1.5, 8, 10, 1.5, 8.5, 11), nrow=3, ncol=3, byrow=TRUE)
Oburistan

     [,1] [,2] [,3]
[1,] 1.0  8.0  10
[2,] 1.5  8.0  10
[3,] 1.5  8.5  11

Now, it is ok.

Task-2: Assign row and column names as shown in the table.

In [6]:
rownames(Oburistan) <- c("2015","2016","2017")
colnames(Oburistan) <- c("Soda", "Pizza", "Hamburger")
Oburistan

     Soda Pizza Hamburger
2015 1.0  8.0   10
2016 1.5  8.0   10
2017 1.5  8.5   11

Task-3: Calculate Cost of basket (CoB) for each year according to:

Cost of Basket = 1000 x price of a soda + 100 x price of a pizza + 50 x price of a hamburger

In [7]:
CoB<- Oburistan[,1]*1000 + Oburistan[,2]*100 + Oburistan[,3]*50
CoB

2015 2016 2017
2300 2800 2900

Task-4: Update Oburistan matrix by adding a «CoB» column to matrix with CoB values.

In [8]:
Oburistan <- cbind(Oburistan, CoB)
Oburistan

     Soda Pizza Hamburger CoB
2015 1.0  8.0   10        2300
2016 1.5  8.0   10        2800
2017 1.5  8.5   11        2900

Task-5: You have measured all values above in Oburistan currency (ORS) 

but you need to convert them to Turkish Lira.

Create a function called "ORS_to_TRY" to convert ORS to TRY. (Assume "1 ORS = 2 TRY")

In [9]:
ORS_to_TRY <- function(x) {x*2}

Task-6: Update Oburistan matrix by applying our function "ORS_to_TRY" to Oburistan matrix

In [10]:
ORS_to_TRY(Oburistan)

     Soda Pizza Hamburger CoB
2015 2    16    20        4600
2016 3    16    20        5600
2017 3    17    22        5800

Alternatively, use "apply"

In [11]:
apply(Oburistan, 2, ORS_to_TRY)

     Soda Pizza Hamburger CoB
2015 2    16    20        4600
2016 3    16    20        5600
2017 3    17    22        5800

What was the "2" above?

In [12]:
apply(Oburistan, 1, ORS_to_TRY)

          2015 2016 2017
Soda         2    3    3
Pizza       16   16   17
Hamburger   20   20   22
CoB       4600 5600 5800

To see the difference:

In [13]:
apply(Oburistan, 1, mean)
apply(Oburistan, 2, mean)

   2015    2016    2017
579.750 704.875 730.250

       Soda       Pizza   Hamburger         CoB
   1.333333    8.166667   10.333333 2666.666667

Yeah, got it.

In [14]:
Oburistan <- apply(Oburistan, 2, ORS_to_TRY)
Oburistan

     Soda Pizza Hamburger CoB
2015 2    16    20        4600
2016 3    16    20        5600
2017 3    17    22        5800

Task-5: Write a function named "CPI_calculator" to calculate CPI according to:

CPI = (CoB at current year / CoB at base year) x 100

Note that: Use 2015's CoB value as a default base year.

In [15]:
CPI_calculator <- function(x, base=4600){
  (x/base)*100
}

Task-6: Calculate CPI for each year using 2016 as base year.

In [16]:
CPI_calculator(Oburistan[,4])
CPI <- CPI_calculator(Oburistan[,4])

    2015     2016     2017
100.0000 121.7391 126.0870

Task-7: Update Oburistan matrix by adding a «CPI» column to matrix with CPI values.

In [17]:
cbind(Oburistan, CPI)
oburistan <- cbind(Oburistan, CPI)

     Soda Pizza Hamburger CoB  CPI
2015 2    16    20        4600 100.0000
2016 3    16    20        5600 121.7391
2017 3    17    22        5800 126.0870

Remember the QUIZ Question!

We were asked to create:

    >  $matrix
    >        [,1] [,2] [,3] [,4]
    >  [1,]    2    3    4    5
    >  [2,]    3    4    5    6
    >  [3,]    4    5    6    7
    >  [4,]    5    6    7    8

    >  $sum
    >  [1] 80

In [18]:
matrix_fnc <- function(x,y)
{
  special_matrix <- matrix(nrow = x, ncol = y)
  for (rw in 1:x){
    for(cl in 1:y){
      special_matrix[rw,cl] <- rw + cl 
    }
  }
  return(list(matrix=special_matrix, sum=sum(special_matrix)))
}

In [19]:
matrix_fnc(3,5)

$matrix
     [,1] [,2] [,3] [,4] [,5]
[1,]    2    3    4    5    6
[2,]    3    4    5    6    7
[3,]    4    5    6    7    8

$sum
[1] 75

And what if you are asked...

     > my_func(3,4)
     >       [,1] [,2] [,3] [,4]
     > [1,]    1    1    1    1
     > [2,]    1    0    0    1
     > [3,]    1    0    0    1
     > [4,]    1    0    0    1
     > [5,]    1    1    1    1

In [20]:
matrix_fnc <- function(x,y)
{
  special_matrix <- matrix(nrow = x, ncol = y)
  for (rw in 1:x){
    for(cl in 1:y){
      if(rw==1 || cl==1){
        special_matrix[rw,cl] <- 1
      }
    else if(rw==x || cl==y){
        special_matrix[rw,cl] <- 1
      }
      else{
        special_matrix[rw,cl] <- 0
      }
    }
  }
  return(list(matrix=special_matrix, sum=sum(special_matrix)))
}
    matrix_fnc(6,5)

$matrix
     [,1] [,2] [,3] [,4] [,5]
[1,]    1    1    1    1    1
[2,]    1    0    0    0    1
[3,]    1    0    0    0    1
[4,]    1    0    0    0    1
[5,]    1    0    0    0    1
[6,]    1    1    1    1    1

$sum
[1] 18

What if you are asked this one? Try yourself...

     > my_func(3,4)
     >       [,1] [,2] [,3] [,4]
     > [1,]    1    0    1    0
     > [2,]    0    1    0    1
     > [3,]    1    0    1    0

Let's continue with some function & loop exercises.

We have seen some functions throughout the course like mean(),sum(),sqrt() etc.

Can you create a function which can do what length() function does without using length function ?
    
You are required to use a while loop
    
Hint: And you can just play on how "mean" is calculated

In [21]:
my_length_fx <- function(input)
{
  i <- 1 
  
  while( mean(input) != sum(input) / i) # while two mean definitions are not equal
  { 
    i <- i + 1 
  }
  
  return(i)
  
}

In [22]:
my_length_fx(c(1,5,3,5,2,35,46,9,4))

[1] 9

Does it work for every vector?
Hmmm... The input should not be a vector sum of which is 0.

In [23]:
my_length_fx(c(-3,0,3))

[1] 1

So, can we find another method?

In [24]:
length_calculator <- function(vec){
  a <-0
  for(i in vec){
    a <- a + 1
  }
  return(a)
}

In [25]:
length_calculator(c(1,5,3,5,2,35,46,9,4))
length_calculator(c(-3,0,3))

[1] 9

[1] 3

Another simple exercise:

Suppose you are working for a travel company.

The company organizes a trip to Rome and they sell eveything included packages for 100TL for 1 person.

They also give group discounts, which works the following way:

For a purchase of more than 1 person, the per person package price becomes:

100-(the number of people in the group). 

For example, if you buy the package for 2 people, you pay: 2*(100-2) = 196TL in total.

The maximum discount you can get this way is 50TL per person.

So, for more than 50 people you still get 50TL discount per person.

For example, for 60 people the total price is 60*(100-50)= 3000TL

Write a function f(x), which calculates total cost given the number of people in the group.

The function should work for the case of only 1 person too.

In [26]:
f <- function(x){
  if(x==1){return(100)
  }else{
    if(x<51){
      return(x*(100-x))
    }else{
      return(x*50)
    }
  }
}
f(60)

[1] 3000

Write a function which sums the odd vector elements' squares using the control "next"

Examples:

    > a <- c(2,3,5,7,8)
    > math(a)
    > 83

    > b< -c(1,2,4,6,12,24)
    > math(b)
    > 1

    > d <-c(1,3,5,7)
    > math(d)
    > 84

In [27]:
math <- function(vec)
{
  summ <- 0 
  
  for (x in vec) 
  {
    
    if( x %% 2 == 0 ) 
    {
      next 
    }else{summ <- summ + x ^ 2 }
  }
  
  return(summ)
  
}
d<-c(1,3,5,7)
math(d)

[1] 84

Finally, a cute list question ^_^

Create "add" list containing French verb endings for verbs with one base for present tense

    > je(I) -> "e"
    > tu(you) -> "es"
    > elle(she) -> "e"
    > nous (we) -> "ons" 
    > vous(you) -> "ez" 
    > ils(they) -> "ent"

Create a list "verbs" containing the bases of verbs such as 
cherch (to search), regard (to watch), port (to wear)

Create a function "conjugaison" that will take the base of the verb as an input 
and would return the conjugations for the six subjects

The function should give the result below

    > conjugaison("travaill")
    > [1] "travaille"   "travailles"  "travaille"   "travaillons" "travaillez" "travaillent"

Hint: You may want to check the arguments for paste function

In [28]:
add <- list(je="e", tu="es", elle="e", nous="ons", vous="ez", ils="ent")
add

$je
[1] "e"

$tu
[1] "es"

$elle
[1] "e"

$nous
[1] "ons"

$vous
[1] "ez"

$ils
[1] "ent"

In [29]:
conjugaison <- function(verb)
{
  conj <- c()
  for(i in 1:6)
  {
    conj <- c(conj, paste(verb[1],add[i], sep = ""))
  }
  return(conj)   
}

In [30]:
conjugaison("travaill")

[1] "travaille"   "travailles"  "travaille"   "travaillons" "travaillez"
[6] "travaillent"

In [31]:
verbs <- list(to_search="cherch", to_watch="regard", to_wear="port")
lapply(verbs, conjugaison)
sapply(verbs, conjugaison)

$to_search
[1] "cherche"   "cherches"  "cherche"   "cherchons" "cherchez"  "cherchent"

$to_watch
[1] "regarde"   "regardes"  "regarde"   "regardons" "regardez"  "regardent"

$to_wear
[1] "porte"   "portes"  "porte"   "portons" "portez"  "portent"

     to_search to_watch  to_wear
[1,] cherche   regarde   porte
[2,] cherches  regardes  portes
[3,] cherche   regarde   porte
[4,] cherchons regardons portons
[5,] cherchez  regardez  portez
[6,] cherchent regardent portent