In [ ]:
options(jupyter.rich_display = F)

**IMPORTANT NOTICE:**

- **PLEASE MAKE SURE R THROWS NO ERROR WHEN YOUR R SCRIPT (BEFORE RENAMING TO A TXT FILE) IS SOURCED USING THE SOURCE BUTTON OR ALL LINES IN YOUR SCRIPT ARE EXECUTED**

- **MAKE SURE AL LINES IN YOUR FILE THAT ARE NOT INTENDED TO EXECUTE AS R COMMANDS SHOULD BE COMMENTED OUT WITH "#"**

- **YOU SHOULD NAME THE OBJECTS EXACTLY AS REQUIRED IN THE QUESTION. OTHERWISE, A CORRECT CODE WILL BE RENDERED AS INCORRECT. NOTE THAT R IS CASE SENSITIVE!**

- **CHECK THAT THE REQUIRED OBJECT'S VALUE IS EXACTLY THE SAME AS THE OUTPUT WE PROVIDE IN THE QUESTION** 

- **DON'T TRY TO CHEAT BY COPYING THE EXACT NUMBERS IN THE REQUIRED OUTPUT. WE WILL TRY OTHER INPUTS FOR THE EVALUATION, SO THIS APPROACH WON'T WORK! AND THAT MAY INDUCE CHEATING PROCEDURE. TRY TO WRITE THE REQUIRED CODE**

# TRIO LEGGENDARIO

## QUESTION

Create a vector named **maf** that is comprised of three elements:

- Name of first element is **"metin"** and value is **41**
- Name of second element is **"ali"** and value is **34**
- Name of third element is **"feyyaz"** and value is **34**

as such:

```r
maf

metin    ali feyyaz 
    41     34     34 
```

**Hint:**
- Use **c()** function and **assignment** operator
- Check that the maf vector prints the same as above

## ANSWER

In [ ]:
maf <- c(metin = 41, ali = 34, feyyaz = 34)
maf

For the following three questions, please copy the below code to your Rstudio session to create the **hundred** vector exactly as such:

```r
RNGversion("3.3.1")
set.seed(20191003)
hundred <- round(rnorm(10, 9, 0.5), 2)
names(hundred) <- letters[sample(10)]
hundred

    h     j     c     f     i     a     d     e     b     g 
 9.77  8.78  8.79  8.80  9.27  9.31  9.67 10.02  8.74  8.81 
```

These are hypothetical unordered performances of 10 atheletes (named a-j) in men's 100 meters sprint race

In [ ]:
RNGversion("3.3.1")
set.seed(20191003)
hundred <- round(rnorm(10, 9, 0.5), 2)
names(hundred) <- letters[sample(10)]
hundred

# INDEXING A VECTOR

## QUESTION

Subset the second and third items in the **hundred** vector and assign into **twothree** object as such:

```r
twothree

   j    c 
8.78 8.79 
```

## ANSWER

In [ ]:
twothree <- hundred[2:3]
twothree

# FILTERING A VECTOR BY A CONDITION

## QUESTION

Subset the **hundred** vector for the values that are **less than** 9 and assign into **worst** object as such:

```r
worst

   j    c    f    b    g 
8.78 8.79 8.80 8.74 8.81 
```

## ANSWER

In [ ]:
worst <- hundred[hundred < 9]
worst

# SUBSET BY NAMES

## QUESTION

Subset the **hundred** vector by selecting the items named as d, e and f and assign into **def** object as such:

```r
def

   d     e     f 
9.67 10.02  8.80 
```

In [ ]:
def <- hundred[c("d", "e", "f")]
def