In [1]:
options(jupyter.rich_display = F)

#  1. SALARY OF FOOTBALLERS

## QUESTION

A fan of Liverpool Football Club wants to follow the stats of five of their star playes. Virgil, Trent, Jordan, Sadio, and Bobby are his favorites. Their stats are as follows in this season:

|Player|Goals|Assists|
|:---|:---:|:---:|
|Virgil|4|1|
|Trent|2|12|
|Jordan|3|5|
|Sadio|12|6|
|Bobby|8|7|

1) Create a vector named **favorites** which contains the names of players.

```r
[1] "Virgil" "Trent"  "Jordan" "Sadio"  "Bobby" 
```

2) Create a vector named **goals** for their goals and another vector named **assists** for their assists. 

 ```r
> goals
[1]  4  2  3 12  8
> assists
[1]  1 12  5  6  7

```

3) Assign players' names to their respective stats.

```r
> goals
Virgil  Trent Jordan  Sadio  Bobby 
     4      2      3     12      8 
> assists
Virgil  Trent Jordan  Sadio  Bobby 
     1     12      5      6      7 
```

4) Calculate the contribution of each player to score (**goals** + **assists**) with a vector named **each_score**.

```r
Virgil  Trent Jordan  Sadio  Bobby 
     5     14      8     18     15
```

5) Calculate their contribution to Liverpool's total score with a vector named **total_score**.

```r
[1] 60
```

# 2. TABU

## QUESTION

Alyosa, Mete, Derin and Cenk are playing Tabu. Alyosa and Mete form a group whose name is "bees". Derin and Cenk form a group whose name is "ladybirds". 

When a person predicts a word correctly, his group gains 5 points. The group which reaches 100 points wins. 

In total; Alyosa predicts 12, Mete predicts 8, Derin predicts 11 and Cenk predicts 7 words. 

1) Create two vectors **bees** and **ladybirds** with the people's names who form them. 

```r
> bees
[1] "Alyosa" "Mete"  
> ladybirds
[1] "Derin" "Cenk" 
```

2) Create **words_bees** vector with the amount of words that bees' each member predicts correctly. Then name its elements respectively with the elements of the **bees** vector. Similarly create a vector  **words_ladybirds** and name this one's elements with the elements of the **ladybirds**.

```r
> words_bees
Alyosa   Mete 
    12      8 
> words_ladybirds
Derin  Cenk 
   11     7 
  ```
3) Calculate each groups' total points and create a vector **totals** with them and name the vector with group names.
```r
> totals
     bees ladybirds 
       20        18 
```

4) Change the winner group's name as "winner" in the **totals** vector.
```r
> totals
   winner ladybirds 
       20        18 
```

# 3. DISCOUNTED CHARGERS

## QUESTION

A convenience store sells 5 different types of chargers. Their prices are as follows: 16, 20, 32, 12, 9.

1. Assign these numbers to a vector called **charger_prices**.

2. The store wants to place a discount. For the chargers priced lower than 15 TLs, the store will place a %5 discount. For the chargers priced higher than 15 TLs, the store will place a %20 discount. Update the vector **charger_prices** with the appropriate calculations.

```r
> charger_prices
[1] 12.80 16.00 25.60 11.40  8.55
```

3. A customer buys two of each charger after the discount. Calculate their cost and assign the proper calculation into a vector called **customer_pays**.

4. Show the amount the customer paid.

```r
> customer_pays
[1] 148.7
```

# 4.ROLLER COASTER

## QUESTION

Ayse, Ali, Beyza, Berk and Can wants to take the roller coaster at the luna park.

 1. Create a vector called **names** that consists of their names.

>Their ages are 10, 11, 12, 10 and 13 respectively.

 2. Create a vector called **ages** that consists of their ages. Then assign names to the **ages** vector. 

>When they went to the luna park they learned that there is a requirement of being 11 years old and being longer than 140cm height to get the roller coaster.
Their heights are 136cm, 143cm, 151cm, 135cm and 153cm respectively.

 3. Create a vector called **heights** that consists of their heights and assign their names.

> Children who claim the age requirement got in the line for roller coaster.

 4. Create a vector called **can_take**, which contains the heights of children in the line by subsetting heights vector with respect to **ages** vector.

>At the end of the line, their height will be measured and if they meet the height reqirement they could get the roller coaster.

 5. Subset the **can_take** vector so that there will the ones that could get the roller coaster.

# 5. ABBEY ROAD

## QUESTION

John's favourite songs from the album Abbey Road are Something, Because, Here Comes the Sun and Come Together. He wants to download these songs according to this order. However; in the album the songs appear as follows: Come Together, Something, Here Comes the Sun, Because.   

1. Create a vector **vec_fav** which includes these songs (according to the order that John wants).

2. The length of the songs are (in minutes) 3.02, 2.45, 4.19, 3.05 respectively. Create a vector called **vec_length** which includes these numbers only.

3. Change the vector **vec_length** so that it includes both the names and the lengths of the songs.

```r
> vec_length
         Something    Because      Here Comes the Sun      Come Together 
              3.02      2.45               3.05               4.19 
  ```

4. Then John realizes that the app does not allow him to download songs which lasts more than 4 minutes, so when he opens the app, he sees that **vec_length** is updated according to this restriction.

5. Finally, a day after, **vec_length** is updated one more time. Now songs are listed in the order of their apperance in the album and also the name of the vector is changed as **vec_final**.
```r
> vec_final
         Something Here Comes the Sun            Because 
              3.02               3.05               2.45 
```

# 6. GPA

## QUESTION

An econometrician wants to see whether college graduates with higher GPA's are more likely to earn more or not. So, she randomly picks 7 students who graduated from the same department at the same year and compare their GPA's with their monthly earnings. 

1. 2.65, 3.87, 2.74, 2.13, 3.18, 3.46, 2.50 are GPA's of a group of people. Assign these numbers to a vector named **GPAs**

2. 5000, 15000, 13000, 5000, 7500, 6000, 6500 are the monthly earnings of those people. Assign these numbers to a vector named **earnings**

3. Get the monthly earnings that correspond to the highest 3 GPA's in our list and assign into a vector named **top3**
```r
> top3
[1] 15000  6000  7500
```

HINT: Use the `order` function to match the gpas with the earnings in a decreasing order.

# 7. HOW MANY GLASSES HAVE BEEN BROKEN?

## QUESTION

Muslum is a very clumsy boy and consequently he breaks many glasses every night. One day, he is wondering about how much damage he gave to his household budget and wants to count the glasses which has been broken throughout a week.

He reach the following numbers in the end of a week:

| Day | Glasses |
| --------- | ------ |
| Monday    | 10     |
| Tuesday   | 8      |
| Wednesday | 12     |
| Thursday  | 14     |
| Friday    | 17     |
| Saturday  | 26     |
| Sunday    | 7      |

Cost of a glass: 22

 1. Create a vector **broken_glasses** that holds the days of a week and numbers of broken glasses in the given order.
```r 
 > broken_glasses
   Monday   Tuesday Wednesday  Thursday    Friday  Saturday    Sunday 
       10         8        12        14        17        26         7 
```

 2. Assign the given value to **cost**.

 3. He realizes that he actually experienced short-term memory loss at nights that he breaks more than and equal to 15 glasses. Update related days in **broken_glasses** as missing.
```r
> broken_glasses
   Monday   Tuesday Wednesday  Thursday    Friday  Saturday    Sunday 
       10         8        12        14        NA        NA         7 
```

 4. Take the sum of rest and assign it to **known_broken**.

 5. Find total cost which he gave to the household budget and assign it to **not_again**.

 6. Print **not_again** for the sake of him.
 ~~~r
 > not_again

 1122 
 ~~~

**Hint:** You may need to use na.rm argument in `sum()` function.

# 8. THIS BUNDLE OR THAT BUNDLE

## QUESTION

**Warning: This is a vector recycling question, please do not multiply vectors with numbers mentioned below.**

Cole went to an outlet mall in New Jersey. In one of those shops he realized that there were huge opportunities for bundles. He went in. He found four bundles.

*Bundles with 3 goods and 9 goods were complements* so he must buy *three bundle with 3 goods* and *one bundle with 9 goods* but the bundle with 3 goods he is going to buy must be the same bundles.

Each bundle had discounts for each good. New prices for each good in bundles were:

 - First bundle contained 3 goods with such prices: 8, 11, 17

 - Second bundle contained 3 goods with such prices: 6, 14, 12

 - Third bundle contained 9 goods with such prices: 6, 9, 10, 5, 7, 5, 12, 13, 21

 - Fourth bundle contained 9 goods with such prices: 10, 7, 9, 14, 7.99, 9.99, 17, 19, 10.99

He put his bundles in his cart and realized that there was another opportunity. If he pays with cash, he will get a 13 percent discount. If he pays with credit card there is no discount. He has 165 dollars in his pocket and he must keep at least 10 dollars to make his way home. He wants to calculate the  cost of this transaction.

Steps:

1. Assign each bundle with their prices to a vector such as **bundle1, bundle2** etc.

2. Gather each combination and assign them as **comb1, comb2** etc. You should recycle those vectors.

3. Take the sum of each combination and assign them **total1, total2** etc. and print them on screen.

4. Compare those sums. Assign the cheapest bundle as **final**.

5. Decide whether he buys with cash or credit card and print the final cost of his transaction. To do this assign the cost of credit card amount as **credit**, the cash amount as **cash**.

6. Finally create and print **final_choice** to checkout.

```r
> final_choice
credit 
   184 
```

# 9. THE WOLF OF WALL STREET

## QUESTION

Ted Mosby and Barney Stinson are 2 brokers in Wall Street, New York.
   
 * Ted Mosby's initial net asset value is 13000 dollars.
 * Barney Stinson's initial net asset value is 37000 dollars. 
   
They bet on whose initial net asset value will be higher after 10 months.

 * Ted Mosby is on a lucky streak. His net asset value is increasing by 4000 dollar per month for the next 10 months.
 * Barney is going through a bad patch. His net asset value is decreasing by 500 dollar per month for the next 10 months.

After 10 months, their boss do a favor. Ted and Barney get 1500 dollar for the months that their asset values are above 25000 dollars.

1. Create a sequence called **ted_value** consisting of Ted's asset values for each month.

2. Create a sequence called **barney_value** consisting of Barney's asset values for each month.

3. Create a vector called **tvabove** consisting of Ted's asset values that are above 25000 dollars.

4. Create a vector called **bvabove** consisting of Barney's asset values that are above 25000 dollars.

5. Calculate their new asset values for the 10th month and assign them as variables called **tfvalue** and **bfvalue**.

6. Assign a vector called **winner** consisting of the name of the winner and his final net asset value.
```r
 winner
[1] "Ted"   "58000"
```