In [ ]:
options(jupyter.rich_display = F)

# 1 SCARFS, HATS AND GLOVES

## 1.1 QUESTION

Sevgi wants to buy a scarf, a hat and a pair of gloves. She wants to select from white, black and grey models of these products. She found some models of different brands and recorded their prices in 3 data frames as such:

```r
> scarf
  Colors Prices_Scarf
1  White        43.99
2  Black        54.99
3   Grey        67.99

> gloves
  Color Prices_Gloves
1 Black         25.99
2  Grey         28.99
3 White         31.99

> hat
  Colour Prices_Hat
1   Grey      33.99
2  White      35.99
3  Black      34.99
```
Copy the lines below to create these data frames .
```r
scarf <- data.frame("Colors"=c("White","Black","Grey"),"Prices_Scarf"=c(43.99,54.99,67.99))
gloves <- data.frame("Color"=c("Black","Grey","White"),"Prices_Gloves"=c(25.99,28.99,31.99))
hat <- data.frame("Colour"=c("Grey","White","Black"),"Prices_Hat"=c(33.99,35.99,34.99))
```                     
1. Create  a data frame named **s_h_g** which holds all of the products' prices and colors. Use `merge()`

```r
> s_h_g
  Colors Prices_Scarf Prices_Hat Prices_Gloves
1  Black        54.99      34.99         25.99
2   Grey        67.99      33.99         28.99
3  White        43.99      35.99         31.99
```

2. Sevgi decides to buy the cheapest model of each product. Create a function named **cheapest** with one argument **dtaf** (**s_h_g** is the default value). The function should find the cheapest model's color of each product and return a data frame which holds the colors of the products which will be bought by Sevgi. As such :

```r
> cheapest(dtaf = s_h_g)
  scarf_bought hat_bought gloves_bought
1        White       Grey         Black
````
**HINT** : You may use `which.min()`.

# 2 THE ONE WITH THE CHUBBY AND THE SKINNY

## 2.1 QUESTION

There is a data frame in R named **chickwts** which shows the results of an experiment that was conducted to measure and compare the effectiveness of various feed supplements on the growth rate of chickens.

1) See the column names and the first rows of **chickwts** by using the built-in **head()** function.

2) Access the **weight** column and find the chicken with the maximum weight. Then find at which row this chubby chicken is and finally find with which supplement it feeds. 

3) Find the skinny chicken this time and repeat the steps in the 2nd question. 

**hint:** You can use **which()** function.

# 3 THE ONE WITH THE GIFTS

## 3.1 QUESTION

It is christmas and Rachel wants to buy 5 gifts for her 5 best friends, so she writes down the category of the gift (sweater, t-shirt, shoes etc) that she considers to buy for each one, their colours and their sizes as such:

|          | Category | Colour | Size |
|----------|----------|--------|------|
| Monica   | sweater  | red    | 6    |
| Chandler | shoes    | brown  | 10   |
| Ross     | shirt    | black  | 9    |
| Joey     | hoodie   | green  | 11   |
| Phoebe   | dress    | blue   | 8    |

1) Create three vectors **category**, **colour** and **size** with the information given above.  

2) Create a data frame **gifts** which holds all of these arguments with the row names of friends. 

3) Rachel decides to buy a shirt with a size of 7 for her waiter friend Gunther. However, she does not know about his favorite colour, so add a new row for Gunther to the data frame **gifts** with a missing value of colour. 

```R
> gifts
         category colour size
Monica    sweater    red    6
Chandler    shoes  brown   10
Ross        shirt  black    9
Joey       hoodie  green   11
Phoebe      dress   blue    8
Gunther     shirt   <NA>    7
```

# 4 PIGTOOTH

## 4.1 QUESTION

R contains various preloaded datasets, **ToothGrowth** is one of them. In this dataset, the response is the length of odontoblasts (cells responsible for tooth growth) in 60 guinea pigs. Each animal received one of three dose levels of vitamin C (0.5, 1, and 2 mg/day) by one of two delivery methods, orange juice or ascorbic acid (a form of vitamin C and coded as VC). 

A researcher wants to compare the effectiveness of different doses of orange juice and ascorbic acid. Here's the first 10 rows of data:

```r
    > head(ToothGrowth, n = 10)
        len supp dose
    1   4.2   VC  0.5
    2  11.5   VC  0.5
    3   7.3   VC  0.5
    4   5.8   VC  0.5
    5   6.4   VC  0.5
    6  10.0   VC  0.5
    7  11.2   VC  0.5
    8  11.2   VC  0.5
    9   5.2   VC  0.5
    10  7.0   VC  0.5

```

1. Load the dataset **ToothGrowth** and assign it to a data frame named **tooth**.

```r
    > head(tooth, n = 10)
        len supp dose
    1   4.2   VC  0.5
    2  11.5   VC  0.5
    3   7.3   VC  0.5
    4   5.8   VC  0.5
    5   6.4   VC  0.5
    6  10.0   VC  0.5
    7  11.2   VC  0.5
    8  11.2   VC  0.5
    9   5.2   VC  0.5
    10  7.0   VC  0.5
```
   

**Hint**: You can use  `data("ToothGrowth")` function to load **ToothGrowth** data set.


2. Create a column in **tooth** data frame which measures growth of odonoblasts per dose, name it **gr_per_dose**. Finally, sort **tooth** data frame using **gr_per_dose** and assign it to a new data frame named **tooth_sorted**.

```r
    > head(tooth_ordered, n = 10)  
        len supp dose gr_per_dose
    32 21.5   OJ  0.5        43.0
    33 17.6   OJ  0.5        35.2
    39 16.5   OJ  0.5        33.0
    31 15.2   OJ  0.5        30.4
    35 14.5   OJ  0.5        29.0
    50 27.3   OJ  1.0        27.3
    44 26.4   OJ  1.0        26.4
    47 25.8   OJ  1.0        25.8
    46 25.2   OJ  1.0        25.2
    43 23.6   OJ  1.0        23.6
```

# 5 INCOMING EXAM

## 5.1 QUESTION

Ramazan is preparing for his university entrance exam. He wants to create a data frame to see how many math and physics questions he solves every day.

Monday, he solved 50 math, 40 physics questions.
Tuesday, he solved 100 math, 20 physics questions.
Wednesday, he solved 20 math, 200 physics questions.
Thursday, he took a day off.
Friday, he solved 40 physics questions, but no math.
Saturday, he solved 40 math, 30 physics questions.
Sunday, he solved 15 math questions, but no physics.

1. Create a vector containing the days of the week and name it **days**.


2. Create a vector containing how many math questions Ramazan solves everyday in order and name it **math**.


3. Create a vector containing how many physics questions Ramazan solves everyday in order and name it **physics**.


4. Create a data frame called **exam** using this data. Your data frame should look like this.
```r
> exam
       Days   Math  Physics
1    Monday   50      40
2   Tuesday  100      20
3 Wednesday   20     200
4  Thursday    0       0
5    Friday    0      40
6  Saturday   40      30
7    Sunday   15       0
```


5. His teacher wants to know how many questions he solved on Wednesday and Friday. Select these rows help Ramazan show the data to his teacher. Your result should look like this.
```r
       Days   Math   Physics
3 Wednesday   20     200
5    Friday    0      40
```

# 6 ADD COLUMN

## 6.1 QUESTION

Cemre wants to calculate the monthly income of her family members. She will use a data frame to record them.

1. Create a vector called **family** that contain the names Kemal, Yusuf, Ferhat and Cemre herself.


2. Kemal earns 3000 TLs, Yusuf earns 1500 TLs, Ferhat earns 7500 TLs and Cemre earns 25000 TLs every month. Record this data in a vector called **salaries**.


3. Create a data frame called **family_income** with this information. Your data frame should look like this.

```r
> family_income
   Names Income
1  Kemal   3000
2  Yusuf   1500
3 Ferhat   7500
4  Cemre  25000
```

Cemre just learned that they are all getting a raise at the beginning of the year. Kemal will get 5%, Yusuf will get 10%, Ferhat will get 20% and Cemre will get a 5% raise.

4. Store this data in a vector called **raise_percentage**.


5. Add this data to your data frame and name the new column *Raise*. Your final data frame should look like this.

```r
> family_income
   Names Income Raise NewSalary
1  Kemal   3000     5      3150
2  Yusuf   1500    10      1650
3 Ferhat   7500    20      9000
4  Cemre  25000     5     26250
```

# 7 MATCHMAKING

## 7.1 QUESTION

Our guy, Adam has got bored of being single and does not want to stay unmarried anymore. He decides to take counseling service from a matchmaker. The matchmaker forms a data frame by using the 15 candidates' height and weight values and built it in R as **`women`**. What we will do is to convert the units of height and weight to metric first, and pick the most plus-sized (who have highest values) candidate because Adam has a problem with the society beauty standards. 


1. Show **`women`** data in the RStudio.


2. Access the first column by of data and by indexing with component number or name and product it by `0.0254`. Assign it to a new variable **height_metric**.


3. Access the second column of data and product it by `0.453592`. Assign it to a new variable **weight_metric**.


4. Create a quite new data frame called **women_metric** by using **height_metric** and **weight_metric** respectively in the columns. Column names will stay same as in the **`women`** data. 


5. Create a vector **bride** and fill it with maximum values in each column respectively. In the end, show it and check the result.


```r
> bride
[1]  1.82880 74.38909
```

# 8 MOVIES

## 8.1 QUESTION

The films that are shown in a cinema this month was as follows with the evaluation as in the end of the month:

Along with this month's films, these films will be released next month:

Tony and Gina are going to watch a movie. Tony has information about 4 movies and their genres. Gina has information about 4 movies and their runtime in minutes. 

Tony's information:

|Movie       |Genre  |
|---         |---    |
|Matrix      |Action |
|Scarface    |Crime  |
|Interstellar|Sci-fi |
|Pianist     |Drama  |

Gina's information:

|Movie       |Runtime(min)|
|---         |---         |
|Interstellar|169         |
|Pianist     |150         |
|Memento     |113         |
|Seven       |127         |


1. Create 2 data frames named **Tony** and **Gina** according to the given data as such:

```r
> Tony
         Movie  Genre
1       Matrix Action
2     Scarface  Crime
3 Interstellar Sci-fi
4      Memento  Drama

> Gina
         Movie Runtime
1 Interstellar     169
2      Memento     150
3      Pianist     113
4        Seven     127

```

You can use the vectors below:

```r
movies <- c("Matrix", "Scarface", "Interstellar","Memento", "Pianist", "Seven")
genre <- c("Action", "Crime", "Sci-fi", "Drama")
runtime <- c(169, 150, 113, 127)

```


2. Combine the data frames to include all movies as such:

```r
> allmv
         Movie  Genre Runtime
1 Interstellar Sci-fi     169
2       Matrix Action      NA
3      Memento  Drama     150
4     Scarface  Crime      NA
5      Pianist   <NA>     113
6        Seven   <NA>     127
```


3. Combine the data frames to include only the joint movies as such:

```r
> jointmv
         Movie  Genre Runtime
1 Interstellar Sci-fi     169
2      Memento  Drama     150
```

# 9 AIRQUALITY

## 9.1 QUESTION

There is a built-in data frame in RStudio called **airquality** that includes daily air quality measurements in New York, May to September 1973. 

1. Use `which` and `is.na` functions to get rid of the rows that have a NA values in their **Ozone** columns.


2. Save the new data frame by creating a new one called **new_airquality**.

# 10 TOOTH GROWTH

## 10.1 QUESTION

Use the built in data set named **ToothGrowth** for this question. Run *ToothGrowth* to reveal the data frame. This data frame stores the information for the effect of vitamin c on tooth growth in guinea pigs. The first column stands for length, the second for the supplement and the third for dose. On the very left, we see the indices. 
1. Filter this data frame we see the rows that the supplement given to the pig is *VC*. Store that information under the name **vc**.


2. Filter now **vc** that the length is bigger than *17.5*. Store that information under the name **upd_data**.


3. Reveal **upd_data** The ending data frame must still show us the indices of the pigs, length, supplement and dose. Your data frame should look like this:

```r

    len  supp dose
15 22.5   VC    1
19 18.8   VC    1
21 23.6   VC    2
22 18.5   VC    2
23 33.9   VC    2
24 25.5   VC    2
25 26.4   VC    2
26 32.5   VC    2
27 26.7   VC    2
28 21.5   VC    2
29 23.3   VC    2
30 29.5   VC    2

```

# 11 ORCHARD SPRAYS

## 11.1 QUESTION

Use the built in data set named OrchardSprays  for this question. Run OrchardSprays to reveal the data frame.
This data frame gives us information on 4 aspects of the sprays. We see that there are different types of treatments named *A, B, C, D...*. A  biopharmaceutical company wants to buy treatment A but first they want to see the data on the orchards when treatment A is applied.

1. Find out the row indices of which of the orchards were treated with *treatment A*. Store this information under **treatment_A**.


2. Select the rows with *treatment A* applied to reveal the information on the orchards. Store this information under **A_data**.


3. Reveal your final data frame to look like the one below: 

```r
   decrease rowpos colpos treatment
8         2      8      1         A
14        2      6      2         A
19        5      3      3         A
26        4      2      4         A
36        5      4      5         A
41       12      1      6         A
53        4      5      7         A
63        3      7      8         A
```

# 12 HUMAN DEVELOPMENT INDEX

## 12.1 QUESTION

Here are some data about 5 countries:

|Country|Mean Years of Schooling(MYS)|Expected Years of Schooling(EYS)|Life Expectancy at Birth|GNI per capita|
|---|---|---|---|---|
|Switzerland|13.4|16.2|83.6|59,375|
|Germany|14.1|17.1|81.2|46,946|  
|Norway|12.6|18.0| 82.3 |68,059|
|Ireland|12.5|18.0|82.1 |55,660|
|Hong Kong(China)|12.0|16.5|84.7|60,221|

Copy the lines below to create vectors which hold the given data.

```r
countries <- c("Switzerland","Germany","Norway","Ireland","Hong Kong(China)")
mys <- c(13.4,14.1,12.6,12.5,12.0)
eys <- c(16.2,17.1,18.0,18.0,16.5)
life <- c(83.6,81.2,82.3,82.1,84.7)
gni <- c(59375,46946,68059,55660,60221)

```

1. Copy the lines below to create **life_expectancy_index** and **income_index**. Create a vector named **education_index** by using given information. Show 4 digits after the decimal points.(Use `round()`)
 

```r
life_expectancy_index <- round((life-20) / 65, digit = 4)
income_index <- round( (log(gni) - log(100)) / (log(75000) - log(100) ), digit = 4)
```

   Education index is calculated as follows : 

$$[(MYS/15) + (EYS/18)] / 2 $$


  
2. Create a data frame named **hdi_components** which holds the countries and the three indices.As such : 

```r
> hdi_components
         countries life_expectancy_index income_index education_index
1      Switzerland                0.9785       0.9647          0.8967
2          Germany                0.9415       0.9292          0.9450
3           Norway                0.9585       0.9853          0.9200
4          Ireland                0.9554       0.9550          0.9167
5 Hong Kong(China)                0.9954       0.9668          0.8583
``` 

3. Create a function named **hdi_calculator** with one argument **dta** (**hdi_components** will be the default value). The function will calculate the human development index of each country(show 4 digits after decimal point), sort the countries in decreasing order of the hdi's, find the rank of each country and return a data frame as such :

```r
>  hdi_calculator(dta = hdi_components)
         Countries Life Expectancy Index Income Index Education Index    HDI Rank
3           Norway                0.9585       0.9853          0.9200 0.9542    1
1      Switzerland                0.9785       0.9647          0.8967 0.9459    2
4          Ireland                0.9554       0.9550          0.9167 0.9422    3
2          Germany                0.9415       0.9292          0.9450 0.9385    4
5 Hong Kong(China)                0.9954       0.9668          0.8583 0.9383    5
```

# 13 THE ONE WITH THE GPA

## 13.1 QUESTION

The table below shows the courses that Mike took in the first semester of 2018, their credits, ects and Mike's final grade. 

| Course Name    | Credits | Ects | Grade |
|----------------|---------|------|-------|
| Microeconomics | 3       | 6    | AA    |
| Humanities I   | 4       | 6    | BB    |
| Calculus I     | 4       | 6    | CB    |
| Psychology     | 3       | 5    | BA    |
| Sociology      | 3       | 4    | AA    |

1) Create **credits_1**, **ects_1** and **grades_1** vectors with the information above. 

2) Create a data frame **records_1** with the three vectors, name the rows with course names and the column names as **"credits"**, **"ects"** and **"grades"**.

3) Create another three vectors **credits_2**, **ects_2** and **grades_2** with the following information of Mike's second semester at school. Then create another data frame **records_2** with these three vectors and name the rows with course names and the column names as **"credits"**, **"ects"** and **"grades"** again. 

| Course Name    | Credits | Ects | Grade |
|----------------|---------|------|-------|
| Macroeconomics | 3       | 6    | BA    |
| Humanities II  | 4       | 6    | CB    |
| Calculus II    | 4       | 6    | BA    |
| Law            | 3       | 4    | AA    |
| Spanish        | 3       | 7    | DC    |

4) Concatenate **records_1** and **records_2** in a new data frame **year_records** as such:
```R
> year_records
               credits ects grades
microeconomics       3    6     AA
humanities I         4    6     BB
calculus I           4    6     CB
psychology           3    5     BA
sociology            3    4     AA
macroeconomics       3    6     BA
humanities II        4    6     CB
calculus II          4    6     BA
law                  3    4     AA
spanish              3    7     DC
```

5) By accessing the **grades** column of **year_records**, and using built-in **"which()"** function, show the courses which Mike has passed with an AA. 
```R
               credits ects grades
microeconomics       3    6     AA
sociology            3    4     AA
law                  3    4     AA
```

# 14 GATHER TOGETHER

## 14.1 QUESTION

- You are given 3 dataframes.

```r
name1 <- c("Naz", "Murat", "Beril", "Ahmet","Melih")
grade1 <- c(66, 65, 43, 84, 93)
class <- c("1st", "2nd", "1st","4th", "Prep")
preference <- c("Apple", "Samsung", "Samsung", "Other", "Apple")
frs <- cbind(name1, grade1, class, preference)
frs

name2 <- c("Naz", "Murat", "Beril", "Ahmet","Sibel")
grade2 <- c(66, 65, 43, 84, 75)
fail <- c(T, F, T, F, F)
fav_class <- c("Math", "Physics", "Biology", "Art","History")
scn <- cbind(name2, grade2, fail, fav_class)
scn

name3 <- c("Naz", "Murat", "Beril", "Ahmet","Sibel", "Hasan")
exam <- c("DC","CC", "DD", "AA","BA","DD")
fail2 <- c(T, F, T, F, F, T)
hobby <- c("Tennis","Football","Guitar","Painting","Diving","Running")
thr <- cbind(name3, exam, fail2, hobby)
thr

   

```

1. Copy the code above to have the dataframes.



2. Create the function **merging** that takes 2 dataframes as arguments: **df1** and **df2**.



3.  The function should apply outer join operation to these 2 dataframes.



4. It is known that you will always be given dataframes that has students' names in the first column. Build your function accordingly.


5. If the merged dataframe has more than 6 *NA*, then the function should apply inner join operation to these 2 dataframes.




6. The function should return the merged dataframe. 


**HINT**: You should use `paste()` function to merge dataframes properly.

```r
> merging(frs, scn)
  name1 grade1 class preference project  fail fav_class
1 Ahmet     84   4th      Other      92 FALSE       Art
2 Beril     43   1st    Samsung      77  TRUE   Biology
3 Melih     93  Prep      Apple    <NA>  <NA>      <NA>
4 Murat     65   2nd    Samsung      36 FALSE   Physics
5   Naz     66   1st      Apple      86  TRUE      Math
6 Sibel   <NA>  <NA>       <NA>      75 FALSE   History


> merging(frs, thr)
  name1 grade1 class preference exam next_semester    hobby
1 Ahmet     84   4th      Other   AA         FALSE Painting
2 Beril     43   1st    Samsung   DD          TRUE   Guitar
3 Murat     65   2nd    Samsung   CC         FALSE Football
4   Naz     66   1st      Apple   DC         FALSE   Tennis


> merging(scn, thr)
  name2 project  fail fav_class exam next_semester    hobby
1 Ahmet      92 FALSE       Art   AA         FALSE Painting
2 Beril      77  TRUE   Biology   DD          TRUE   Guitar
3 Murat      36 FALSE   Physics   CC         FALSE Football
4   Naz      86  TRUE      Math   DC         FALSE   Tennis
5 Sibel      75 FALSE   History   BA          TRUE   Diving
6 Hasan    <NA>  <NA>      <NA>   DD          TRUE  Running

```

# 15 THE IDEAL PACKAGE

## 15.1 QUESTION

- Different alternatives of packages to serialize dataframes are given below.

| Package | Formats | Times(ms) | Size(MB) | Speed(MB/s) | N |
| :----------| :---: | :---: | :---: | :---: | :---: |
| readRDS | bin | 1577 | 1000 | 633 | 112 |
| saveRDS | bin | 2042 | 1000 | 489 | 112 |
| write_fst | bin | 314 | 303 | 3180 | 291 |
| fread | csv | 2925 | 1038 | 410 | 232 |
| fwrite | csv | 2790 | 1038 | 358 | 241 |
| read_feather | bin | 3950 | 813 | 253 | 112 |
| write_feather | bin | 1820 | 813 | 549 | 112 |
| read_fst | bin | 457 | 303 | 2184 | 282 |


- Data Scientist Maddie wants to get the best package. She has some criteria.



- She creates a dataframe with the code given below;

```r

methods <- c("readRDS", "saveRDS","write_fst", "fread","fwrite", "read_feather","write_feather","read_fst")

formats <- c("bin", "bin","bin", "csv", "csv", "bin","bin","bin")

times <- c(1577, 2042, 314, 2925, 2790, 3950, 1820, 457)

size <- c(1000, 1000, 303, 1038, 1038, 813, 813, 303)

speed <- c(633, 489, 3180, 410, 358, 253, 549, 2184)

N <- c(112, 112, 291, 232, 241, 112, 112, 282)


dtf <- cbind(methods, formats, times, size, speed, N)


```











- She is looking for the package with the shortest time, highest speed, smallest size and biggest N.


- Create the function **best** that takes one argument; **df**(a dataframe). This function should evaluate the given dataframe to find which package is the best. Then it should return the name and format of the best package.


```r

> best(dtf)
[1] "write_fst" "bin" 


```

# 16 TITANIC

## 16.1 QUESTION

RMS Titanic was a famous British passenger ship that sunk in the Atlantic Ocean on April 15, 1912 after collapsing into an iceberg. R has a preloaded dataset on the passengers of RMS Titanic. Thid data set includes the ages, survival situation, gender, and classes of passengers.

1. Load dataset **Titanic**. From this dataset create two new data frames: **survived_adult** for adults who survived Titanic, and **lost_adult** for adults who lost when the ship sunk.

**Hint**: First dimension of the dataset is class, second is gender, third is age (child or adult), and the fourth is survival situation(lost or survived).

```r
    > survived_adult
      Class    Sex Freq
    1   1st   Male   57
    2   2nd   Male   14
    3   3rd   Male   75
    4  Crew   Male  192
    5   1st Female  140
    6   2nd Female   80
    7   3rd Female   76
    8  Crew Female   20
    > lost_adult
      Class    Sex Freq
    1   1st   Male  118
    2   2nd   Male  154
    3   3rd   Male  387
    4  Crew   Male  670
    5   1st Female    4
    6   2nd Female   13
    7   3rd Female   89
    8  Crew Female    3
```


2. Rename **freq** column in **lost_adult** data frame as **Lost**, and in **survived_adult** data frame as **Survived**

```r
    > survived_adult
      Class    Sex Survived
    1   1st   Male       57
    2   2nd   Male       14
    3   3rd   Male       75
    4  Crew   Male      192
    5   1st Female      140
    6   2nd Female       80
    7   3rd Female       76
    8  Crew Female       20
   > lost_adult
      Class    Sex Lost
    1   1st   Male  118
    2   2nd   Male  154
    3   3rd   Male  387
    4  Crew   Male  670
    5   1st Female    4
    6   2nd Female   13
    7   3rd Female   89
    8  Crew Female    3
```
3. Merge two data frames into a new data frame called **adults**.
```r
    > adults
      Class    Sex Lost Survived
    1   1st Female    4      140
    2   1st   Male  118       57
    3   2nd Female   13       80
    4   2nd   Male  154       14
    5   3rd Female   89       76
    6   3rd   Male  387       75
    7  Crew Female    3       20
    8  Crew   Male  670      192
```

# 17 DON'T PANIC BUY

## 17.1 QUESTION

Ahmet usually goes to the local supermarket weekly to do his grocery shopping. The market usually had 50 cans of water, 75 packs of toilet paper, 250 packs of pasta, and 100 packs of bleach.

1. Create a vector called **name** and assign the names of the products.


2. Create a vector called **stock** and assign the stock numbers before the quarantine.


3. Create a data frame called **market_stocks** using this data and name the colums *Name* and *Stocks*. Your data frame should look like this.
```r
> market_stocks
          Name    Stocks
1        Water     50
2 Toilet Paper     75
3        Pasta    250
4       Bleach    100
```

Ahmet is very disappointed to find that the stocks are critically low because of panic buyers. He wants to create a data frame in order to see what he can find. After the quarantine, the supermarket now has 5 cans of water, 0 packs of toilet paper, 40 packs of pasta and 30 packs of bleach.

4. Create a vector called **stock_after** and assign the stock numbers after the quarantine.


5. Create a data frame called **market_stocks_2020** using this data and name the columns *Name* and *Stocks2020*. Your data frame should look like this.
```r
> market_stocks_2020
          Name     Stocks2020
1        Water          5
2 Toilet Paper          0
3        Pasta         40
4       Bleach         30
```

Ahmet wants to compare these two data frames.

6. Merge these data frames by name and name your new data frame **stocks_comparison**. Your data frame should look like this.
```r
> stocks_comparison
          Name    Stocks    Stocks2020
1       Bleach    100        30
2        Pasta    250        40
3 Toilet Paper     75         0
4        Water     50         5
```

# 18 CHICKENLOVER

## 18.1 QUESTION

Barbrady is running a chicken farm and he buys several kinds of chicken feed for his chicks. He doesn't have the calorie values of them but he is sure that he wants fatter chicks in his farm. Due to these several reasons he decides to feed different parts of his chicks with different feeds and observe the total weight of them.

1. Show **`chickwts`** data in the studio. It's a built-in data frame in R.


2. Find each kind of feed by using `unique()` to make things easier.


3. Create the function **fatty** which has one argument **dt**. 
 - This function will take the sum of chicks fed up with same kind of feed. 
 - It will also add those total weight values and sourced by which feed in the end of data frame in the six rows. These new rows will be named as **HB**, **LS**, **SB**, **SF**, **MM**, **CS**. 
 

4. Assign the tail of this new data frame came up by running **fatty** with **`chickwts`** to a variable called **total**.


5. Get **total** and check your result.
 
```r
> total
   weight      feed
HB   1602 horsebean
LS   2625   linseed
SB   3450   soybean
SF   3947 sunflower
MM   3046  meatmeal
CS   3883    casein
```

# 19 BRAND NEW YORK

## 19.1 QUESTION

Theo is a meteorologist who works for National Weather Service in New York. He is requested for cleaning the past months' air quality data and updating it following month's air quality values.

You can see below Theo's findings for first 5 days in October:


| Ozone | Solar.R| Wind | Temp | Month | Day |
|-------|--------|------|------|------|------|
| 52  | 183    | 9.2    |57|10|1|
| 22 | 64    | 5.7  |  58  |10|2|
| 13     | NA    | 8.0  |  65   |10|3|
| 39     | 225   | 3.2  |  62  |10|4|
| NA   | 168    | 7.5   |   52  |10|5|


1. Show **`airquality`** data in your studio. It's a built-in data frame in R.


2. Eliminate the days in **`airquality`** which have missing values in any measurement and assign this new version to the variable **air_fresher**.


3. Create **findings** data frame and apply the same elimination process to it. Assign the eliminated one to **findings_fresher**.


4. Concatenate the final data you conclude step 2 and 3 which are **air_fresher** and **findings_fresher** and name it as **airquality_final**.


5. Get your updated data's first and last rows to the console and check the result. 

```r
> head(airquality_final)
  Ozone Solar.R Wind Temp Month Day
1    41     190  7.4   67     5   1
2    36     118  8.0   72     5   2
3    12     149 12.6   74     5   3
4    18     313 11.5   62     5   4
7    23     299  8.6   65     5   7
8    19      99 13.8   59     5   8

> tail(airquality_final)
    Ozone Solar.R Wind Temp Month Day
151    14     191 14.3   75     9  28
152    18     131  8.0   76     9  29
153    20     223 11.5   68     9  30
11     52     183  9.2   57    10   1
25     22      64  5.7   58    10   2
42     39     225  3.2   62    10   4
```

**Hint:** You may use `na.omit()` or `complete.cases()` or `is.na()` through your elimination process.

# 20 RUG WEAVING

## 20.1 QUESTION

Jason is a rug weaver. Because of the recession that going trough, he decided to reduce his costs. To do so, he created a data from 54 observations he made on the number of warp breaks per loom for 6 different types of warps. He assigned this data to `RStudio` as **`warpbreaks`** in data frame form. Now, he will examine the mean of each type of warp and will use the one with the lowest breaking of statistic.

1. See the **`warpbreaks`** data set.
 - **break** corresponds to the number of breaks,
 - **wool** corresponds to the type of wool as **A** and **B**,
 - **tension** corresponds to the level of tension as **L**, **M** and **H**,
 - **wool** and **tension** combinations made up the warp types.


2. Create vectors for each warp types and name them as **AL**, **AM**, **AH**, **BL**, **BM**, and **BH**.


3. Now create a data frame from the vectors you created, assign the data frame as **breaks**. It should look as such:

```r
> breaks
  AL AM AH BL BM BH
1 26 18 36 27 42 20
2 30 21 21 14 26 21
3 54 29 24 29 19 24
4 25 17 18 19 16 17
5 70 12 10 29 39 13
6 52 18 43 31 28 15
7 51 35 28 41 21 15
8 26 30 15 20 39 16
9 67 36 26 44 29 28
```


4. Create a function named **strongest**, which takes an argument **dt**. This function will calculate the mean for each type of warp and return the one with the lowest mean of number of break. Try the function with **breaks** as such:

```r
> strongest(breaks)
      BH 
18.77778 
```

# 21 SAFER STATES

## 21.1 QUESTION

**`USArrests`** is a data frame defined in RStudio and it contains statistics, in arrests per 100,000 residents for assault, murder, and rape in each of the 50 US states in 1973. Also given is the percent of the population living in urban areas.

1. See the first part of the data frame. Then create a data frame named **Arrests** without the urban population rate **UrbanPop**

**Hint** You can use `head()`.


2. Create a function named **safer** that takes an argument **dt**. Inside the function:
 - First find the mean of the number of each arrestment.
 - Create a data frame that consist of the states that have a lower number than the mean for seperately all arrests.
 - Merge the **dt** with the new data frame you created and return the merged data frame.
 
 
3. Try **safer** function with **Arrest**, and find as such:

```r
> safer(Arrests)
              Murder Assault Rape
USMean           8.0     171 21.0
Connecticut      3.3     110 11.1
Hawaii           5.3      46 20.2
Idaho            2.6     120 14.2
Iowa             2.2      56 11.3
Kansas           6.0     115 18.0
Maine            2.1      83  7.8
Massachusetts    4.4     149 16.3
Minnesota        2.7      72 14.9
Montana          6.0     109 16.4
Nebraska         4.3     102 16.5
New Hampshire    2.1      57  9.5
New Jersey       7.4     159 18.8
North Dakota     0.8      45  7.3
Oklahoma         6.6     151 20.0
Pennsylvania     6.3     106 14.9
South Dakota     3.8      86 12.8
Vermont          2.2      48 11.2
West Virginia    5.7      81  9.3
Wisconsin        2.6      53 10.8
Wyoming          6.8     161 15.6

```

# 22 EARTHQUAKES IN FIJI

## 22.1 QUESTION

Earthquakes are classified in categories ranging from minor to great, depending on their magnitude.

- 3 - 3.9 classified as minor
- 4 - 4.9 classified as light
- 5 - 5.9 classified as moderate
- 6 - 6.9 classified as strong
- 7 - 7.9 classified as major
- 8 or more classified as great


1. There is a built-in data frame in RStudio called **quakes** that includes the locations of 1000 seismic events of MB > 4.0 occured near Fiji since 1964.


2. By using the classification above, classify the magnitudes of the earthquakes given in the **mag** column. Use the function `sapply` and update the **quakes** data frame by adding it a new column called **class**.

# 23 SWISS SOCIOECONOMIC INDICATORS DATA

## 23.1 QUESTION

There is a built-in data frame called **swiss** in RStudio. It includes socio-economic indicators for each of 47 French-speaking provinces of Switzerland at about 1888. 

1. Create a data frame called **lowest_mortality** which subsets the top 15 provinces in terms of lowest mortality rates from the **swiss** data frame.


2. Create a data frame called **highest_education** which subsets the top 15 provinces in terms of highest education levels (measured by rate of draftees who received education beyond primary school) from the **swiss** data frame.


3. Then make an inner join operation with `merge` function to see the provinces which belong to the both data frames created. Save the data frame as **merged_df**.


**Hint**: You can get rid of the repeated columns by selecting only relevant columns at the end of the question.

# 24 HIRING

## 24.1 QUESTION

A company is hiring new employees. They have collected information on the possible candidates of this hiring: Names, if they know English or not,if they know a second language or not and their age. This is the fixed information they collect about their candidates.

The information on the candidates is given below in the 
table:

|Names|English|Second Lang.|Age|
|:---:|:---:|:---:|:---:|
|Ali|T|T|25|
|Oyku|F|F|23|
|Kaan|T|F|26|
|Eylul|T|F|23|
|Pınar|F|T|24|

1. Create a data frame with the above information. Name it **candidates**.

This company realizes the importance of learning programming languages. So they decide to add the information to the data frame whether the candidates know *Python* and *R*. This information about the candidates is again given below in the table:

|Names|Python|R|
|:---:|:---:|:---:|
|Ali|T|T|
|Oyku|F|T|
|Kaan|T|F|
|Eylul|F|T|
|Pınar|F|F|


2. Add this information to your current data frame, rename it **upd_candidates**.


3. Reveal your final data frame to look like the one below: 

```r
 Names English Second Age Python     R
1   Ali    TRUE   TRUE  25   TRUE  TRUE
2  Oyku   FALSE  FALSE  23  FALSE  TRUE
3  Kaan    TRUE  FALSE  26   TRUE FALSE
4 Eylul    TRUE  FALSE  23  FALSE  TRUE
5 Pınar   FALSE   TRUE  24  FALSE FALSE
```

# 25 US JUDGE RATINGS

## 25.1 QUESTION

There is a built in data set in RStudio named `USJudgeRatings` which shows lawyers' ratings  of state judges in the US Superior Court(They are rated according to 12 criteria). We will use this data set in this question. Store this data set in **jdg** to make calculations easier.

```r
> jdg
                CONT INTG DMNR DILG CFMG DECI PREP FAMI ORAL WRIT PHYS RTEN
AARONSON,L.H.    5.7  7.9  7.7  7.3  7.1  7.4  7.1  7.1  7.1  7.0  8.3  7.8
ALEXANDER,J.M.   6.8  8.9  8.8  8.5  7.8  8.1  8.0  8.0  7.8  7.9  8.5  8.7
ARMENTANO,A.J.   7.2  8.1  7.8  7.8  7.5  7.6  7.5  7.5  7.3  7.4  7.9  7.8
BERDON,R.I.      6.8  8.8  8.5  8.8  8.3  8.5  8.7  8.7  8.4  8.5  8.8  8.7
BRACKEN,J.J.     7.3  6.4  4.3  6.5  6.0  6.2  5.7  5.7  5.1  5.3  5.5  4.8
BURNS,E.B.       6.2  8.8  8.7  8.5  7.9  8.0  8.1  8.0  8.0  8.0  8.6  8.6
CALLAHAN,R.J.   10.6  9.0  8.9  8.7  8.5  8.5  8.5  8.5  8.6  8.4  9.1  9.0
COHEN,S.S.       7.0  5.9  4.9  5.1  5.4  5.9  4.8  5.1  4.7  4.9  6.8  5.0
DALY,J.J.        7.3  8.9  8.9  8.7  8.6  8.5  8.4  8.4  8.4  8.5  8.8  8.8
DANNEHY,J.F.     8.2  7.9  6.7  8.1  7.9  8.0  7.9  8.1  7.7  7.8  8.5  7.9
DEAN,H.H.        7.0  8.0  7.6  7.4  7.3  7.5  7.1  7.2  7.1  7.2  8.4  7.7
DEVITA,H.J.      6.5  8.0  7.6  7.2  7.0  7.1  6.9  7.0  7.0  7.1  6.9  7.2
DRISCOLL,P.J.    6.7  8.6  8.2  6.8  6.9  6.6  7.1  7.3  7.2  7.2  8.1  7.7
GRILLO,A.E.      7.0  7.5  6.4  6.8  6.5  7.0  6.6  6.8  6.3  6.6  6.2  6.5
HADDEN,W.L.JR.   6.5  8.1  8.0  8.0  7.9  8.0  7.9  7.8  7.8  7.8  8.4  8.0
HAMILL,E.C.      7.3  8.0  7.4  7.7  7.3  7.3  7.3  7.2  7.1  7.2  8.0  7.6
HEALEY.A.H.      8.0  7.6  6.6  7.2  6.5  6.5  6.8  6.7  6.4  6.5  6.9  6.7
HULL,T.C.        7.7  7.7  6.7  7.5  7.4  7.5  7.1  7.3  7.1  7.3  8.1  7.4
LEVINE,I.        8.3  8.2  7.4  7.8  7.7  7.7  7.7  7.8  7.5  7.6  8.0  8.0
LEVISTER,R.L.    9.6  6.9  5.7  6.6  6.9  6.6  6.2  6.0  5.8  5.8  7.2  6.0
MARTIN,L.F.      7.1  8.2  7.7  7.1  6.6  6.6  6.7  6.7  6.8  6.8  7.5  7.3
MCGRATH,J.F.     7.6  7.3  6.9  6.8  6.7  6.8  6.4  6.3  6.3  6.3  7.4  6.6
MIGNONE,A.F.     6.6  7.4  6.2  6.2  5.4  5.7  5.8  5.9  5.2  5.8  4.7  5.2
MISSAL,H.M.      6.2  8.3  8.1  7.7  7.4  7.3  7.3  7.3  7.2  7.3  7.8  7.6
MULVEY,H.M.      7.5  8.7  8.5  8.6  8.5  8.4  8.5  8.5  8.4  8.4  8.7  8.7
NARUK,H.J.       7.8  8.9  8.7  8.9  8.7  8.8  8.9  9.0  8.8  8.9  9.0  9.0
O'BRIEN,F.J.     7.1  8.5  8.3  8.0  7.9  7.9  7.8  7.8  7.8  7.7  8.3  8.2
O'SULLIVAN,T.J.  7.5  9.0  8.9  8.7  8.4  8.5  8.4  8.3  8.3  8.3  8.8  8.7
PASKEY,L.        7.5  8.1  7.7  8.2  8.0  8.1  8.2  8.4  8.0  8.1  8.4  8.1
RUBINOW,J.E.     7.1  9.2  9.0  9.0  8.4  8.6  9.1  9.1  8.9  9.0  8.9  9.2
SADEN.G.A.       6.6  7.4  6.9  8.4  8.0  7.9  8.2  8.4  7.7  7.9  8.4  7.5
SATANIELLO,A.G.  8.4  8.0  7.9  7.9  7.8  7.8  7.6  7.4  7.4  7.4  8.1  7.9
SHEA,D.M.        6.9  8.5  7.8  8.5  8.1  8.2  8.4  8.5  8.1  8.3  8.7  8.3
SHEA,J.F.JR.     7.3  8.9  8.8  8.7  8.4  8.5  8.5  8.5  8.4  8.4  8.8  8.8
SIDOR,W.J.       7.7  6.2  5.1  5.6  5.6  5.9  5.6  5.6  5.3  5.5  6.3  5.3
SPEZIALE,J.A.    8.5  8.3  8.1  8.3  8.4  8.2  8.2  8.1  7.9  8.0  8.0  8.2
SPONZO,M.J.      6.9  8.3  8.0  8.1  7.9  7.9  7.9  7.7  7.6  7.7  8.1  8.0
STAPLETON,J.F.   6.5  8.2  7.7  7.8  7.6  7.7  7.7  7.7  7.5  7.6  8.5  7.7
TESTO,R.J.       8.3  7.3  7.0  6.8  7.0  7.1  6.7  6.7  6.7  6.7  8.0  7.0
TIERNEY,W.L.JR.  8.3  8.2  7.8  8.3  8.4  8.3  7.7  7.6  7.5  7.7  8.1  7.9
WALL,R.A.        9.0  7.0  5.9  7.0  7.0  7.2  6.9  6.9  6.5  6.6  7.6  6.6
WRIGHT,D.B.      7.1  8.4  8.4  7.7  7.5  7.7  7.8  8.2  8.0  8.1  8.3  8.1
ZARRILLI,K.J.    8.6  7.4  7.0  7.5  7.5  7.7  7.4  7.2  6.9  7.0  7.8  7.1
```
1. We will classify these judges with our own  method by using the ratings in this data set. We will eliminate 5 criteria and use other 7 criteria in the data set to do it. Find the standard deviations of each criteria and remove 5 criteria with the lowest 5 standard deviations from the data set.

```r
>  jdg
                DECI PREP FAMI ORAL WRIT PHYS RTEN
AARONSON,L.H.    7.4  7.1  7.1  7.1  7.0  8.3  7.8
ALEXANDER,J.M.   8.1  8.0  8.0  7.8  7.9  8.5  8.7
ARMENTANO,A.J.   7.6  7.5  7.5  7.3  7.4  7.9  7.8
BERDON,R.I.      8.5  8.7  8.7  8.4  8.5  8.8  8.7
BRACKEN,J.J.     6.2  5.7  5.7  5.1  5.3  5.5  4.8
BURNS,E.B.       8.0  8.1  8.0  8.0  8.0  8.6  8.6
CALLAHAN,R.J.    8.5  8.5  8.5  8.6  8.4  9.1  9.0
COHEN,S.S.       5.9  4.8  5.1  4.7  4.9  6.8  5.0
DALY,J.J.        8.5  8.4  8.4  8.4  8.5  8.8  8.8
DANNEHY,J.F.     8.0  7.9  8.1  7.7  7.8  8.5  7.9
DEAN,H.H.        7.5  7.1  7.2  7.1  7.2  8.4  7.7
DEVITA,H.J.      7.1  6.9  7.0  7.0  7.1  6.9  7.2
DRISCOLL,P.J.    6.6  7.1  7.3  7.2  7.2  8.1  7.7
GRILLO,A.E.      7.0  6.6  6.8  6.3  6.6  6.2  6.5
HADDEN,W.L.JR.   8.0  7.9  7.8  7.8  7.8  8.4  8.0
HAMILL,E.C.      7.3  7.3  7.2  7.1  7.2  8.0  7.6
HEALEY.A.H.      6.5  6.8  6.7  6.4  6.5  6.9  6.7
HULL,T.C.        7.5  7.1  7.3  7.1  7.3  8.1  7.4
LEVINE,I.        7.7  7.7  7.8  7.5  7.6  8.0  8.0
LEVISTER,R.L.    6.6  6.2  6.0  5.8  5.8  7.2  6.0
MARTIN,L.F.      6.6  6.7  6.7  6.8  6.8  7.5  7.3
MCGRATH,J.F.     6.8  6.4  6.3  6.3  6.3  7.4  6.6
MIGNONE,A.F.     5.7  5.8  5.9  5.2  5.8  4.7  5.2
MISSAL,H.M.      7.3  7.3  7.3  7.2  7.3  7.8  7.6
MULVEY,H.M.      8.4  8.5  8.5  8.4  8.4  8.7  8.7
NARUK,H.J.       8.8  8.9  9.0  8.8  8.9  9.0  9.0
O'BRIEN,F.J.     7.9  7.8  7.8  7.8  7.7  8.3  8.2
O'SULLIVAN,T.J.  8.5  8.4  8.3  8.3  8.3  8.8  8.7
PASKEY,L.        8.1  8.2  8.4  8.0  8.1  8.4  8.1
RUBINOW,J.E.     8.6  9.1  9.1  8.9  9.0  8.9  9.2
SADEN.G.A.       7.9  8.2  8.4  7.7  7.9  8.4  7.5
SATANIELLO,A.G.  7.8  7.6  7.4  7.4  7.4  8.1  7.9
SHEA,D.M.        8.2  8.4  8.5  8.1  8.3  8.7  8.3
SHEA,J.F.JR.     8.5  8.5  8.5  8.4  8.4  8.8  8.8
SIDOR,W.J.       5.9  5.6  5.6  5.3  5.5  6.3  5.3
SPEZIALE,J.A.    8.2  8.2  8.1  7.9  8.0  8.0  8.2
SPONZO,M.J.      7.9  7.9  7.7  7.6  7.7  8.1  8.0
STAPLETON,J.F.   7.7  7.7  7.7  7.5  7.6  8.5  7.7
TESTO,R.J.       7.1  6.7  6.7  6.7  6.7  8.0  7.0
TIERNEY,W.L.JR.  8.3  7.7  7.6  7.5  7.7  8.1  7.9
WALL,R.A.        7.2  6.9  6.9  6.5  6.6  7.6  6.6
WRIGHT,D.B.      7.7  7.8  8.2  8.0  8.1  8.3  8.1
ZARRILLI,K.J.    7.7  7.4  7.2  6.9  7.0  7.8  7.1
```

2. Create a function named **qualities** which takes one argument :**df** with **jdg** as its default value. The function will calculate the total ratings of each judge and classify them as follows:

|Total Point|Classification|
|---|---|
|The Highest|"Most Qualified"|
|55-|"Well Qualified"|
|46-55|"Qualified"|
|-46|"Low Qualified"|
|The Lowest|"Least Qualified"|

```r
>  qualities(df = jdg)
                Total  Classification
AARONSON,L.H.    51.8       Qualified
ALEXANDER,J.M.   57.0  Well Qualified
ARMENTANO,A.J.   53.0       Qualified
BERDON,R.I.      60.3  Well Qualified
BRACKEN,J.J.     38.3   Not Qualified
BURNS,E.B.       57.3  Well Qualified
CALLAHAN,R.J.    60.6  Well Qualified
COHEN,S.S.       37.2 Least Qualified
DALY,J.J.        59.8  Well Qualified
DANNEHY,J.F.     55.9  Well Qualified
DEAN,H.H.        52.2       Qualified
DEVITA,H.J.      49.2       Qualified
DRISCOLL,P.J.    51.2       Qualified
GRILLO,A.E.      46.0       Qualified
HADDEN,W.L.JR.   55.7  Well Qualified
HAMILL,E.C.      51.7       Qualified
HEALEY.A.H.      46.5       Qualified
HULL,T.C.        51.8       Qualified
LEVINE,I.        54.3       Qualified
LEVISTER,R.L.    43.6   Not Qualified
MARTIN,L.F.      48.4       Qualified
MCGRATH,J.F.     46.1       Qualified
MIGNONE,A.F.     38.3   Not Qualified
MISSAL,H.M.      51.8       Qualified
MULVEY,H.M.      59.6  Well Qualified
NARUK,H.J.       62.4  Well Qualified
O'BRIEN,F.J.     55.5  Well Qualified
O'SULLIVAN,T.J.  59.3  Well Qualified
PASKEY,L.        57.3  Well Qualified
RUBINOW,J.E.     62.8  Most Qualified
SADEN.G.A.       56.0  Well Qualified
SATANIELLO,A.G.  53.6       Qualified
SHEA,D.M.        58.5  Well Qualified
SHEA,J.F.JR.     59.9  Well Qualified
SIDOR,W.J.       39.5   Not Qualified
SPEZIALE,J.A.    56.6  Well Qualified
SPONZO,M.J.      54.9       Qualified
STAPLETON,J.F.   54.4       Qualified
TESTO,R.J.       48.9       Qualified
TIERNEY,W.L.JR.  54.8       Qualified
WALL,R.A.        48.3       Qualified
WRIGHT,D.B.      56.2  Well Qualified
ZARRILLI,K.J.    51.1       Qualified
```

# 26 CAR EXPERTS

## 26.1 QUESTION

- Arnold and Bernald are 2 data scientists who are in love with cars. They always try to analyze everything and collect the best cars. They want to buy an antique car from 1970s. They found an article from the 1974 Motor Trend US Magazine that comprises fuel consumption and 10 aspects of automobile design and performance for 32 automobiles. They turned the article into a data set. Now, it is time to analyze.


- They go home and study on the features of old cars. They decide seperately on which features to consider. They need 4 features.


- They decide jointly on the main feature which is the most important. Afterwards, they both say 3 side features but these are unfortunately not identical. 


- Main features are; "Engine", "Transmission", "Gears", "Carburetors".


- We will use "Serial Codes" for the side features to make things simpler. Side features are;

```r
    Serial Code  Side Feature
    1           Miles/(US) gallon
    2           Number of cylinders
    3           Displacement (cu.in.)
    4           Gross horsepower
    5           Rear axle ratio
    6           Weight (1000 lbs)
    7           1/4 mile time

   

```


- They want to group the cars according to the main feature and then they want to see the minimum values, maximum values and the mean of the side features.


- **mtcars** is the built-in dataset in R that we will use in this question.




1. Create a function called **cars** that takes 8 arguments;**data**(the data set that consists of the information of cars, *mtcars* in this question), **main**(the feature that they agreed on), **a1**, **a2**, **a3** (Arnold's side preferences' serial codes), **b1**, **b2**, **b3**(Bernard's side preferences' serial codes).




- The function should group the side preferences of Arnold and Bernard according to the main feature. Then it should merge their side preferences and return it as a Data Frame as shown below.





**HINT** : You should use `aggregate()` function for a better code.

**HINT** : You should use `paste()` function to make the first column's name seem as shown below.






```r
  > cars(mtcars, "Engine", 1, 2, 3, 1, 5, 7)
  The grouping based on: Engine  mpg.min  mpg.max mpg.mean  cyl.min  cyl.max cyl.mean
1                             0 10.40000 26.00000 16.61667 4.000000 8.000000 7.444444
2                             1 17.80000 33.90000 24.55714 4.000000 6.000000 4.571429
  disp.min disp.max disp.mean drat.min drat.max drat.mean qsec.min qsec.max qsec.mean
1 120.3000 472.0000  307.1500 2.760000 4.430000  3.392222 14.50000 18.00000  16.69389
2  71.1000 258.0000  132.4571 2.760000 4.930000  3.859286 16.90000 22.90000  19.33357

   

```

```r
> cars(mtcars, "Carburetors", 3, 4, 5, 1, 2, 6)
  The grouping based on: Carburetors disp.min disp.max disp.mean hp.min hp.max hp.mean
1                                  1  71.1000 258.0000  134.2714   65.0  110.0    86.0
2                                  2  75.7000 400.0000  208.1600   52.0  175.0   117.2
3                                  3 275.8000 275.8000  275.8000  180.0  180.0   180.0
4                                  4 160.0000 472.0000  308.8200  110.0  264.0   187.0
5                                  6 145.0000 145.0000  145.0000  175.0  175.0   175.0
6                                  8 301.0000 301.0000  301.0000  335.0  335.0   335.0
  drat.min drat.max drat.mean  mpg.min  mpg.max mpg.mean  cyl.min  cyl.max cyl.mean wt.min
1 2.760000 4.220000  3.681429 18.10000 33.90000 25.34286 4.000000 6.000000 4.571429 1.8350
2 2.760000 4.930000  3.699000 15.20000 30.40000 22.40000 4.000000 8.000000 5.600000 1.5130
3 3.070000 3.070000  3.070000 15.20000 17.30000 16.30000 8.000000 8.000000 8.000000 3.7300
4 2.930000 4.220000  3.596000 10.40000 21.00000 15.79000 6.000000 8.000000 7.200000 2.6200
5 3.620000 3.620000  3.620000 19.70000 19.70000 19.70000 6.000000 6.000000 6.000000 2.7700
6 3.540000 3.540000  3.540000 15.00000 15.00000 15.00000 8.000000 8.000000 8.000000 3.5700
  wt.max wt.mean
1 3.4600  2.4900
2 3.8450  2.8628
3 4.0700  3.8600
4 5.4240  3.8974
5 2.7700  2.7700
6 3.5700  3.5700
```

# 27 OIL CRISIS

## 27.1 QUESTION

The 1973 oil crisis began in October 1973 when the members of the Organization of Arab Petroleum Exporting Countries proclaimed an oil embargo. The embargo was targeted at nations perceived as supporting Israel,- such as the US and Netherlands, during the Yom Kippur War, a war which was led by Egypt and Syria against Israel.

An economist from Johnson&Johnson, an American pharmaceutical company, wants to see the effect of the crisis on the quarterly earnings of his company's shares in stock market. Here are the data from relevant years by quarters:

Quarter 1: (2.16, 2.79, 3.60, 4.86, 4.86, 5.58, 6.03, 6.93, 7.74, 9.54, 11.88)
Quarter 2: (2.43, 3.42, 4.32, 5.04, 5.85, 6.39, 7.74, 8.91, 10.26, 12.06)
Quarter 3: (2.70, 3.69, 4.32, 5.04, 6.57, 6.93, 7.83, 8.28, 9.54, 12.15)
Quarter 4: (2.25, 3.60, 4.05, 4.41, 5.31, 5.85, 6.12, 6.84, 8.73, 8.91)



1. Create a vector named **years** and assign it the years from 1969 to 1978. Create vectors for each quarter, for Quarter 1 name it **qty1**, for Quarter 2 **qty2**, for Quarter 3 **qty3**, for Quarter 4 **qty4**. Create a data frame named **johnson** using **years**, **qty1*, **qty2*, **qty3*, **qty4*.

```r
    > johnson
       years  qty1  qty2  qty3 qty4
    1   1969  2.16  2.43  2.70 2.25
    2   1970  2.79  3.42  3.69 3.60
    3   1971  3.60  4.32  4.32 4.05
    4   1972  4.86  5.04  5.04 4.41
    5   1973  5.58  5.85  6.57 5.31
    6   1974  6.03  6.39  6.93 5.85
    7   1975  6.93  7.74  7.83 6.12
    8   1976  7.74  8.91  8.28 6.84
    9   1977  9.54 10.26  9.54 8.73
    10  1978 11.88 12.06 12.15 8.91
```

2. Create a vector for 1969-1973 period and name it **pre_crisis_years**. Create another vector for 1974-1978 period and name it **post_crisis_years.
```r
    > pre_crisis_years
    [1] "1969" "1970" "1971" "1972" "1973"
    > post_crisis_years
    [1] "1974" "1975" "1976" "1977" "1978"
```

3. Filter dataframe **johnson** using **pre_crisis_years** vector and assign the values to a new data frame called **pre_crisis_earn**. Filter **JohnsonJohnson** dataset once again using **post_crisis_years** and the values to a new data frame called **post_crisis_earn**.

```r
    > pre_crisis_earn
      years qty1 qty2 qty3 qty4
    1  1969 2.16 2.43 2.70 2.25
    2  1970 2.79 3.42 3.69 3.60
    3  1971 3.60 4.32 4.32 4.05
    4  1972 4.86 5.04 5.04 4.41
    5  1973 5.58 5.85 6.57 5.31
    > post_crisis_earn
       years  qty1  qty2  qty3 qty4
    6   1974  6.03  6.39  6.93 5.85
    7   1975  6.93  7.74  7.83 6.12
    8   1976  7.74  8.91  8.28 6.84
    9   1977  9.54 10.26  9.54 8.73
    10  1978 11.88 12.06 12.15 8.91
```
4. Finally, create a function named **mean_calculator** with one argument **dta**. It calculates each years mean quarterly earnings. Creates a new column named **mean** for both **pre_crisis_earn** and **post_crisis_earn** and assign the value returned from **mean_calculator**.
```r
    > pre_crisis_earn
      years qty1 qty2 qty3 qty4   mean
    1  1969 2.16 2.43 2.70 2.25 2.3850
    2  1970 2.79 3.42 3.69 3.60 3.3750
    3  1971 3.60 4.32 4.32 4.05 4.0725
    4  1972 4.86 5.04 5.04 4.41 4.8375
    5  1973 5.58 5.85 6.57 5.31 5.8275
    > post_crisis_earn
       years  qty1  qty2  qty3 qty4    mean
    6   1974  6.03  6.39  6.93 5.85  6.3000
    7   1975  6.93  7.74  7.83 6.12  7.1550
    8   1976  7.74  8.91  8.28 6.84  7.9425
    9   1977  9.54 10.26  9.54 8.73  9.5175
    10  1978 11.88 12.06 12.15 8.91 11.2500
```