# Vectors

### HAVE FUN!!

Adapted from, Serhat Ã‡evikel

## Vector Initialization

Create a vector worker_age with  Emre=25, Can=52, Ceren=33

Get the value and class

In [1]:
worker_age <- c(Emre = 26, Can = 52, Ceren = 33)

In [2]:
worker_age

 Emre   Can Ceren
   26    52    33

In [3]:
class(worker_age)

[1] "numeric"

Create the same vector, putting each value in a separate line <p></p>Get the value and class

In [4]:
worker_age <- c(Emre = 25,
                Can = 52,
                Ceren = 33)

In [5]:
worker_age

 Emre   Can Ceren
   25    52    33

In [6]:
class(worker_age)

[1] "numeric"

## Named Vectors

Create the same vector, first assign the values and then assign the names separately

In [7]:
worker_age <- c(25, 53, 33)
names(worker_age) <- c("Emre", "Can", "Ceren")
worker_age

 Emre   Can Ceren
   25    53    33

Print the vector without the names

In [9]:
unname(worker_age)
worker_age

[1] 25 53 33

 Emre   Can Ceren
   25    53    33

## Variable Naming

Get info on c function

In [10]:
?c

Get the contents (code) of the c function

In [11]:
c

function (...)  .Primitive("c")

Create an object named "c" and assign an arbitrary value to it

In [12]:
c <- 1

Now try to get the contents (code) of the c function

In [13]:
c

[1] 1

Now create a vector of numeric values 2 and 3 by using function c, w/o assignment

In [14]:
c(2, 3)

[1] 2 3

See, when you create an object whose name coincides with a built-in function, the function still works, but you won't be able to see the inner workings of the function when needed and will create a confusion and inconvenience. For good R style, don't use built-in function names for your own objects

## Indexing

Create a vector worker_income with Emre=36000, Can=38500, Ceren=40700

Get the values and class

In [15]:
worker_income <- c(Emre = 36000, Can = 38500, Ceren = 40700)

In [16]:
worker_income

 Emre   Can Ceren
36000 38500 40700

In [17]:
class(worker_income)

[1] "numeric"

Create a vector of values 2 and 3 by c() function, w/o assignment

In [18]:
c(2, 3)

[1] 2 3

Create a vector of values from 2 to 3 by using the colon operator ":", w/o

In [19]:
2:3

[1] 2 3

Get information on the colon operator

In [20]:
?":"

Create a vector of FALSE, TRUE and TRUE values, w/o assignment

In [21]:
c(F, T, T)

[1] FALSE  TRUE  TRUE

Get the ages of Can and Ceren by combining relevant indices using c function

In [22]:
worker_age[c(2, 3)]

  Can Ceren
   53    33

Get information on subsetting or extracting operator "["

In [ ]:
?"["

Now assign the vector created by c(2,3) to indices_1 object

In [24]:
indices_1 <- c(2, 3)

Get the same values by using indices_1 vector

In [25]:
worker_age[indices_1]

  Can Ceren
   53    33

Get the ages of Can and Ceren by combining relevant indices using ":" colon operator

In [26]:
worker_age[2:3]

  Can Ceren
   53    33

When the indices are consecutive or with same distances apart, you can use the colon operator to create a vector of indices

Now assign 2:3 to indices_2 object

In [27]:
indices_2 <- 2:3

Get the ages using indices_2 object

In [28]:
worker_age[indices_2]

  Can Ceren
   53    33

Get the ages of Can and Ceren by using a boolean vector that says which items to include (T) or exclude (F)

In [29]:
worker_age[c(F, T, T)]

  Can Ceren
   53    33

Now assign the boolean vector to object bool_1

In [30]:
bool_1 <- c(F, T, T)

Get the ages using this boolean vector

In [31]:
worker_age[bool_1]

  Can Ceren
   53    33

Now subset the worker_age vector with just one TRUE value. Does it return only the first item?

In [ ]:
worker_age[T]

Why did it return the whole vector although we supplied a single logical value?
<p></p>R automatically recycled the vector wtih single T value to the length of the worker_age vector.<p></p>Now subset it with all T logical values

In [32]:
worker_age[c(T,T,T)]

 Emre   Can Ceren
   25    53    33

Now do the same thing but intentionally confuse [ with (

In [33]:
worker_age(c(T,T,T))

ERROR: Error in eval(expr, envir, enclos): "worker_age" fonksiyonu bulunamadÄ±

Why? Because "(" must come after a function and there is no function named worker_age

Now get the ages by using Can's and Ceren's names, w/o combining them with c

In [34]:
worker_age["Can", "Ceren"]

ERROR: Error in worker_age["Can", "Ceren"]: yanlÄ±ÅŸ sayÄ±da boyut

See, when the indices are not combined into an object (whether assigned or not), they are treated as separate arguments. And since a vector has only one dimension, the second argument gives an error

Now get the ages using names, combining them with c

In [35]:
worker_age[c("Can", "Ceren")]

  Can Ceren
   53    33

Now assign Can and Ceren names to a vector called names_1

In [36]:
names_1 <- c("Can", "Ceren")

And get the ages using names_1 vector

In [37]:
worker_age[names_1]

  Can Ceren
   53    33

See, you can subset or extract items from a vector by multiple ways: A vector of indices, a vector of boolean/logical values, a vector of names (if the vector items are named)

### Review: Classes

Now get the classes of all vectors that we used for subsetting worker_age

In [38]:
class(indices_1)

[1] "numeric"

In [39]:
class(indices_2)

[1] "integer"

In [40]:
class(bool_1)

[1] "logical"

In [41]:
class(names_1)

[1] "character"

See, c(2,3) creates a numeric object while 2:3 creates an integer object

## Attributes

Now list the names of the items in worker_age

In [42]:
names(worker_age)

[1] "Emre"  "Can"   "Ceren"

Now get all the attributes of worker_age

In [43]:
attributes(worker_age)

$names
[1] "Emre"  "Can"   "Ceren"

See, our worker_age vector's only attribute is names of items

Get info on attributes function

In [ ]:
?attributes

Get the length of worker_income object

In [44]:
length(worker_income)

[1] 3

## Element Removal

Show the worker_income object w/o Can's income

In [45]:
worker_income[-2]

 Emre Ceren
36000 40700

Check whether the worker_income object still has Can's income

In [46]:
worker_income

 Emre   Can Ceren
36000 38500 40700

See, unless we make an assignment back to the object, it is not updated. Without assignment, R objects are "immutable", unchangeable

Now assign the worker_income vector without Can's income to worker_income_2

In [48]:
worker_income_2 <- worker_income[-2]

Check worker_income_2

In [49]:
worker_income_2

 Emre Ceren
36000 40700

New create a copy of worker_income object as worker_income_3

In [50]:
worker_income_3 <- worker_income

Now delete Can's income in worker_income_3 object by excluding the item. Check the vector

In [51]:
worker_income_3 <- worker_income_3[-2]

In [52]:
worker_income_3

 Emre Ceren
36000 40700

Now repeat the same asignment and check the vector

In [53]:
worker_income_3 <- worker_income_3[-2]

In [54]:
worker_income_3

 Emre
36000

Update Emre's income to 39000 and check the vector

In [55]:
worker_income[1] <- 39000
worker_income

 Emre   Can Ceren
39000 38500 40700

Append Selin's age which is 27 at second position of worker_age vector. Check the vector

In [56]:
worker_age <- c(worker_age[1], Selin=27, worker_age[2:3])
worker_age

 Emre Selin   Can Ceren
   25    27    53    33

Now create a copy of worker_age_2, append a new person with age 50 and name "Naim". Check the vector

In [59]:
worker_age_2 <- worker_age
worker_age_2[5] <- 50
names(worker_age_2)[5] <- "Naim"
worker_age_2

 Emre Selin   Can Ceren  Naim
   25    27    53    33    50

See, you can append an item to the end of the vector as if that item already exists and you update that value

## Vector Filtering

Create a vector of boolean/logical values for whether age values are smaller than 40

In [60]:
worker_age < 40

 Emre Selin   Can Ceren
 TRUE  TRUE FALSE  TRUE

Get workers which are younger than 40

In [61]:
worker_age[worker_age < 40]

 Emre Selin Ceren
   25    27    33

Now assign the boolean values of "worker_age > 40" to object bool_1, and check the vector

In [62]:
older_30 <- worker_age > 30
older_30

 Emre Selin   Can Ceren
FALSE FALSE  TRUE  TRUE

Now assign the boolean values of "worker_age < 40" to object bool_2, and check the vector

In [63]:
younger_40 <- worker_age < 40
younger_40

 Emre Selin   Can Ceren
 TRUE  TRUE FALSE  TRUE

Now get the workers older than 30

In [64]:
worker_age[older_30]

  Can Ceren
   53    33

Now get the workers younger than 40

In [65]:
worker_age[younger_40]

 Emre Selin Ceren
   25    27    33

### Boolean Operators

**AND Operator (" & ")**

Find which workers younger than 40 and older than 30

In [66]:
younger_40 & older_30

 Emre Selin   Can Ceren
FALSE FALSE FALSE  TRUE

In [67]:
worker_age[younger_40 & older_30]

Ceren
   33

**Not Operator (" ! ")**

Find which workers are older than 40

In [68]:
! younger_40

 Emre Selin   Can Ceren
FALSE FALSE  TRUE FALSE

In [69]:
worker_age[! younger_40]

Can
 53

**OR Operator (" | ")**

Find workers that are older than 40 and younger than 30

In [70]:
! younger_40 | ! older_30

 Emre Selin   Can Ceren
 TRUE  TRUE  TRUE FALSE

In [71]:
worker_age[! younger_40 | ! older_30]

 Emre Selin   Can
   25    27    53

## Sorting

Sort worker's income in ascending order

In [72]:
sort(worker_income)

  Can  Emre Ceren
38500 39000 40700

See whether worker_income vector is sorted by that action

In [73]:
worker_income

 Emre   Can Ceren
39000 38500 40700

Unless you make an assignment to that object, they are "immutable", the actions do not alter the objects

Sort worker's income in descending order

Get information on sort function

In [ ]:
?sort

In [74]:
sort(worker_income, decreasing = TRUE)

Ceren  Emre   Can
40700 39000 38500

Now let's do something more demanding: <p></p>Increase by 10% the income of workers who have an income of less than 40000. Check the vector

In [75]:
worker_income[worker_income < 40000] <- worker_income[worker_income < 40000] * 1.1
worker_income

 Emre   Can Ceren
42900 42350 40700

See the "* 1.1" operation is executed on all selected values (income less than 40K) at once. We do not have to iterate over each value. This is called "vectorization" and the power of R comes from vectorization

## Order

Remember worker_age vector again and get order of worker's ages

In [76]:
worker_age
order(worker_age)

 Emre Selin   Can Ceren
   25    27    53    33

[1] 1 2 4 3

What does this output mean? Get info on order function

In [ ]:
?order

Now delete Selin's age, remember age and income vector, get the order of ages again and sort incomes of workers by their age (why delete Selin?)

In [77]:
worker_age <- worker_age[-2]
worker_age
worker_income
order(worker_age)
worker_income[order(worker_age)]

 Emre   Can Ceren
   25    53    33

 Emre   Can Ceren
42900 42350 40700

[1] 1 3 2

 Emre Ceren   Can
42900 40700 42350

Now do the sort in descending order of ages

In [ ]:
worker_income[order(-worker_age)]

Create a monthly_income vector, check the vector

In [78]:
monthly_income <- worker_income / 12
monthly_income

    Emre      Can    Ceren
3575.000 3529.167 3391.667

### Some Math Operations

Round the values in monthly_income (to closest integer)

In [79]:
round(monthly_income)

 Emre   Can Ceren
 3575  3529  3392

Round down monthly_income values

In [80]:
floor(monthly_income)

 Emre   Can Ceren
 3575  3529  3391

Round up monthly_income values

In [ ]:
ceiling(monthly_income)

Find the average monthly income

In [81]:
mean(monthly_income)

[1] 3498.611

## Rank

Create a vector named sample_1 which has randomly selected 10 numbers between 1 and 20 (without repetition). Check the vector

In [ ]:
sample_1 <- sample(20, 10)
sample_1

?sample

Now first get the order of items and the rank of items. Are they different? Why?

In [ ]:
order(sample_1)

In [ ]:
rank(sample_1)

Get information on rank function

In [ ]:
?rank

Order gives the indices of items so that if we pick the items in that order they will be sorted <p></p> Rank gives the rank of each item if the vector were sorted

## Coercion

Create a vector of integer values 1 to 10 and assign to vector_1. Get the values and class

In [82]:
vector_1 <- 1:10
vector_1
class(vector_1)

 [1]  1  2  3  4  5  6  7  8  9 10

[1] "integer"

Now update 2nd item to string "cmpe". Get the vector again and its class

In [85]:
vector_1[2] <- 'cmpe'
vector_1
class(vector_1)

vector_1[2] <- 2
vector_1

 [1] "1"    "cmpe" "3"    "4"    "5"    "6"    "7"    "8"    "9"    "10"

[1] "character"

 [1] "1"  "2"  "3"  "4"  "5"  "6"  "7"  "8"  "9"  "10"

A vector is an object that hold the values of the same type. And its type is dynamic: As the vector is updated with values of other types, the type/class of whole vector is changed: When only one value is changed to a character, the whole vector is "coerced" into a character vector

Now create a vector of lower case letters a to e and assign to vector_2. Check the vector and its class

In [86]:
vector_2 <- letters[1:5]
vector_2
class(vector_2)

[1] "a" "b" "c" "d" "e"

[1] "character"

Now assign number 1 to 2nd item. Check the vector again and its class

In [87]:
vector_2[2] <- 1
vector_2
class(vector_2)

[1] "a" "1" "c" "d" "e"

[1] "character"

See, a number can act as a character but a character cannot act as a number. So the class of vector stays as character, it is not coerced into numeric after the assignment

## Sample

First create a vector of values selected from 1 to 20 and with a random length, assign it to object sample_1

1. get the last item of that vector
2. get all but the last item of that vector

Note that, you don't know the index of the last item before hand!

In [88]:
sample_1 <- sample(20, sample(20, 1))

In [89]:
sample_1[length(sample_1)]

[1] 10

In [90]:
sample_1[-length(sample_1)]

 [1]  6  7 16 15  5  2 19 17 14  4 13  8

Get info on sample function

In [ ]:
?sample