In [ ]:
options(jupyter.rich_display = FALSE)

# Creating, subsetting and manipulating vectors
**by Serhat Çevikel**

Emre Can and Ceren are good friends. Sometimes they race on bridges:

[![Race on the Bridge](https://refractionsfilm.files.wordpress.com/2013/01/jules-and-jim-1.jpg)](https://www.youtube.com/embed/_i3NxEhqcFg?start=29&end=37)

## Understanding R

> “To understand computations in R, two slogans are helpful:
> 
> Everything that exists is an object.
>
> Everything that happens is a function call."
>
> — John Chambers

(http://adv-r.had.co.nz/Functions.html)

<img src="https://statweb.stanford.edu/~jmc4/CopyPhoto.jpg" width="200">

## Creating a vector, getting info on objects

Create a vector named "worker_age" with Emre=25, Can=52, Ceren=33

In [ ]:
worker_age <- c(Emre = 25, Can = 52, Ceren = 33)

Get the item names and values:

In [ ]:
worker_age

And class of the vector object:

In [ ]:
class(worker_age)

So we have a vector with numeric values

Now let's get info on the attributes of "worker_age" object, such as names:

In [ ]:
attributes(worker_age)

To get more info on the object (class, summary data, attributes):

In [ ]:
str(worker_age)

What is the class of "class"?

In [ ]:
class(class)

In R, functions are also objects, as well as vectors

And, what is the class of an object with a single value?

In [ ]:
worker_age <- 25
class(worker_age)

It is still a numeric vector. In R there is no separate object type for "scalar" or single values. "Atomic" object is the vector

Get info on class, attributes and str functions:

In [ ]:
?class

In [ ]:
?attributes

In [ ]:
?str

### Splitting across lines

Create the same vector, putting each value in a separate line

Get the values and class

In [ ]:
worker_age <- c(Emre = 25,
                Can = 52,
                Ceren = 33)

In [ ]:
worker_age

In [ ]:
class(worker_age)

Nothing changes. For better readability you can divide long lines from commas

## Naming and unnaming a vector

Create the same vector, first assign the values and then assign the names separately

In [ ]:
worker_age <- c(25, 52, 33)
worker_age

In [ ]:
names(worker_age) <- c("Emre", "Can", "Ceren")
worker_age

Print the vector [with or without](https://www.youtube.com/watch?v=6DeDzsCGbsQ) the names:

In [ ]:
worker_age

In [ ]:
unname(worker_age)

Get info on names and unname functions:

In [ ]:
?names

In [ ]:
?unname

## c() function

c() function combines r vector objects into a single vector.

Note that all items in an R vector are of the same type (or they are coerced to be so, it they are not)

Get info on "c" function

In [ ]:
?c

Get the contents (code) of the c function

In [ ]:
c

Create an object named "c" and assign an arbitrary value to it

In [ ]:
c <- 1

Now try to get the contents (code) of the c function

In [ ]:
c

Now create a vector of numeric values 2 and 3 by using function c, w/o assignment

In [ ]:
c(2, 3)

See, when you create an object whose name coincides with a built-in function, the function still works, but you won't be able to see the inner workings of the function when needed and will create a confusion and inconvenience. For good R style, don't use built-in function names for your own objects

**EXERCISE 1**

Create a vector of items named by the first names of the members of your favorite band

And values will be their corresponding instruments

The name of the vector will be the name of the band (with no spaces)

**SOLUTION 1:**

In [ ]:
pass <- readline(prompt = "Please enter the password for the solution: ")
encrypt <- "U2FsdGVkX1/D27wzHVQH6XPkpQNS31QWrgpKXtWo4f4FlBDN7fNcgpQjlTvP9LgL apLoZ5iyG/k7Jzqd2bbMhIw3Z6xtNGd9q2BIEZ1j9+xiob++ehx06hgHXgb74xmM X4jXGZaDPli9w2qsGaSU0oGeINvyl36hs6rxpeClbFI="
solution <- system(sprintf("echo %s | openssl enc -md sha256 -aes-128-cbc -a -d -salt -pass pass:%s 2> /dev/null", encrypt, pass), intern = T, ignore.stderr = T)
cat(solution, sep = "\n")
eval(parse(text = solution))

**EXERCISE 2:**

Create the band vector with only instruments (nonames)

Change the names into full names.

**SOLUTION 2:**

In [ ]:
pass <- readline(prompt = "Please enter the password for the solution: ")
encrypt <- "U2FsdGVkX1+ARD81qWWaIpcg22lqOeFyz9d0W0BSA3SDuppI4+b5xfyvokAOtv94 gChJiYPe4A2vx29nqSXubi4PHOre/Oq4ojwrL1zJTzPJX5z4niDkk191aXK9ScE+ lr9wlAfLC2HcMmq2ViVssC7AxKH3DO2o8RKAZjIMKLW91DC/SXAwsKYH+/NoC9Kn o7cc1K1vLRcby2GjTmXjjpwNS+yTdkIce/ldqOesYhQ="
solution <- system(sprintf("echo %s | openssl enc -md sha256 -aes-128-cbc -a -d -salt -pass pass:%s 2> /dev/null", encrypt, pass), intern = T, ignore.stderr = T)
cat(solution, sep = "\n")
eval(parse(text = solution))

## Subsetting a vector

Create a vector worker_income with Emre=36000, Can=38500, Ceren=40700 <p></p> Get the values and class

In [ ]:
worker_income <- c(Emre = 36000, Can = 38500, Ceren = 40700)

In [ ]:
worker_income

In [ ]:
class(worker_income)

Create a vector of values 2 and 3 by c() function, w/o assignment

In [ ]:
c(2, 3)

Create a vector of values from 2 to 3 by using the colon operator ":", w/o assignment

In [ ]:
2:3

Get information on the colon operator

In [ ]:
?":"

Create a vector of FALSE, TRUE and TRUE values, w/o assignment

In [ ]:
c(F, T, T)

### Subset with a vector of indices

Let's create the objects and assign to names in any case:

In [ ]:
worker_age <- c(Emre = 25, Can = 52, Ceren = 33)
worker_income <- c(Emre = 36000, Can = 38500, Ceren = 40700)

Get the ages of Can and Ceren by combining relevant indices using c function

In [ ]:
worker_age[c(2,3)]

We subsetted the 2nd and third indices of the "worker_age" object.

We used a vector of those values with c(2,3).

However this vector is not assigned to a name.

To use it again, we have to create it again

Get information on subsetting or extracting operator "["

In [ ]:
?"["

Now assign the vector created by c(2,3) to indices_1 object

In [ ]:
indices_1 <- c(2, 3)

And view the contents of it:

In [ ]:
indices_1

Get the same values by using indices_1 vector

In [ ]:
worker_age[indices_1]

Get the ages of Can and Ceren by combining relevant indices using ":" colon operator

In [ ]:
worker_age[2:3]

When the indices are consecutive or with same distances apart, you can use the colon operator to create a vector of indices

Now assign 2:3 to indices_2 object

In [ ]:
indices_2 <- 2:3

Get the ages using indices_2 object

In [ ]:
worker_age[indices_2]

### Subset with a vector of boolean values

Get the ages of Can and Ceren by using a boolean vector that says which items to include (T) or exclude (F)

In [ ]:
worker_age[c(F,T,T)]

Now assign the boolean vector to object bool_1

In [ ]:
bool_1 <- c(F, T, T)

Get the ages using this boolean vector

In [ ]:
worker_age[bool_1]

Now subset the worker_age vector with just one TRUE value. Does it return only the first item?

In [ ]:
worker_age[T]

Why did it return the whole vector although we supplied a single logical value?
<p></p>R automatically recycled the vector wtih single T value to the length of the worker_age vector.<p></p>Now subset it with all T logical values

In [ ]:
worker_age[c(T,T,T)]

Now do the same thing but intentionally confuse [ with (

In [ ]:
worker_age(c(T, T, T))

Why? Because **"(" must come after a function and there is no function named worker_age**

### Subset with a vector of names

Now get the ages by using Can's and Ceren's names, w/o combining them with c

In [ ]:
worker_age["Can", "Ceren"]

See, when the indices are not combined into an object (whether assigned or not), they are treated as separate arguments. And since a vector has only one dimension, the second argument gives an error

Now get the ages using names, combining them with c

In [ ]:
worker_age[c("Can", "Ceren")]

Now assign Can and Ceren names to a vector called names_1

In [ ]:
names_1 <- c("Can", "Ceren")

And get the ages using names_1 vector

In [ ]:
worker_age[names_1]

### Subset summary

See, you can subset or extract items from a vector by multiple ways: A vector of indices, a vector of boolean/logical values, a vector of names (if the vector items are named)

Now get the classes of all vectors that we used for subsetting worker_age

In [ ]:
class(indices_1)

In [ ]:
class(indices_2)

In [ ]:
class(bool_1)

In [ ]:
class(names_1)

See, c(2,3) creates a numeric object while 2:3 creates an integer object

Now list the names of the items in worker_age

In [ ]:
names(worker_age)

Now get all the attributes of worker_age

In [ ]:
attributes(worker_age)

See, our worker_age vector's only attribute is names of items

**EXERCISE 3:**

Create an object named seri_koz_getir of the series of numbers 1 to 26

Name the values with letters of English alphabet (built in letters object will do that)

- First subset even values using indices (what is an easy hack to create such a sequence using ":" operator?)
- Then subset the elements named by the letters of "kardesim"
- Last, subset even numbers by boolean values. Note that a shorter boolean vector will be recycled to the length of the subsetted object

**SOLUTION 3:**

In [ ]:
pass <- readline(prompt = "Please enter the password for the solution: ")
encrypt <- "U2FsdGVkX18ii34KjiPDYNb0M91xUuMq9+VFc474WvmVJHQHEbQ3JiQxKnW31KaT oMRR3Hwre0ql65BTugx9WVR1u/CLjyF54jycZOZUw/7TPt9jSPiWcLd4cojNMw2k ztpCXS3ljaWidCzYCQqBJhM3ykHhDKHrvfc+v5pt2GHY/qQ82N8Eguq6BwXRtHMy KrfMNLCJ1cWD1bd6nWUOB4/Jq5s6im73aKgZXBreWvRpF3jV+WUr4a9S8BVrTppx rUpC/CUwXgXulXL6vFRSTw=="
solution <- system(sprintf("echo %s | openssl enc -md sha256 -aes-128-cbc -a -d -salt -pass pass:%s 2> /dev/null", encrypt, pass), intern = T, ignore.stderr = T)
cat(solution, sep = "\n")
eval(parse(text = solution))

Note that, the print() function is used since evaluation of the code text only prints the last statement unless explicitly print function is used for other statements

In [ ]:
?print

## Negative  subsetting and object modification

In [ ]:
worker_age <- c(Emre = 25, Can = 52, Ceren = 33)
worker_income <- c(Emre = 36000, Can = 38500, Ceren = 40700)

Get in on length function:

In [ ]:
?length

Get the length of worker_income object

In [ ]:
length(worker_income)

Get the names again:

In [ ]:
names(worker_income)

See "Can" is the name of second item

Show the worker_income object w/o Can's income

In [ ]:
worker_income[-2]

Check whether the worker_income object still has Can's income

In [ ]:
worker_income

See, unless we make an assignment back to the object, it is not updated. Without assignment, R objects are "immutable", unchangeable

Now assign the worker_income vector without Can's income to worker_income_2

In [ ]:
worker_income2 <- worker_income[-2]

Check worker_income_2

In [ ]:
worker_income2

New create a copy of worker_income object as worker_income_3

In [ ]:
worker_income_3 <- worker_income

In [ ]:
worker_income_3

Now delete Can's income in worker_income_3 object by excluding the item and assigning it back to the same vector.

Check the vector

In [ ]:
worker_income_3 <- worker_income_3[-2]

In [ ]:
worker_income_3

Now repeat the same asignment and check the vector

In [ ]:
worker_income_3 <- worker_income_3[-2]

In [ ]:
worker_income_3

Update Emre's income to 39000 (using "Emre"'s name) and check the vector

In [ ]:
worker_income_3["Emre"] <- 39000
worker_income_3

Insert Selin's age which is 27 at second position of worker_age2 vector.

Check the vector

In [ ]:
worker_age <- c(worker_age[1], Selin = 27, worker_age[2:3])
worker_age

Create a copy of worker_age into worker_age2, append a new person with age 50 and name "Naim" by assigning to the 5th index (which does not exist yet!).

Check the vector

In [ ]:
worker_age2 <- worker_age
worker_age2[5] <- c(Naim = 50)
worker_age2

See, you can append an item to the end of the vector as if that item already exists and you update that value (However, the name is not updated in this manner)

To change the name to naim:

In [ ]:
names(worker_age2)[5] <- "Naim"
worker_age2

Create a vector of boolean/logical values for whether age values are smaller than 40

In [ ]:
worker_age < 40

Get workers which are younger than 40

In [ ]:
worker_age[worker_age < 40]

Now assign the boolean values for "worker_age < 40" to object bool_2, and check the vector

In [ ]:
bool_2 <- worker_age < 40

Now get the workers younger than 40 using bool_2

In [ ]:
worker_age[bool_2]

## Sorting

Sort worker's income in descending order

In [ ]:
sort(worker_income, decreasing = TRUE)

See whether worker_income vector is sorted by that action

In [ ]:
worker_income

Unless you make an assignment to that object, they are "immutable", the actions do not alter the objects

Sort worker's age in ascending order

In [ ]:
sort(worker_age)

Get information on sort function

In [ ]:
?sort

## Subset and modify

In [ ]:
worker_age <- c(Emre = 25, Can = 52, Ceren = 33)
worker_income <- c(Emre = 36000, Can = 38500, Ceren = 40700)

Now let's do something more demanding: <p></p>Increase by 10% the income of workers who have an income of less than 40000. Check the vector

In [ ]:
worker_income
worker_income[worker_income < 40000] <- worker_income[worker_income < 40000] * 1.1
worker_income

See the "* 1.1" operation is executed on all selected values (income less than 40K) at once. We do not have to loop over each value. This is called "vectorization" and the power of R comes from vectorization

## Ordering

In [ ]:
worker_age <- c(Emre = 25, Can = 52, Ceren = 33)
worker_income <- c(Emre = 36000, Can = 38500, Ceren = 40700)

Remember worker_age vector again and get order of worker's ages

In [ ]:
worker_age
order(worker_age)

What does this output mean? Get info on order function

In [ ]:
?order

Now remember age and income vector, get the order of ages again and sort incomes of workers by their age (why delete Selin?)

In [ ]:
worker_age
worker_income
order(worker_age)
worker_income[order(worker_age)]

Now do the sort in descending order of ages

In [ ]:
worker_income[order(worker_age, decreasing = T)]

In [ ]:
worker_income[order(-worker_age)]

**EXERCISE 4**

![Daltons](http://3.bp.blogspot.com/-ddgg1O7JjIo/UO59sy6GX_I/AAAAAAAAEyY/Y3Loj9ClpaI/s1600/Lucky-Luke-3-0QHGZIDENC-1024x768.jpg)

- Create a vector "height" with values 160 to 190 named for the guys above (use colon and multiplication)

- Create a vector "weight" with values 60 to 45 and same names

- Order the weight vector with the descending order of height

- Order the height with the ascending order of weight

**SOLUTION 4:**

In [ ]:
pass <- readline(prompt = "Please enter the password for the solution: ")
encrypt <- "U2FsdGVkX1/QZ+O+TOrOyWmVaWJJzTMfrUPOTCfxqKW5SjD1tvgIq5XFjIRvCD6+ BtbKUnwViYSMxEj5qCB4MYUmB5hVDVa7M5i8KSOHiQoRijKhfMY2h6E5Df25419O S5lTcyvYru+rpEGKFHJRvRaawWmIxK/ioZMweNsLvAaiKVdoba2QT7MeAeOHXiR3 Igs1sadX6rZSnPL5zopQG1+8fEW18qzQNDR3vFZcNp29xUlFnzWYLMr49FSxgfxw zESzQ6QjuMMQCtKXvIIXXH1hRJLbiLl8IJ2E3b7D7Ut0xV00iBXQvykgtlXhJhGW g6UCne5yKmPACQqS3cAwBw=="
solution <- system(sprintf("echo %s | openssl enc -md sha256 -aes-128-cbc -a -d -salt -pass pass:%s 2> /dev/null", encrypt, pass), intern = T, ignore.stderr = T)
cat(solution, sep = "\n")
eval(parse(text = solution))

## Random sampling, order() vs. rank()

Create a vector named sample_1 which has randomly selected 10 numbers between 1 and 20 (without repetition). Check the vector

In [ ]:
set.seed(1000) # this is here in order to reproduce the same "random" sample
sample_1 <- sample(1:20, 10, replace = F)
sample_1

Now first get the order of items and the rank of items. Are they different? Why?

In [ ]:
order(sample_1)

In [ ]:
rank(sample_1)

Get information on rank function

In [ ]:
?rank

Order gives the indices of items so that if we pick the items in that order they will be sorted <p></p> Rank gives the rank of each item if the vector were sorted

## Value types and coercion

Create a vector of integer values 1 to 10 and assign to vector_1. Get the values and class

In [ ]:
vector_1 <- 1:10
vector_1
class(vector_1)

Now update 2nd item to string "cmpe". Get the vector again and its class

In [ ]:
vector_1[2] <- "cmpe"
vector_1
class(vector_1)

A vector is an object that hold the values of the same type. And its type is dynamic: As the vector is updated with values of other types, the type/class of whole vector is changed: When only one value is changed to a character, the whole vector is "coerced" into a character vector

Now create a vector of lower case letters a to e and assign to vector_2. Check the vector and its class

In [ ]:
vector_2 <- letters[1:5]
vector_2
class(vector_2)

Now assign number 1 to 2nd item. Check the vector again and its class

In [ ]:
vector_2[2] <- 1
vector_2
class(vector_2)

See, a number can act as a character but a character cannot act as a number. So the class of vector stays as character, it is not coerced into numeric after the assignment

## Indexing with a function

Now let's do some critical thinking!

First create a vector of values selected from 1 to 20 and with a random length, assign it to object sample_2

And then

1) get the last item of that vector

2) get all but the last item of that vector

Note that, you don't know the index of the last item before hand!

In [ ]:
sample_2 <- sample(1:20, sample(1:20, 1))
sample_2

In [ ]:
sample_2[length(sample_2)]

In [ ]:
sample_2[-length(sample_2)]

Get info on sample function

In [ ]:
?sample

## Vectorized Functions

### get sums and cumulative sums with sum(), cumsum()

Create a vector of values as a sequence from 1 to 10 and save into seq10 vector

In [ ]:
seq10 <- 1:10
seq10

Now get the sum of the values in the vector:

In [ ]:
sum(seq10)

See the sum of a vector yielded a vector of a single value

What if want to get a cumulative sum of values: For each value n, the sum of all terms starting from the first term to nth term:

In [ ]:
seq10c <- cumsum(seq10)
seq10c

What if we want to get the sums starting from the last item?

We can use rev() function for that:

In [ ]:
seq10r <- rev(seq10)
seq10r
cumsum(seq10r)

**EXERCISE 5:**

Starting from the cumulative sums vector (seq10c) how can we recreate the original vector easily?

Note that arithmetic operations on multiple vectors are conducted elementwise, or in a "vectorized fashion"

First try and understand this:

In [ ]:
1:4 + 2:5

**SOLUTION 5:**

In [ ]:
pass <- readline(prompt = "Please enter the password for the solution: ")
encrypt <- "U2FsdGVkX1/vWmAWtiOO7MLJ7IqdmUsFPeoAdl6MGegZwjrt1ZmkhrB4CgWJjlVf E3aDkBUcmYz4lWt827Dl+naGS2qCblfKqSPUj18qYUx+hDw+dX5yPKfPRtFD6L12 mGC2j4K3uyTbuDI5U1B8WewlZpytSRHf0YNIb0+qrxzDL6OY7C7AHVAtAHR53eq3 ajI0w729YV5SSFx01Ofc8t3Cy9Eih/G4bMqXjC11xSua5mOMFRvRdrCFVD0Ig/DS A+wHzE/INyPPBS3OkO9+lkMiCnjhrlm+59w2o21g8jZn2BRgxejLjFe+TXO21kx5 9ednt4QTe2jtpRCP5yYu9G8nV7Thn9G4+Y6NXqdBlhKLTjuIZ7c4ROz9l6GHHT2H"
solution <- system(sprintf("echo %s | openssl enc -md sha256 -aes-128-cbc -a -d -salt -pass pass:%s 2> /dev/null", encrypt, pass), intern = T, ignore.stderr = T)
cat(solution, sep = "\n")
eval(parse(text = solution))

## product of terms and cumulative products with prod() and cumprod()

Now let's multiply all items in a vector to yield a single values:

In [ ]:
seq10 <- 1:10
seq10

prod(seq10)

Or cumulative product of all terms from the first to the nth term:

In [ ]:
seq10cp <- cumprod(seq10)
seq10cp

**EXERCISE 6:**

Get the cumulative product of all terms from 5th to 10th using only seq10cp.

To check your solution the value has to be:

In [ ]:
prod(5:10)

**SOLUTION 6:**

In [ ]:
pass <- readline(prompt = "Please enter the password for the solution: ")
encrypt <- "U2FsdGVkX19j8VMqCITBwPDtu5nGxcDEvgE2lF2cSLgHAg78XjsrxnCZ6ljkONSL"
solution <- system(sprintf("echo %s | openssl enc -md sha256 -aes-128-cbc -a -d -salt -pass pass:%s 2> /dev/null", encrypt, pass), intern = T, ignore.stderr = T)
cat(solution, sep = "\n")
eval(parse(text = solution))

## NA vs NULL values

Create a vector of values from 1 to 5, check the class

In [ ]:
vec5 <- 1:5
vec5
class(vec5)

Assign "NA" inside quotes to 5th element and check the class of the vector

In [ ]:
vec5[5] <- "NA"
vec5
class(vec5)

"NA" inside quotes caused all values to be coerced to character since "NA" is a character

Now recreate vec5 and assign NA w/o quotes:

In [ ]:
vec5 <- 1:5
vec5[5] <- NA
class(vec5)

The class is preserved. Now do the same for letters from a to e and assign NA to last item

In [ ]:
vecae <- letters[1:5]
vecae
class(vecae)
vecae[5] <- NA
class(vecae)

So NA is class agnostic: It works on all types and preserves the class.

But what is the class of NA itself?

In [ ]:
class(NA)

It is a logical value? Not T, not F, just "don't know"

Now assign NULL to fifth item of vec5 and see what happens:

In [ ]:
vec5[5] <- NULL

R does not allow us to replace a value with NOTHING

Let's have two objects: vecna which has a single NA and vecnull which has a single NULL
Check the length and class of each object

In [ ]:
vecna <- NA
class(vecna)
length(vecna)

In [ ]:
vecnull <- NULL
class(vecnull)
length(vecnull)

NA is sth that exists but details of which is unknown (class and values)

NULL is something that does not exist! It is NOTHING as Michael Corleone says:

[![My offer is this: Nothing](https://img.youtube.com/vi/KnmIoF_2Q4Y/0.jpg)](https://www.youtube.com/watch?v=KnmIoF_2Q4Y)

## Repeat values

What is we want to create 20 TRUE values or 2e6 of them?

rep() function comes to help!

In [ ]:
rep(T, 10)

In [ ]:
rep(1:2, 5)

In [ ]:
rep(1:2, each = 5)

## all or any

Suppose we want to test the joint truthness of multiple logical values:

We may want to know whether ALL of them are TRUE:

In [ ]:
logi1 <- c(rep(T, 100), F)
logi1
all(logi1)

The presence of even one FALSE, rendered the result of all() function as FALSE

Now let's get whether ANY of them are true:

In [ ]:
logi2 <- c(rep(F, 100), T)
logi2
any(logi2)

The presence of even one TRUE, rendered the result of any() function as TRUE