# MATRICES

**By Serhat Ã‡evikel**

## What is a matrix in R?

Morpheus, can you tell us what THE matrix is?

[![Matrix](https://img.youtube.com/vi/pCNe_XFw37Y/0.jpg)](https://www.youtube.com/watch?v=pCNe_XFw37Y)

Contrary to what Morpheus says, fortunately everyone can be told what A matrix in R is

If vector is a ball of wool:
![wool](http://images.esellerpro.com/2278/I/699/36/PureMerinoPM9.jpg)

a matrix is a pullover:

![pullover](https://amp.businessinsider.com/images/58516db4ca7f0cdf1e8b56ad-1136-852.jpg)

A pullover inherits all attributes of the wool (It's color, softness, the ability to shrink when soaked in hot water, etc)

However, the wool does not have all attributes of the pullover (No sleeves, collars)

You can think of matrix as a folded form of a vector

We can create a matrix out of vector(s) by folding or binding

### A vector

Let's create a vector:

In [1]:
vec_1 <- 1:20
vec_1

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

Let's give it names:

In [2]:
names(vec_1) <- letters[seq_along(vec_1)]
vec_1

 a  b  c  d  e  f  g  h  i  j  k  l  m  n  o  p  q  r  s  t
 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

Let's check dim and attributes and summary:

In [3]:
dim(vec_1)
length(vec_1)
attributes(vec_1)
str(vec_1)

NULL

[1] 20

$names
 [1] "a" "b" "c" "d" "e" "f" "g" "h" "i" "j" "k" "l" "m" "n" "o" "p" "q" "r" "s"
[20] "t"

 Named int [1:20] 1 2 3 4 5 6 7 8 9 10 ...
 - attr(*, "names")= chr [1:20] "a" "b" "c" "d" ...

A vector has no dimension attribute (it is not even one-dimensional)

It has names attribute

### Matrix out of a vector

In [4]:
mat_1 <- matrix(vec_1, nrow = 4)
mat_1

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    5     9   13   17
[2,] 2    6    10   14   18
[3,] 3    7    11   15   19
[4,] 4    8    12   16   20

It is created with column-major order by default

Let's provide names:

In [6]:
rownames(mat_1) <- letters[1:nrow(mat_1)]
mat_1

  [,1] [,2] [,3] [,4] [,5]
a 1    5     9   13   17
b 2    6    10   14   18
c 3    7    11   15   19
d 4    8    12   16   20

In [7]:
colnames(mat_1) <- letters[1:ncol(mat_1) + nrow(mat_1)]
mat_1

  e f g  h  i
a 1 5  9 13 17
b 2 6 10 14 18
c 3 7 11 15 19
d 4 8 12 16 20

Now let's check dimensions, attributes and structure:

In [8]:
dim(mat_1)
length(mat_1)
attributes(mat_1)
str(mat_1)

[1] 4 5

[1] 20

$dim
[1] 4 5

$dimnames
$dimnames[[1]]
[1] "a" "b" "c" "d"

$dimnames[[2]]
[1] "e" "f" "g" "h" "i"

 int [1:4, 1:5] 1 2 3 4 5 6 7 8 9 10 ...
 - attr(*, "dimnames")=List of 2
  ..$ : chr [1:4] "a" "b" "c" "d"
  ..$ : chr [1:5] "e" "f" "g" "h" ...

Matrix has dimensions and rownames and colnames as attributes

Note that a matrix is a dimensioned vector, so it still has a length

However a vector does not have dimensions!

In [9]:
mat_1

  e f g  h  i
a 1 5  9 13 17
b 2 6 10 14 18
c 3 7 11 15 19
d 4 8 12 16 20

Or we can still define names as we did with the vector:

In [10]:
names(mat_1) <- letters[seq_along(mat_1)]
mat_1

  e f g  h  i
a 1 5  9 13 17
b 2 6 10 14 18
c 3 7 11 15 19
d 4 8 12 16 20

In [11]:
attributes(mat_1)

$dim
[1] 4 5

$dimnames
$dimnames[[1]]
[1] "a" "b" "c" "d"

$dimnames[[2]]
[1] "e" "f" "g" "h" "i"


$names
 [1] "a" "b" "c" "d" "e" "f" "g" "h" "i" "j" "k" "l" "m" "n" "o" "p" "q" "r" "s"
[20] "t"

### Subset the matrix by indices

In [14]:
mat_1

  e f g  h  i
a 1 5  9 13 17
b 2 6 10 14 18
c 3 7 11 15 19
d 4 8 12 16 20

Let's subset the matrix by two indices:

In [15]:
mat_1[2:3,3:5]

  g  h  i
b 10 14 18
c 11 15 19

Or two dimension names:

In [16]:
mat_1[c("a", "c"),c("f", "g", "h")]

  f g  h
a 5  9 13
c 7 11 15

What is we subset with a single index:

In [17]:
mat_1[2:10]

 b  c  d  e  f  g  h  i  j
 2  3  4  5  6  7  8  9 10

In [19]:
attributes(mat_1[2:10])

$names
[1] "b" "c" "d" "e" "f" "g" "h" "i" "j"

No more a matrix, when subsetted with a single dimension, it is reverted back to a vector!

The pullover can be treated as wool!

In [20]:
mat_1[c("a", "b")]

a b
1 2

Again, when we just subset with "names", matrix becomes a vector

### Subset a vector with two indices

What is we subset a vector with two indices:

In [21]:
vec_1[1,1]

ERROR: Error in vec_1[1, 1]: incorrect number of dimensions

Wool cannot be treated as pullover unless it is knit into one!

## Creating a matrix as the output of functions

There are some useful functions that emit matrices, apart from cbind() and rbind()

### outer()

Outer applies a function on all pairs of two vectors to create a matrix

Let's have a multiplication table of values 1:10

In [24]:
?outer

In [22]:
multab <- outer(1:10, 1:10, "*")
multab

      [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
 [1,]  1    2    3    4    5    6    7    8    9    10
 [2,]  2    4    6    8   10   12   14   16   18    20
 [3,]  3    6    9   12   15   18   21   24   27    30
 [4,]  4    8   12   16   20   24   28   32   36    40
 [5,]  5   10   15   20   25   30   35   40   45    50
 [6,]  6   12   18   24   30   36   42   48   54    60
 [7,]  7   14   21   28   35   42   49   56   63    70
 [8,]  8   16   24   32   40   48   56   64   72    80
 [9,]  9   18   27   36   45   54   63   72   81    90
[10,] 10   20   30   40   50   60   70   80   90   100

In [23]:
attributes(multab)
class(multab)
str(multab)

$dim
[1] 10 10

[1] "matrix"

 num [1:10, 1:10] 1 2 3 4 5 6 7 8 9 10 ...

Let's make a ore complicated computation on both inputs:

In [25]:
mat_2 <- outer(1:10, 1:10, function(x,y) x^2 - y^2)
mat_2

      [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
 [1,]  0   -3   -8   -15  -24  -35  -48  -63  -80  -99
 [2,]  3    0   -5   -12  -21  -32  -45  -60  -77  -96
 [3,]  8    5    0    -7  -16  -27  -40  -55  -72  -91
 [4,] 15   12    7     0   -9  -20  -33  -48  -65  -84
 [5,] 24   21   16     9    0  -11  -24  -39  -56  -75
 [6,] 35   32   27    20   11    0  -13  -28  -45  -64
 [7,] 48   45   40    33   24   13    0  -15  -32  -51
 [8,] 63   60   55    48   39   28   15    0  -17  -36
 [9,] 80   77   72    65   56   45   32   17    0  -19
[10,] 99   96   91    84   75   64   51   36   19    0

These kind of unnamed embedded functions declared inside other functions are called "closures" in R

### expand.grid()

Suppose we want to have all combinations of values in multiple vectors, where we got one value from each of the vectors

In [26]:
grid1 <- as.matrix(expand.grid(1:4, 1:3, 1:2))
grid1

      Var1 Var2 Var3
 [1,] 1    1    1
 [2,] 2    1    1
 [3,] 3    1    1
 [4,] 4    1    1
 [5,] 1    2    1
 [6,] 2    2    1
 [7,] 3    2    1
 [8,] 4    2    1
 [9,] 1    3    1
[10,] 2    3    1
[11,] 3    3    1
[12,] 4    3    1
[13,] 1    1    2
[14,] 2    1    2
[15,] 3    1    2
[16,] 4    1    2
[17,] 1    2    2
[18,] 2    2    2
[19,] 3    2    2
[20,] 4    2    2
[21,] 1    3    2
[22,] 2    3    2
[23,] 3    3    2
[24,] 4    3    2

In [27]:
dim(grid1)
class(grid1)

[1] 24  3

[1] "matrix"

Note that, by default expand.grid emits a data.frame - a data structure we haven't covered yet. We converted it to a matrix with as.matrix() function

The row count is the product of the length of all vectors

### combn()

Now let's get all k length combinations from a vector of n values (all values in increasing order):

In [28]:
comb_1 <- t(combn(1:10, 3))
comb_1

      [,1] [,2] [,3]
 [1,] 1    2     3
 [2,] 1    2     4
 [3,] 1    2     5
 [4,] 1    2     6
 [5,] 1    2     7
 [6,] 1    2     8
 [7,] 1    2     9
 [8,] 1    2    10
 [9,] 1    3     4
[10,] 1    3     5
[11,] 1    3     6
[12,] 1    3     7
[13,] 1    3     8
[14,] 1    3     9
[15,] 1    3    10
[16,] 1    4     5
[17,] 1    4     6
[18,] 1    4     7
[19,] 1    4     8
[20,] 1    4     9
[21,] 1    4    10
[22,] 1    5     6
[23,] 1    5     7
[24,] 1    5     8
[25,] 1    5     9
[26,] 1    5    10
[27,] 1    6     7
[28,] 1    6     8
[29,] 1    6     9
[30,] 1    6    10
[31,] â‹®    â‹®    â‹®
[32,] 4    6     7
[33,] 4    6     8
[34,] 4    6     9
[35,] 4    6    10
[36,] 4    7     8
[37,] 4    7     9
[38,] 4    7    10
[39,] 4    8     9
[40,] 4    8    10
[41,] 4    9    10
[42,] 5    6     7
[43,] 5    6     8
[44,] 5    6     9
[45,] 5    6    10
[46,] 5    7     8
[47,] 5    7     9
[48,] 5    7    10
[49,] 5    8     9
[50,] 5    8    10
[51,] 5    9    10
[52,] 6    7     8
[53,] 6    7     9
[54,] 6    7    10
[55,] 6    8     9
[56,] 6    8    10
[57,] 6    9    10
[58,] 7    8     9
[59,] 7    8    10
[60,] 7    9    10
[61,] 8    9    10

In [29]:
dim(comb_1)

[1] 120   3

Row count is the C(n,k):

In [30]:
choose(10, 3)

[1] 120

## Loop through a matrix

### Reshape a wide matrix to a long one

Suppose we have a chessboard with random configuration: Each of the 32 pieces by any player is given a unique number and empty squares are 0:

First create a random vector:

In [31]:
chess_vec <- integer(64)
chess_vec
chess_vec[1:32] <- 1:32
chess_vec
chess_vec_r <- sample(chess_vec)
chess_vec_r

 [1] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
[39] 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
[26] 26 27 28 29 30 31 32  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0
[51]  0  0  0  0  0  0  0  0  0  0  0  0  0  0

 [1]  6  0  0  0  0 15 26  8  0 23  2 19  0  0 10  3  0  0  0  5  0 22  0  0 25
[26]  0 20 14 24 31 11  0  0  4  9  0 28  0 13  0  0  0 27 32 29  0  1  0  0 16
[51]  0  0  0 17 18  0  0  0  7  0  0 21 30 12

And convert to a matrix:

In [32]:
chess_mat <- matrix(chess_vec_r, nrow = 8)
chess_mat

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8]
[1,]  6    0    0   25    0    0    0    0
[2,]  0   23    0    0    4    0   16    0
[3,]  0    2    0   20    9   27    0    7
[4,]  0   19    5   14    0   32    0    0
[5,]  0    0    0   24   28   29    0    0
[6,] 15    0   22   31    0    0   17   21
[7,] 26   10    0   11   13    1   18   30
[8,]  8    3    0    0    0    0    0   12

Our task is to create a function to convert this matrix into a format in which we have three columns:
- One for the row index of the original matrix
- One for the column index of the original matrix
- One for the value

In [33]:
chess_melt <- function(wide_mat = chess_mat)
{
    dims <- dim(wide_mat)
    rows_m <- prod(dims) # get the number of rows for the long matrix
    long_mat <- matrix(nrow = rows_m, ncol = 3) # create empty matrix
    ind <- 1
    
    for (row in 1:dims[1]) # across rows
    {
        
        for (col in 1:dims[2]) # across cols
        {
            long_mat[ind,1] <- row # record the row index
            long_mat[ind,2] <- col # record the col index
            long_mat[ind,3] <- wide_mat[row,col] # record the value
            ind <- ind + 1 # increment the row for the new matrix
        } # close for2
    } # close for1
    
    return(long_mat)
} # close function

In [34]:
chess_mat

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8]
[1,]  6    0    0   25    0    0    0    0
[2,]  0   23    0    0    4    0   16    0
[3,]  0    2    0   20    9   27    0    7
[4,]  0   19    5   14    0   32    0    0
[5,]  0    0    0   24   28   29    0    0
[6,] 15    0   22   31    0    0   17   21
[7,] 26   10    0   11   13    1   18   30
[8,]  8    3    0    0    0    0    0   12

In [35]:
chess_mat2 <- chess_melt()
chess_mat2

      [,1] [,2] [,3]
 [1,] 1    1     6
 [2,] 1    2     0
 [3,] 1    3     0
 [4,] 1    4    25
 [5,] 1    5     0
 [6,] 1    6     0
 [7,] 1    7     0
 [8,] 1    8     0
 [9,] 2    1     0
[10,] 2    2    23
[11,] 2    3     0
[12,] 2    4     0
[13,] 2    5     4
[14,] 2    6     0
[15,] 2    7    16
[16,] 2    8     0
[17,] 3    1     0
[18,] 3    2     2
[19,] 3    3     0
[20,] 3    4    20
[21,] 3    5     9
[22,] 3    6    27
[23,] 3    7     0
[24,] 3    8     7
[25,] 4    1     0
[26,] 4    2    19
[27,] 4    3     5
[28,] 4    4    14
[29,] 4    5     0
[30,] 4    6    32
[31,] â‹®    â‹®    â‹®
[32,] 5    3     0
[33,] 5    4    24
[34,] 5    5    28
[35,] 5    6    29
[36,] 5    7     0
[37,] 5    8     0
[38,] 6    1    15
[39,] 6    2     0
[40,] 6    3    22
[41,] 6    4    31
[42,] 6    5     0
[43,] 6    6     0
[44,] 6    7    17
[45,] 6    8    21
[46,] 7    1    26
[47,] 7    2    10
[48,] 7    3     0
[49,] 7    4    11
[50,] 7    5    13
[51,] 7    6     1
[52,] 7    7    18
[53,] 7    8    30
[54,] 8    1     8
[55,] 8    2     3
[56,] 8    3     0
[57,] 8    4     0
[58,] 8    5     0
[59,] 8    6     0
[60,] 8    7     0
[61,] 8    8    12

### Reshape a long matrix into a wide one

Now we are supposed to write a second function to convert the long matrix back to the original one

Note that the dimensions of the wide matrix should be determined from the max values of the first and second columns of the long matrix

In [36]:
chess_cast <- function(long_mat = chess_mat2)
{
    rows_m <- max(long_mat[,1]) # get the row for wide matrix
    cols_m <- max(long_mat[,2]) # get the col for wide matrix
    wide_mat <- matrix(nrow = rows_m, ncol = cols_m) # create empty matrix

    for (row in 1:nrow(long_mat)) # across rows of long matrix
    {
        row_w <- long_mat[row,1] # row index for wide matrix
        col_w <- long_mat[row,2] # col index for wide matrix
        val <- long_mat[row,3] # the value
        
        wide_mat[row_w,col_w] <- val
    }
    
    return(wide_mat)
} # close function

In [37]:
chess_mat3 <- chess_cast(chess_mat2)

In [38]:
chess_mat3

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8]
[1,]  6    0    0   25    0    0    0    0
[2,]  0   23    0    0    4    0   16    0
[3,]  0    2    0   20    9   27    0    7
[4,]  0   19    5   14    0   32    0    0
[5,]  0    0    0   24   28   29    0    0
[6,] 15    0   22   31    0    0   17   21
[7,] 26   10    0   11   13    1   18   30
[8,]  8    3    0    0    0    0    0   12

In [39]:
identical(chess_mat, chess_mat3)

[1] TRUE

See we get back the original matrix

## \*plying through matrices

Let's first create a random matrix:

In [40]:
mat_r <- matrix(sample(20), nrow = 4)
mat_r

     [,1] [,2] [,3] [,4] [,5]
[1,]  5    1    6   13    7
[2,] 19   12   15   20    4
[3,] 18    9   16    3    8
[4,] 10   14   17    2   11

### applying on row margin

Let's get the row minimums:

In [41]:
apply(mat_r, 1, min)

[1] 1 4 3 2

And get the minimum and maximums in one time:

In [42]:
apply(mat_r, 1, function(x) c(min(x), max(x)))

     [,1] [,2] [,3] [,4]
[1,]  1    4    3    2
[2,] 13   20   18   17

### applying on column margin

Let's get the col minimums:

In [43]:
apply(mat_r, 2, min)

[1] 5 1 6 2 4

And minimum and maximums in one time:

In [44]:
apply(mat_r, 2, function(x) c(min(x), max(x)))

     [,1] [,2] [,3] [,4] [,5]
[1,]  5    1    6    2    4
[2,] 19   14   17   20   11

### An application: Collapse a matrix

Suppose we want to sum each two column pairs into a single one

In [45]:
collapse_mat <- function(input_mat = chess_mat3)
{
    coln <- ncol(input_mat) # get column count
    
    if (coln %% 2 == 1) # if odd number of columns
    {
        input_mat <- cbind(input_mat, 0) # add a column of 0s, not that 0 is recycled
        coln <- coln + 1  # increment column count
    }
    
    
    out_mat <- sapply(1:(coln/2),
                      function(x) input_mat[,2*x] + input_mat[,2*x -1]) # add two adjacent columns into one
    
    return(out_mat)
}

In [46]:
chess_mat3

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8]
[1,]  6    0    0   25    0    0    0    0
[2,]  0   23    0    0    4    0   16    0
[3,]  0    2    0   20    9   27    0    7
[4,]  0   19    5   14    0   32    0    0
[5,]  0    0    0   24   28   29    0    0
[6,] 15    0   22   31    0    0   17   21
[7,] 26   10    0   11   13    1   18   30
[8,]  8    3    0    0    0    0    0   12

In [47]:
collapse_mat(chess_mat3)

     [,1] [,2] [,3] [,4]
[1,]  6   25    0    0
[2,] 23    0    4   16
[3,]  2   20   36    7
[4,] 19   19   32    0
[5,]  0   24   57    0
[6,] 15   53    0   38
[7,] 36   11   14   48
[8,] 11    0    0   12

## Subset a matrix with a another matrix

Let's reconsider the original wide matrix and let's create an empty one:

In [48]:
chess_mat4 <- matrix(nrow = 8, ncol = 8)
chess_mat4

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8]
[1,] NA   NA   NA   NA   NA   NA   NA   NA
[2,] NA   NA   NA   NA   NA   NA   NA   NA
[3,] NA   NA   NA   NA   NA   NA   NA   NA
[4,] NA   NA   NA   NA   NA   NA   NA   NA
[5,] NA   NA   NA   NA   NA   NA   NA   NA
[6,] NA   NA   NA   NA   NA   NA   NA   NA
[7,] NA   NA   NA   NA   NA   NA   NA   NA
[8,] NA   NA   NA   NA   NA   NA   NA   NA

In [49]:
chess_mat4[chess_mat2[,1:2]] <- chess_mat2[,3]
chess_mat4

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8]
[1,]  6    0    0   25    0    0    0    0
[2,]  0   23    0    0    4    0   16    0
[3,]  0    2    0   20    9   27    0    7
[4,]  0   19    5   14    0   32    0    0
[5,]  0    0    0   24   28   29    0    0
[6,] 15    0   22   31    0    0   17   21
[7,] 26   10    0   11   13    1   18   30
[8,]  8    3    0    0    0    0    0   12

What happened here?

When we subset a matrix with a two column matrix, the first columns will be used as the row index and second as the col index

So we can subset non-contiguous cells from a matrix as such

## Traversing a matrix

In [50]:
chess_mat4

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8]
[1,]  6    0    0   25    0    0    0    0
[2,]  0   23    0    0    4    0   16    0
[3,]  0    2    0   20    9   27    0    7
[4,]  0   19    5   14    0   32    0    0
[5,]  0    0    0   24   28   29    0    0
[6,] 15    0   22   31    0    0   17   21
[7,] 26   10    0   11   13    1   18   30
[8,]  8    3    0    0    0    0    0   12

To get the row indices of all cells in a matrix:

In [51]:
row(chess_mat4)

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8]
[1,] 1    1    1    1    1    1    1    1
[2,] 2    2    2    2    2    2    2    2
[3,] 3    3    3    3    3    3    3    3
[4,] 4    4    4    4    4    4    4    4
[5,] 5    5    5    5    5    5    5    5
[6,] 6    6    6    6    6    6    6    6
[7,] 7    7    7    7    7    7    7    7
[8,] 8    8    8    8    8    8    8    8

And column indices:

In [52]:
col(chess_mat4)

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8]
[1,] 1    2    3    4    5    6    7    8
[2,] 1    2    3    4    5    6    7    8
[3,] 1    2    3    4    5    6    7    8
[4,] 1    2    3    4    5    6    7    8
[5,] 1    2    3    4    5    6    7    8
[6,] 1    2    3    4    5    6    7    8
[7,] 1    2    3    4    5    6    7    8
[8,] 1    2    3    4    5    6    7    8

Now let's subset the main diagonal using patterns in these two outputs:

In [53]:
row(chess_mat4) == col(chess_mat4)

     [,1]  [,2]  [,3]  [,4]  [,5]  [,6]  [,7]  [,8]
[1,]  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[2,] FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE
[3,] FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE
[4,] FALSE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE
[5,] FALSE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE
[6,] FALSE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE
[7,] FALSE FALSE FALSE FALSE FALSE FALSE  TRUE FALSE
[8,] FALSE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE

In [54]:
chess_mat4[row(chess_mat4) == col(chess_mat4)]

[1]  6 23  0 14 28  0 18 12

An easier option is:

In [55]:
diag(chess_mat4)

[1]  6 23  0 14 28  0 18 12

Now let's traverse the secondary diagonal:

In [56]:
chess_mat4[row(chess_mat4) + col(chess_mat4) == 9]

[1]  8 10 22 24  0 27 16  0

## Convert a matrix to a vector

In [57]:
as.integer(chess_mat4)

 [1]  6  0  0  0  0 15 26  8  0 23  2 19  0  0 10  3  0  0  0  5  0 22  0  0 25
[26]  0 20 14 24 31 11  0  0  4  9  0 28  0 13  0  0  0 27 32 29  0  1  0  0 16
[51]  0  0  0 17 18  0  0  0  7  0  0 21 30 12

In [58]:
chess_mat4[T]

 [1]  6  0  0  0  0 15 26  8  0 23  2 19  0  0 10  3  0  0  0  5  0 22  0  0 25
[26]  0 20 14 24 31 11  0  0  4  9  0 28  0 13  0  0  0 27 32 29  0  1  0  0 16
[51]  0  0  0 17 18  0  0  0  7  0  0 21 30 12

Why did that happen?

T is recycled to the length of the matrix (row\*column), and since a single index is used, a vector is returned

## Drop or not

In [59]:
class(chess_mat4)

[1] "matrix"

In [60]:
class(chess_mat4[1:2,3:4])

[1] "matrix"

In [61]:
class(chess_mat4[1,])

[1] "integer"

In [62]:
class(chess_mat4[,2])

[1] "integer"

The pullover is automatically converted to wool when only a single row or column is indexed.

To avoid this:

In [66]:
chess_mat4[1,,drop = F]

     [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8]
[1,] 6    0    0    25   0    0    0    0

In [65]:
chess_mat4[,2, drop = F]

     [,1]
[1,]  0
[2,] 23
[3,]  2
[4,] 19
[5,]  0
[6,]  0
[7,] 10
[8,]  3