# QUIZ1 - Section 1

### Question 1

Set seed to 9
Create two vectors (vector_x, vector_y) of random integers which are chosen with replacemens from the integers 0,2, 4,...,200. Length of the vectors is 20.

In [ ]:
set.seed(9)
vector_x <- sample(seq(0, 200, 2), 20, replace= TRUE)
vector_y <- sample(seq(0, 200, 2), 20, replace= TRUE)

In [ ]:
vector_x
vector_y

Suppose X = (x1, x2, . . . , xn) denotes the **vector_x**

Y = (y1, y2, . . . , yn) denotes the **vector_y**. 

Create the vector **vector_res** = (y2 − x1, y3 - x2, ..., yn − xn−1).

In [ ]:
vector_res <- vector_y[2:20] - vector_x[1:19]

In [ ]:
vector_res

### Question 2

Create a variable named **big_num** and assign the number of elements in vector_x which are bigger than 35.

In [ ]:
big_num1 <- length(vector_x[vector_x > 35])
#or
big_num2 <- sum(vector_x > 35)
big_num1
big_num2

### Question 3

Create a vector named **sorted_y** which has the values of vector_y in increasing order

In [ ]:
sorted_y <- sort(vector_y, decreasing = FALSE)
sorted_y

### Question 4

Plot vector_x and vector_y vectors, 

    assign x-axis as "vector_x",  
    y-axis as "vector_y"
    title as "Plot is boring" 
    illustrate the dots in blue.

In [ ]:
plot(vector_x, vector_y, col="blue", xlab="vector_x", ylab="vector_y")
title("Plot is boring")

# QUIZ 1 - Section 2

### Question 1

Set seed to 9.
Create two vectors (vector_x, vector_y) of random integers which are chosen without replacemens from the integers 1, 3,...,300. Length of the vectors is 30.

In [ ]:
set.seed(9)
vector_x <- sample(seq(1, 300, 2), 30)
vector_y <- sample(seq(1, 300, 2), 30)
vector_x
vector_y

Suppose X = (x1, x2, . . . , xn) denotes the **vector_x**.

Y = (y1, y2, . . . , yn) denotes the **vector_y**.

Create the vector **vector_res** = (y1 * 2 -  x2, . . . , yn-1 * 2 - (xn)).

In [ ]:
vector_res <- (vector_y[1:29]*2) - (vector_x[2:30])
vector_res

### Question 2

Create a vector named **ordered_y** which has the values of vector_y in increasing order

In [ ]:
ordered_y <- order(vector_y, decreasing=FALSE)
ordered_y

### Question 3

Create a variable named **updated_x** and add value of 5 to the elements which are > 100

In [ ]:
updated_x <- vector_x
updated_x[updated_x > 100] <- updated_x[updated_x > 100] + 5
updated_x

### Question 4

Plot the histogram of vector_x, 

    assign x-axis as "vector_x",
    title as "Histogram is Fun" 
    illustrate the dots in green.

In [ ]:
hist(vector_x, col="green", xlab="vector_x", main="Histogram is Fun")

# FUNCTIONS

### Create a function named cmpe to write "Programming is awesome!"

In [ ]:
cmpe <- function()
{
  return("Programming is awesome")  
}

In [ ]:
cmpe

In [ ]:
cmpe()

In [ ]:
b <- cmpe()
b

### Turn cmpe to a function that divides numbers.

In [ ]:
cmpe <- function(a, b)
{
    return(a / b)
}

In [ ]:
cmpe(4, 400)

In [ ]:
cmpe(4, )
#We did not define default values!

In [ ]:
cmpe <- function(a=3, b)
{
    return(a / b)
}
cmpe(, 9)
cmpe(5, 9)

### Help students to calculate hypotenuse by creating a function named hypotenuse.

In [ ]:
hypotenuse <- function(x, y)
{
    h <- sqrt(x^2 + y^2)
    return(h)
}

In [ ]:
hypotenuse(3, 4)

### Create a normally distributed sample of gas cost per km for 5 cars, with a mean of 0.48 and standard deviation of 0.2 TL , set seed to 73.

### Create a function to calculate their costs for a 430-km road.

In [ ]:
set.seed(73)
cost_km <- rnorm(5, 0.48, 0.2)

cost <- function(x)
{
    return(x * 430)
}
cost(cost_km)

### Write a function that takes a temperature measurement in degrees Fahrenheit, and returns the equivalent value in degrees Celsius.

In [ ]:
FtoC <- function(fah)
{
    cel <- (fah - 32) / 1.8
    return(cel)
}
FtoC (451)

### Try to return both Fahrenheit and Celcius degrees

In [ ]:
temp <- function(fah)
{
    cel <- (fah - 32) / 1.8
    return(c(cel, fah))
}
temp(451)

### Create a vector named "heights" contains 7 values, from 1.6 meters to 1.82
### Create a vector named "weights" contains 7 values, from 45 to 90.
### Create a function to calculate body-mass index.

In [ ]:
heights <-  seq(1.6, 1.82, length.out = 7)
weights <-  seq(45, 90, length.out = 7)

In [ ]:
body_mass_index <- function(height, weight)
{
    body_mass <- weight / height^2
    return(body_mass)
}

In [ ]:
body_mass_index(heights, weights)

### Create a function to calculate break even point as unit price changes. Fixed cost is 100 TL and variable cost per unit is 1.4 TL.

In [ ]:
BEP <- function(p)
{
    vc <- 1.4
    fc <- 100
    q <- fc / (p - vc)
    return(q)
}

In [ ]:
BEP(15)
BEP(30)

In [ ]:
BEP_2 <- function(p, vc=1.4 , fc=100)
{
    q <- fc / (p - vc)
    return(q)
}

In [ ]:
BEP_2(15)
BEP_2(15, fc=120)

### Create a function to calculate coefficient of variation for weights, heights and cost_km vectors that we created before.

In [ ]:
coef_var <- function(x)
{
    return(sd(x) / mean(x))
}
coef_var(weights)
coef_var(heights)
coef_var(cost_km)