In [ ]:
options(jupyter.rich_display = F)

**IMPORTANT NOTICE:**

- **PLEASE MAKE SURE R THROWS NO ERROR WHEN YOUR R SCRIPT (BEFORE RENAMING TO A TXT FILE) IS SOURCED USING THE SOURCE BUTTON OR ALL LINES IN YOUR SCRIPT ARE EXECUTED**

- **MAKE SURE AL LINES IN YOUR FILE THAT ARE NOT INTENDED TO EXECUTE AS R COMMANDS SHOULD BE COMMENTED OUT WITH "#"**

- **YOU SHOULD NAME THE OBJECTS EXACTLY AS REQUIRED IN THE QUESTION. OTHERWISE, A CORRECT CODE WILL BE RENDERED AS INCORRECT. NOTE THAT R IS CASE SENSITIVE!**

- **THE FUNCTIONS SHOULD "RETURN" REQUESTED VALUES, NOT "PRINT" OR "CAT"**

- **IN THE FOLLOWING QUESTIONS, DO NOT MAKE USE OF GLOBAL VARIABLES, I.E. ALL OBJECTS CREATED IN THE GLOBAL ENVIRONMENT CAN ONLY BE PASSED AS VALUES TO ARGUMENTS OF FUNCTIONS. THE BODY OF THE FUNCTIONS SHOULD NOT REFER TO GLOBAL OBJECTS**

# TAKE THE LASTS

Let's have a randomly generated list of numeric vectors as such:

```R
RNGversion("3.3.1")
set.seed(20)
listx <- split(sample(100, 20, replace = T), sample(sample(3:5, 1), 20, replace = T))
listx

$`1`
[1] 88 28 97  8  1

$`2`
[1] 77 53 38 72 20 46 29

$`3`
[1] 33 75 11 82

$`4`
[1] 99 10 76 33
```

Please write a function **last(lst)**, that takes a single argument lst, a list object, and returns the **last** element of each vector item **EXACTLY** as such: 

```R
last(lst = listx)

 1  2  3  4 
 1 29 82 33

```

**Hint:**
- Easiest way is to use sapply()
- You can make use of the "function(x) ...." notation inside sapply

**Solution:**

In [ ]:
RNGversion("3.3.1")
set.seed(20)
listx <- split(sample(100, 20, replace = T), sample(sample(3:5, 1), 20, replace = T))
listx

last <- function(lst)
{
    sapply(lst, function(x) x[length(x)])
}
           
last(lst = listx)

# GROUP DATA

Let's have a data.frame "cox" as such:

```R
cox <- CO2
RNGversion("3.3.1")
set.seed(20)
cox$uptake <- rnorm(nrow(cox),
                    mean = runif(1, 20, 100),
                    sd = runif(1, 2, 10))

head(cox)

  Plant Type   Treatment  conc uptake   
1 Qn1   Quebec nonchilled  95   85.42744
2 Qn1   Quebec nonchilled 175  104.75015
3 Qn1   Quebec nonchilled 250   79.34338
4 Qn1   Quebec nonchilled 350   86.56297
5 Qn1   Quebec nonchilled 500   94.84301
6 Qn1   Quebec nonchilled 675   66.65552
```

Write a function groups(dat) that takes a single argument dat, a data frame object, and returns the **mean** **uptake** value of each respective **Type** and **Treatment** category as such:

```R
groups(dat = cox)

  Group.1     Group.2    x       
1 Quebec      nonchilled 88.32927
2 Mississippi nonchilled 91.59208
3 Quebec      chilled    88.13191
4 Mississippi chilled    90.62369
```

**Hint:**
- You should use aggregate() function
- You may also use with() function to simplify the code (not necessary)
- Note that the "by" argument to aggregate(), a list object, should incorporate two categoric variables (Type and Treatment), not a single one. So it should be a list of two!

**Solution:**

In [ ]:
cox <- CO2
RNGversion("3.3.1")
set.seed(20)
cox$uptake <- rnorm(nrow(cox),
                    mean = runif(1, 20, 100),
                    sd = runif(1, 2, 10))

head(cox)

groups <- function(dat = cox)
{
    with(cox, aggregate(uptake,
                        by = list(Type, Treatment),
                        mean))
}

groups(dat = cox)

# MERGE INNER

Let's have two data frames as such:

```R
RNGversion("3.3.1")
set.seed(40)
select <- sample(letters, 15)
select1 <- sample(select, 10)
select2 <- sample(select, 10)
datf1 <- data.frame(label = select1, data1 = round(rnorm(10, 5, 3), 1))
datf2 <- data.frame(label = select2, data2 = round(rnorm(10, 5, 3), 1))

datf1

   label data1
1  k     1.2  
2  j     7.0  
3  p     3.5  
4  v     2.2  
5  y     4.3  
6  e     2.5  
7  q     5.1  
8  r     5.6  
9  w     3.5  
10 b     6.1  

datf2

   label data2
1  w     7.8  
2  e     5.4  
3  s     3.0  
4  g     3.2  
5  k     5.1  
6  b     5.1  
7  q     3.3  
8  j     8.7  
9  r     7.5  
10 c     6.5  
```

Please write a function inner(df1, df2) such that only common label categories in both data frames are kept so the function should make an inner join as such:

```R
inner(df1 = datf1, df2 = datf2)

  label data1 data2
1 b     6.1   5.1  
2 e     2.5   5.4  
3 j     7.0   8.7  
4 k     1.2   5.1  
5 q     5.1   3.3  
6 r     5.6   7.5  
7 w     3.5   7.8  
```

**Hint:** You should use the merge() function

**Solution:**

In [ ]:
RNGversion("3.3.1")
set.seed(40)
select <- sample(letters, 15)
select1 <- sample(select, 10)
select2 <- sample(select, 10)
datf1 <- data.frame(label = select1, data1 = round(rnorm(10, 5, 3), 1))
datf2 <- data.frame(label = select2, data2 = round(rnorm(10, 5, 3), 1))
datf1
datf2

inner <- function(df1, df2)
{
    merge(df1, df2, by = "label", all = F)
}

inner(df1 = datf1, df2 = datf2)